<!DOCTYPE html>
<html lang="en">
<body ng-app="myApp" ng-controller="helpCtrl">
<div style="text-align: left;margin-left:20px;height:700px;">

<h6 align="left"><b>Please click</b>
<a style="cursor: pointer;" ng-click="downloadHelpDoc()">here</a>
				 <b>to download complete User Guide.</b>
</h6>
<h5 align="left">
				<b>Roles Available</b>
</h5>
		<h6 align="left">
		<b>Role_Admin - (Dashboard, Recruitment, Referral, Admin)</b>
		</h6>
		<h6 align="left">
		<b>Role_HR - (Dashboard, Recruitment, Referral)</b>
		</h6>
		<h6 align="left">
		<b>Role_Manager - (Dashboard, Recruitment, Referral)</b>
		</h6>
		<h6 align="left">
		<b>Role_Requsition_Manager - (Dashboard, Recruitment, Referral)</b>
		</h6>
		<h6 align="left">
		<b>Role_Interviewer - (Dashboard, Recruitment, Referral) Sub tab only interview</b>
		</h6>
		<h6 align="left">
		<b>Role_Requisition_Approver - (Dashboard, Recruitment, Referral)</b>
		</h6>	
		<h6 align="left">
		<b>Role_User - (Dashboard, Referral)</b>
		</h6>
		
		<h5 align="left">
				<b>Features</b>
</h5>
		<h6 align="left">
		<b>Dashboard</b>
		</h6>
		<h7 align="left">
		This page will provide you an overview of No. of Positions , Interview Schedule , Profiles Referred based on the role of User.
		</h7>
		<h6 align="left">
		<b>Profile</b>
		</h6>
		<h7 align="left">
		We can Add , View and Update candidate profiles, also can see the source ie Referral or Recruiter.
		</h7>
		<h6 align="left">
		<b>Requisition</b>
		</h6>
		<h7 align="left">
		We can create a Requisition as per the need of Organization , and assign it to the Resource Managers for the approval. Approval will be done at two
                                      Levels , Out of which 1 is mandatory, also We have provided Reject Functionality in case requisition requirement has been changed or  no more
                                      needed . Approved / Reject button will be visible to assigned approver only.
		</h7>
		
		<h6 align="left">
		<b>Position</b>
		</h6>
		<h7 align="left">
		We can View & Update all the positions created after requisition is approved, also we can see Profiles which are assigned for specific Position and their
                                current status. Based on Profile's status , we can update the status of Position as well.
		</h7>
		<h6 align="left">
		<b>Interview</b>
		</h6>
		<h7 align="left">
		We can schedule the interview and Submit the feedback for Profiles. Also we have added a functionality to assign multiple rounds of Interview without
                                   submitting the feedback of previous round.
		</h7>
		<h6 align="left">
		<b>Referral</b>
		</h6>
		<h7 align="left">
		We can see all referral positions under position tab , and referred Profiles by logged in User under Profile Tab.
		</h7>
		
		<h6 align="left">
		<b>Admin</b>
		</h6>
		<h7 align="left">
		We can Add/Update all the static data of Portal like , User Roles, Interview Rounds, Client Specific Pre-defined Job Descriptions. This tab will only be visible
                    to ROLE_ADMIN.
		</h7>
</div>
</body>
</html>
