
<div class="row">
	<div class="col-md-8 row">
		<div class="ui statistics" align="center">
			<div class="statistic col-md-3">
				<div class="value total">{{totalProfiles}}</div>
				<div class="label">
					<a ui-sref="recruitment.searchProfile">Profiles</a>
				</div>
			</div>
			<div class="statistic col-md-3">
				<div class="value total">{{totalRequisitions}}</div>
				<div class="label">
					<a ui-sref="recruitment.searchRequisition">requisition</a>
				</div>
			</div>
			<div class="statistic col-md-3">
				<div class="value total">{{totalPositions}}</div>
				<div class="label">
					<a ui-sref="recruitment.searchPosition">positions</a>
				</div>
			</div>
			<div class="statistic col-md-3">
				<div class="value total">{{HiredCount}}</div>
				<div class="label">hired</div>
			</div>
		</div>
		<br>

		<h5 style="margin-top: 10px">Statistics</h5>
		<hr>
		<div ng-hide="!hideNoPositionsMsg">
			<div class="row">
				<div class="col-md-2">Active</div>
				<div class=" col-md-10">
					<div class="ui progress">
						<div class="progress-bar progress-bar-success" role="progressbar"
							aria-valuenow="" aria-valuemin="0" aria-valuemax="100"
							ng-style="{width: (positionDetails.active + '%')}">{{graphData.Active
							|| "0"}}/{{graphData.Total || "0"}}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">InActive</div>
				<div class=" col-md-10">
					<div class="ui progress">
						<div class="progress-bar progress-bar-info" role="progressbar"
							aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
							ng-style="{width: (positionDetails.inactive + '%')}">{{graphData.Inactive
							|| "0"}}/{{graphData.Total || "0"}}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">Hired</div>
				<div class=" col-md-10">
					<div class="ui progress">
						<div class="progress-bar progress-bar-warning" role="progressbar"
							aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							ng-style="{width: (positionDetails.hired + '%')}">{{graphData.Hired
							|| "0"}}/{{graphData.Total || "0"}}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">OnHold</div>
				<div class=" col-md-10">
					<div class="ui progress">
						<div class="progress-bar progress-bar-danger" role="progressbar"
							aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
							ng-style="{width: (positionDetails.onhold + '%')}">{{graphData.Onhold
							|| "0"}}/{{graphData.Total || "0"}}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">Selected</div>
				<div class=" col-md-10">
					<div class="ui progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="44"
							aria-valuemin="0" aria-valuemax="100"
							ng-style="{width: (positionDetails.selected + '%')};"
							style="background: #c1c1c1">{{graphData.Selected ||
							"0"}}/{{graphData.Total || "0"}}</div>
					</div>
				</div>
			</div>
			<b>{{positionDetails.position}}</b> <br> <br>
			<div ng-repeat="position in designationWithStatusCount">
				<button class="statistics-btn" ng-if="position.Total != 0"
					ng-click="getGraphData(position.Position)">{{position.Position}}</button>
			</div>
		</div>
		<div ng-hide="hideNoPositionsMsg">
			<b style="font-size: 142%; color: #bfbbbb;">No Positions </b>
		</div>
		<br> <br>
		<h5 style="margin-top: 15px" align="center">Requisition for
			Approval</h5>
		<hr>
		<div class="row" style="padding: 10px">
			<div class="ui cards" ng-hide="showNoAppRequisitionMsg">
				<div class="card col-md-6"
					ng-repeat="requisition in requisitionsDetails">
					<div class="content">
						<span class="right req-title">{{requisition.requisitionId}}</span>
						<div class="header" align="left">
							Created By: <b>{{requisition.createdBy}}</b>
						</div>
						<div class="meta" align="left">
							<time am-time-ago="requisition.createdDate"></time>
						</div>
						<hr>
						<div class="description" ng-if="requisition.status == 'INITIATED'">
							You need to approve this requisition for <b>{{requisition.position}}</b>
							position.
						</div>
					</div>
					<div class="extra content">
						<div class="ui two buttons">
							<div class="ui basic green button"
								ng-click="editRequisition(requisition.requisitionId)">View
								Details</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-hide="!showNoAppRequisitionMsg">
				<b style="font-size: 142%; color: #bfbbbb;">You have no
					Requisition to approve.</b>
			</div>
		</div>

	</div>

	<div class="col-md-4" style="position: fixed; right: 0px;">
		<br>
		<div class="ui feed " style="font-size: 100%; margin-top: -15px;">
			<b style="margin-top: 10px; font-size: 115%;">Upcoming Events</b>
			<!-- <hr style="margin-left: 15px;"> -->
			<div style="max-height: 250px; height: auto; overflow: auto;">
				<div class="event"
					ng-repeat="schedule in showScheduleDataInterview | orderBy:createdDate "
					ng-hide="showNoInterviewMsg">
					<div class="label">
						<span ng-if="schedule.round == 'Technical Round 1'"
							class="initial" style="background: #e47575"
							ng-click="feedback(schedule.jobcode,schedule.email,schedule.status,schedule.interviewId)">TR
							1</span> <span ng-if="schedule.round == 'Technical Round 2'"
							class="initial" style="background: #d4ab61"
							ng-click="feedback(schedule.jobcode,schedule.email,schedule.status,schedule.interviewId)">TR
							2</span> <span ng-if="schedule.round == 'Hr Round'" class="initial"
							style="background: #7ad27a"
							ng-click="feedback(schedule.jobcode,schedule.email,schedule.status,schedule.interviewId)">HR
						</span> <span ng-if="schedule.round == 'Manager Round'" class="initial"
							style="background: #9696dc"
							ng-click="feedback(schedule.jobcode,schedule.email,schedule.status,schedule.interviewId)">MR</span>
					</div>
					<div class="content">
						<div class="summary" align="left">
							You need to take interview of <a class="user"
								style="cursor: pointer;"
								ng-click="feedback(schedule.jobcode,schedule.email,schedule.status,schedule.interviewId)">{{schedule.cname}}
							</a> for <a class="user" style="cursor: pointer;"
								ng-click="feedback(schedule.jobcode,schedule.email,schedule.status,schedule.interviewId)">{{schedule.round}}
							</a> on <b><time>{{ schedule.date | amDateFormat: 'dddd,
									MMMM Do YYYY, h:mm a' }}</time></b>.
							<div class="date">
								<time am-time-ago="schedule.createdDate"></time>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="showNoInterviewMsg">
				<b style="font-size: 142%; color: #bfbbbb;">No Events </b>
			</div>
			<div class="ui feed " style="font-size: 100%;">
				<b style="margin-top: 10px; font-size: 115%;">Recent Activities</b>
				<!-- <hr style="margin-left: 15px;"> -->
				<div align="left"
					style="max-height: 250px; height: auto; overflow: auto;">
					<div class="event" ng-repeat="feed in events">
						<div class="label">
							<span class="initial" style="width: 34px;"
								data-tooltip="{{feed.username}}">{{feed.username.charAt(0).toUpperCase()}}</span>
						</div>
						<div class="content">
							<div class="summary">
								{{feed.eventDesc}}<br>
								<div class="date">
									<time am-time-ago="feed.createdTimeStamp"></time>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
