<style>
.statistics-container {
	padding: 1% 8%;
	border-bottom: 1px solid #bbadad;
}

.progress-container {
	padding: 15px;
	/* border: 1px solid #bbadad; */
	border-radius: 5px;
}

.statistics-btn {
	background: none;
	padding: 4px;
	border: 1px solid #867777;
	border-radius: 3px;
	margin: 5px;
	float: left;
}

.initial {
	width: 51px;
	margin: 5px;
	float: left;
	padding: 10px 5px;
	font-size: 171%;
	height: 35px;
	background: #b5b4b4;
}

.req-title {
	background: #d0cdcd;
	color: #777575;
	padding: 14px;
	font-size: 124%;
	font-weight: bolder;
	border-radius: 5px;
}

.total {
	width: 100px;
	height: 100px;
	background: #c7c7c7;
	border-radius: 90px;
	padding: 26px 0;
	background: #c7c7c7;
	border-radius: 90px;
	border-radius: 90px;
}

.progress-bar {
	transition: width 1s ease-in-out;
}

.statistics-btn:clicked {
	background: none;
}

.ui.statistics>.statistic:first-child {
	border-left: none;
}

input[type='date']:after {
	content: attr(placeholder)
}

.dateText {
	text-align: center;
	font-size: 21px;
	font-family: initial;
	width: 56px;
	padding: 10px 0px 0px 0px;
}

.ui.cards {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 99%;
	margin: -2.2em -.5em;
	padding-bottom: 54px;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.datediv{
margin-left: 59px;
}
</style>

<!-- <div class="statistics-container" align="center"></div> -->
<!-- <div id="btn" class="ui black huge launch right attached button"
	style="display: absolute; left: 0px; width: 70px;">
	<i class="material-icons">keyboard_arrow_left</i> <span class="text"
		style="display: none;">Activities</span>
</div> -->


<!-- 
<div class="row" style="padding-top: 15px; padding-left: 10px;">
	<div class="col-md-1" style="padding: 5px 0px 0px 0px; width: 70px;">
		<lable class="dateText">From</lable>
	</div>

	<input style="width: 130px; margin-right: 15px; padding-left: 20px;"
		type="date" ng-model="fromdate">

	<div class="col-md-1" style="padding: 5px 0px 0px 0px; width: 50px">
		<lable class="dateText">To</lable>
	</div>

	<input style="width: 130px; margin-right: 15px; padding-left: 20px;"
		type="date" ng-model="todate">
	<button class="ui black basic button"
		" style="float: left; height: 32px" ng-click="getData()">Get
		Status!</button>


</div> -->


<div class="row" style="padding-top: 15px; padding-left: 20px; padding-bottom: 20px">
	<div id="requisitionDonut" style="float: left; " class="collapsible collapsible-accordion"
		ng-show="showNoAnyPositions"></div>
	<div ng-show="!showNoAnyPositions"
		style="float: left; width: 683px; height: 345px;">There are no positions to display</div>
	<br> <br>


	<div class="col-md-4" style="margin-top: -80px; margin-left: 50px; width:415px">
		<br>
		<div class="ui feed " style="font-size: 100%;">
			<div ng-hide="!hideNoInterviewMsg || hasNotRole('ROLE_HR') ">
				<h4 style="height:1px; width:80%;height: 1px;">
					Upcoming Events
					</h4>
					<hr style="background-color: black; height:1px; width: 80%">
					<div style="max-height: 250px; height: auto; overflow: auto;">
						<div class="event"
							ng-repeat="schedule in showScheduleData | orderBy:createdDate ">
							<div class="label">
								<span ng-if="schedule.round == 'Level 1'"
									class="initial" style="background: #ff0000">TR 1</span> <span
									ng-if="schedule.round == 'Level 2'" class="initial"
									style="background: #3366ff">TR 2</span> <span
									ng-if="schedule.round == 'HR'" class="initial"
									style="background: #66ff33">HR </span> 
							</div>
							<div class="content">
							
								<div class="summary" align="left">
								 <a class="user"
										ng-click="feedback(schedule.jobcode,schedule.email)">{{schedule.round}}
									</a>interview of <a class="user"
										ng-click="feedback(schedule.jobcode,schedule.email)">{{schedule.cname}}
									</a> is on <b><time>{{ schedule.date | amDateFormat: 'dddd,
											MMMM Do YYYY, h:mm a' }}</time></b>.
									<div class="date datediv" >
										<time am-time-ago="schedule.createdDate"></time>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		<div class="ui feed " style="font-size: 100%;">
			<div ng-hide="showNoInterviewMsg">
				<h4 style="margin-top: 10px;height: 1px;">
					Scheduled Events
					</h4>
					<hr style="background-color: black; height:1px; width: 80%">
					<div style="max-height: 250px; height: auto; overflow: auto;">
						<div class="event"
							ng-repeat="schedule in showScheduleDataInterview | orderBy:createdDate ">
							<div class="label">
								<span ng-if="schedule.round == 'Level 1'"
									class="initial" style="background: #ff0000">TR 1</span> <span
									ng-if="schedule.round == 'Level 2'" class="initial"
									style="background: #3366ff">TR 2</span> <span
									ng-if="schedule.round == 'HR'" class="initial"
									style="background: #66ff33">HR </span> 
							</div>
							<div class="content">
							
								<div class="summary" align="left">
									You need to take interview of <a class="user"
										ng-click="feedback(schedule.jobcode,schedule.email)">{{schedule.cname}}
									</a> for <a class="user"
										ng-click="feedback(schedule.jobcode,schedule.email)">{{schedule.round}}
									</a> on <b><time>{{ schedule.date | amDateFormat: 'dddd,
											MMMM Do YYYY, h:mm a' }}</time></b>.
									<div class="date datediv">
										<time am-time-ago="schedule.createdDate"></time>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div ng-show="offerData">
			<h4 style="margin-top: 10px; height: 1px;">Offer To Be Approved</h4>
			<hr style="background-color: black; height:1px; width: 80%;">
				<div class="summary" align="left" ng-repeat="offer in offers">
									You need to approve offer of the position <b>{{offer.approvedPositions}}</b>  for  <a class="user"
										ng-click="selectCandidate(offer)">{{offer.candidateName}}
									</a> 
									</div>
								</div>
			</div>
			<div class="ui feed " style="font-size: 100%;">
				<h4 style="margin-top: 25px; height: 1px;" noshade>
					Recent Activities
					</h4>
					<hr style="background-color: black; height:1px; width: 80%">
					<div align="left"
						style="max-height: 250px; height: auto; overflow: auto;">
						<div class="event" ng-repeat="feed in events">
							<div class="label" style="color: white">
								<span class="initial"
									ng-style="{'background-color':(($index%2)==0?'#ff0000':'#66ff33')}"
									tooltip="{{feed.username}}">{{feed.initial.toUpperCase()}}</span>
							</div>
							<div class="content">
								<div class="summary">
									{{feed.eventDesc}}<br>
									<div class="date datediv">
									<b><time>{{ feed.createdTimeStamp | amDateFormat: 'dddd,
											MMMM Do YYYY, h:mm a' }}</time></b>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>

	</div>
</div>
</div>
<div ng-show="!showNoAppRequisitionMsg">
	<h4 style="margin-top: 15px;height: 1px" align="center"     height: 1px;>Requisition for
		Approval</h4>
	<hr style="background-color: black; height:1px; width: 15%">
	<div class="row">
		<div class="ui cards" ng-hide="showNoAppRequisitionMsg">
			<div class="card col-md-6   " style="width: 370px;margin-top: 20px;margin-left: 20px;"
				ng-repeat="requisition in requisitionsDetails">
				<div class="content collapsible collapsible-accordion">
					<span class="right req-title">{{requisition.requisitionId}}</span>
					<div class="header" align="left">
						Created By: <b>{{requisition.createdBy}}</b>
					</div>
					<div class="meta" align="left">
						<time am-time-ago="requisition.createdDate"></time>
					</div>
					<hr>
					<div class="description" ng-if="requisition.status == 'INITIATED'">
						You need to approve this requisition for <b>{{requisition.position}}</b>
						position.
					</div>
				</div>
				<div class="extra content">
					<div class="ui two buttons">
						<div class="ui basic green button"
							ng-click="editRequisition(requisition.requisitionId)">View
							Details</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- <div class="row">
	<div class="col-md-6"></div>
	<div class="col-md-6">
		<h5 style="margin-top: 15px" align="center">Referred Profiles</h5>
		<hr>
	</div>
</div>
 -->

<!-- 
<script>
	$(".launch.button").mouseenter(function() {
		$(this).stop().animate({
			width : '215px'
		}, 300, function() {
			$(this).find('.text').show();
		});
	}).mouseleave(function(event) {
		$(this).find('.text').hide();
		$(this).stop().animate({
			width : '70px'
		}, 300);
	});
	$("#feed").sidebar({
		overlay : false
	}).sidebar('attach events', '.ui.launch.button');
</script>

 -->