<iframe
	src="http://192.168.32.100:5601/#/visualize/edit/Position-Reports?embed&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!f,query:'*')),
	vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'4',params:(field:location,order:desc,orderBy:'1',size:10),schema:segment,type:terms),
	(id:'6',params:(field:primarySkills,order:desc,orderBy:'1',size:5),schema:segment,type:terms),(id:'7',params:(field:client,order:desc,orderBy:'1',size:10),
	schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t,spyPerPage:10),type:pie))"
	height="350" width="550">
</iframe>

<iframe
	src="http://192.168.32.100:5601/#/visualize/edit/Profile-Reports?embed&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),
	vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(field:profileSource,order:desc,orderBy:'1',size:10),schema:segment,type:terms),
	(id:'3',params:(field:interviewSet,order:desc,orderBy:'1',size:10),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),
	type:pie))"
	height="350" width="550">
</iframe>

<iframe
	src="http://192.168.32.100:5601/#/visualize/edit/Interview-Reports?embed&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),
	vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(field:status,order:desc,orderBy:'1',size:10),schema:segment,type:terms),
	(id:'3',params:(field:rounds.interviewFeedback.communicationSkills,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),
	params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t,spyPerPage:10),type:pie))"
	height="350" width="550">
</iframe>

<iframe
	src="http://192.168.32.100:5601/#/visualize/edit/Requisition-Reports?embed&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),
	vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(field:noOfPositions,order:desc,orderBy:'1',size:10),schema:segment,type:terms),
	(id:'3',params:(field:client,order:desc,orderBy:'1',size:10),schema:segment,type:terms),(id:'4',params:(field:status,order:desc,orderBy:'1',size:10),
	schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),type:pie))"
	height="350" width="550">
</iframe>