<br>
<br>
<div ng-show="message" ng-include="'notificationTemplate.html'"></div>
<div class="row" ng-controller="editUserCtrl">
	<div class="col-md-1 col-sm-1 col-xs-1 "></div>
	<form class="col s12 m12 l10 collapsible collapsible-accordion"
		name="UserInformation" onvalidate>
		<div class="row collapsible-header">
			<h5 align="left" style="padding-bottom: 0px">
				<b>Employee Details
			</h5>
			<span class="validation-error"
					ng-show="UserInformation.$invalid">
					Please fill out all mandatory fields before navigating to other pages</span>
		</div>
		<div class="row">
			<div class="row">
				<div class="input-field col s6">
					<label style="position: absolute; top: -22px;">Name<b class="mandatory">*</b></label> <input
						class="form-control" name=userName ng-pattern="/^[a-zA-Z _]*$/"
						type="text" ng-minlength="3" ng-maxlength="30"
						ng-model="user.name" required> <!-- <span
						class="validation-error"
						ng-show="UserInformation.userName.$invalid"></span> -->
					<div class="validation-error"
						ng-show="UserInformation.userName.$error.required">
						User Name is required.</div>
					<div class="validation-error"
						ng-show="UserInformation.userName.$error.pattern">
						User Name must be characters only.</div>
					<div class="validation-error"
						ng-show="UserInformation.userName.$error.minlength">
						User Name must be at least 3 characters .</div>
				</div>
				<div class="input-field col s6">
					<b class="bannerRight">{{user.emailId}}</b> <label>Email</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6"> 
					<input class="form-control" maxlength="11" type="text" placeholder="Enter 10 digit number" name="mobileNo"
						ng-pattern="/^((0091)|0?)[1-9]{1}\d{9}$/" maxlength="11"
						ng-model="user.mobileNumber" required> <label style="position: absolute; top: -22px;">
						Mobile<b class="mandatory">*</b>
					</label>
					     <span class="validation-error"
					ng-show="UserInformation.mobileNo.$error.pattern">
					Mobile number should be numeric and 10 digit number</span>
				</div>
				<div class="input-field col s6">
					<input class="form-control" ng-change="validateSkypeId($data)"
						type="text" ng-model="user.skypeId"> <label>Skype
						ID</label>
				</div>
			</div>

			<div class="row">
				<!-- <div class="input-field col s6">
					<input type="date" ng-model="birthDate"
						max="{{todayDate | date : 'yyyy-MM-dd' }}" id="birthDate" required>
					<label>Date Of Birth <b class="mandatory">*</b>
					</label>
				</div> -->
				<div class="input-field col s6">
					<label>Location </label> <input class="form-control" type="text"
						ng-model="user.location">
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<span style="position: absolute; left: 7%;"> <b class="chip"
						ng-repeat="role in user.roles"> {{role}}{{$last ? '' : ''}} </b></span> <label>Roles
					</label>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="input-field col s12">
					<span style="position: absolute; left: 7%;"> <b class="chip"
						ng-repeat="skill in user.skills"> {{skill}}{{$last ? '' : ''}}
					</b></span> <label>Skills </label>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="input-field col s5">
					<span class="bannerClient"> <b class="chip"
						ng-repeat="client in user.clientName"> {{client}}{{$last ? ''
							: ''}} </b></span> <label>Clients </label>
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="input-field col s11">
					<button class="btn btn-info active" ng-click="update()"
						type="submit" ng-disabled="UserInformation.$invalid">
						<span class="glyphicon glyphicon-ok-circle"></span> Save
					</button>
					&nbsp;
					<button class="btn btn-info active" ui-sref="main">
						<span class="glyphicon glyphicon-remove"></span> Cancel
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
