
<br>
<div class="row" ng-show="showDiv">
	<div class="col-md-1 col-sm-1 col-xs-1 "></div>
	<form class="col s12 m12 l10 collapsible collapsible-accordion"
		name="ApproveOffer" onvalidate>
		<div class="row collapsible-header">
			<h5 align="left">
				<b>Approve Offer</b>
			</h5>
		</div>
		<!-- -->
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.candidateName}}</span><label>Candidate
					Name:</label>
			</div>
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.emailId}}</span> <label>Email
					Id: </label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.requisitionId}}</span><label>Requisition
					Id:</label>
			</div>
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.jobcodeProfile}}</span><label>JobCode:
				</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.approvedPositions}}</span> <label>Approved
					Positions: </label>
			</div>

		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.currentEmployer}}</span> <label>Current
					Employer:</label>
			</div>

			<div class="input-field col s6">
				<span class="offer-span">{{candidate.expYear}}</span><label>Experience
					(Yrs):</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.qualification[0].qualification}}</span>
				<label>Qualification:</label>
			</div>

			<div class="input-field col s6">
				<span class="offer-span"> {{candidate.profileSource}}</span><label>Profile
					Source:</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.client}}</span><label>Client:</label>
			</div>

			<div class="input-field col s6">
				<span class="offer-span">{{candidate.reportingManager.name}}</span><label>Reporting
					Manager: </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.project}} </span><label>Project:</label>
			</div>

			<div class="input-field col s6">
				<span class="offer-span">{{candidate.recruiter.name}} </span><label>Recruiter:</label>

			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.currency}} </span>
				<label> Currency: </label>
			</div>
			<div class="input-field col s6">
				<span class="offer-span">{{bu}} </span> <label> BU: </label>
			</div>

		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{stream}} </span> <label>Stream: </label>
			</div>
			<div class="input-field col s6">
				<span class="offer-span">{{level}} </span> <label> Level: </label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{grade.grade}} </span> <label>Grade:
				</label>
			</div>
			<div class="col-md-2"></div>
			<div class="input-field col s6">
				<span class="offer-span"> {{name.name}} </span> <label>
					Designation: </label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.relocationExpensesOffered}}</span>
				<label>Relocation Expenses: </label>
			</div>

			<div class="input-field col s6">
				<span class="offer-span">{{candidate.expectedJoiningDate |
					date:'medium'}}</span> <label>Expected Joining Date: </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.singInBonus}}</span><label>Sign-on
					Bonus:
				</label>

			</div>
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.noticePeriod}}</span><label>Notice
					Period (in days): </label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.lastDrawnCTC}}</span><label>Last
					Drawn CTC:
				</label>
			</div>
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.expectedCTC}}</span><label>Expected
					CTC :
				</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.proposedCTC}}</span><label>Proposed
					CTC:
				</label>
			</div>
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.businessUnit}} </span><label>Business
					Unit: </label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.currentLocation}}</span><label>Current
					Location:</label>
			</div>
			<div class="input-field col s6">
				<span class="offer-span">{{candidate.workLocation}}</span><label>Work
					Location: </label>
			</div>
		</div>
		<br>
		<div class="row">
			<h6 align="left">
				<b>Interviewer Remarks:</b>
			</h6>
		</div>
		<br>
		<tabset justified="true"> <tab
			ng-repeat="data in profile.rounds" heading="{{ data.roundName }}"
			active="data.active"> <br>
		<div class="row" ng-show="data.interviewFeedback">
			<div class="input-field col s6">
				<p class="viewInterview">{{data.interviewFeedback.feedbackSubmittedBy}}</p>
				<label>Feedback SubmittedBy :</label>
			</div>

		</div>
		<div
			ng-if="(data.roundName == 'Technical Round 1') || (data.roundName == 'Technical Round 2')"
			class="row" ng-show="data.interviewFeedback"
			ng-repeat="skill in data.interviewFeedback.rateSkills">
			<div class="input-field col s6">
				<p class="viewInterview">{{skill.skill}}</p>
				<label>Skill :</label>
			</div>
			<div class="input-field col s6">
				<p class="viewInterview">{{skill.rating}}/5</p>
				<label>Rating :</label>
			</div>
		</div>
		<div
			ng-if="(data.roundName == 'Manager Round') || (data.roundName == 'Hr Round')"
			class="row" ng-show="data.interviewFeedback">
			<div class="input-field col s6">
				<p class="viewInterview">{{data.interviewFeedback.managementSkillset}}/5</p>
				<label>Management Skills :</label>
			</div>
			<div class="input-field col s6">
				<p class="viewInterview">{{data.interviewFeedback.selfLearningAndInitiative}}/5</p>
				<label>SelfLearning & Initiative :</label>
			</div>
		</div>
		<div
			ng-if="(data.roundName == 'Manager Round') || (data.roundName == 'Hr Round')"
			class="row" ng-show="data.interviewFeedback">
			<div class="input-field col s6">
				<p class="viewInterview">{{data.interviewFeedback.customerOrientation}}/5</p>
				<label>Customer Orientation :</label>
			</div>
			<div class="input-field col s6">
				<p class="viewInterview">{{data.interviewFeedback.businessAttitude}}/5</p>
				<label>Business Attitude :</label>
			</div>
		</div>
		<div
			ng-if="(data.roundName == 'Manager Round') || (data.roundName == 'Hr Round')"
			class="row" ng-show="data.interviewFeedback">
			<div class="input-field col s6">
				<p class="viewInterview">{{data.interviewFeedback.flexibility}}/5</p>
				<label>Flexibility :</label>
			</div>
			<div class="input-field col s6">
				<p class="viewInterview">{{data.interviewFeedback.teamWork}}/5</p>
				<label>TeamWork :</label>
			</div>
		</div>
		<div
			ng-if="(data.roundName == 'Manager Round') || (data.roundName == 'Hr Round')"
			class="row" ng-show="data.interviewFeedback">
			<div class="input-field col s6">
				<p class="viewInterview">{{data.interviewFeedback.onsiteSuitability}}/5</p>
				<label>Onsite Suitability :</label>
			</div>
			<div class="input-field col s6">
				<p class="viewInterview">{{data.interviewFeedback.consultingAndArticulationSkills}}/5</p>
				<label>Consulting & ArticulationSkills :</label>
			</div>
		</div>
		<div class="row" ng-show="data.interviewFeedback">
			<div class="input-field col s12">
				<p style="position: relative; top: -15px; left: 23%;">{{data.interviewFeedback.additionalSkills
					|| "--"}}</p>
				<label>Additional Skills :</label>
			</div>
		</div>
		<div class="row" ng-show="data.interviewFeedback">
			<div class="input-field col s12">
				<p style="position: relative; top: -15px; left: 23%;">{{data.interviewFeedback.strengths
					|| "--"}}</p>
				<label>Strengths :</label>
			</div>
		</div>
		<div class="row" ng-show="data.interviewFeedback">
			<div class="input-field col s12">
				<p style="position: relative; top: -15px; left: 23%;">{{data.interviewFeedback.improvement
					|| "--"}}</p>
				<label>Improvement :</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea class="materialize-textarea" cols="50" rows="2"
					ng-change="changeEvent()" name="notes"
					ng-model="candidate.approval.comment"
					placeholder="Enter any additional notes..."></textarea>
				<label style="position: absolute; top: -22px;">Approvers
					Comment</label>
			</div>
		</div>
		<br>
		<div class="row" ng-show="candidate.approvalList">
			<div class="input-field col s12">
				<label style="position: absolute; top: -22px;">Summary:</label>
			</div>
		</div>
		<div class="row" ng-show="candidate.approvalList">
			<table class="bordered offertable" style="font-size: 14px;">
				<thead>
					<tr>
						<th>Date</th>
						<th>Approver</th>
						<th>Status</th>
						<th>HR Comment</th>
						<th>Approver Comment</th>
					</tr>
				</thead>
				<tbody>
					<tr class="animate-repeat"
						ng-repeat="data in candidate.approvalList" style="font-size: 80%">
						<td>{{data.updatedDate | date:'medium'}}</a></td>
						<td>{{data.name}}</a></td>
						<td>{{data.status}}</td>
						<td>{{data.hrComment}}</td>
						<td>{{data.comment}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div align="center" class="row">
			<button class="btn btn-info active" type="submit"
				ng-disabled="showApprovalBtn" ng-click="ApprovedOffer()">
				<span class="glyphicon glyphicon-ok-circle"></span> Approve
			</button>
			<button class="btn btn-info active" type="submit"
				ng-click="RejectOffer()" ng-disabled="showRejectBtn">
				<span class="glyphicon glyphicon-ok-circle"></span> Reject
			</button>
			<button class="btn btn-info active" type="submit"
				ng-disabled="showNegotiateBtn" ng-click="NegotiateOffer()">
				<span class="glyphicon glyphicon-ok-circle"></span> Negotiate
			</button>
			<button class="btn btn-info active" ui-sref="offer.list">
				<span class="glyphicon glyphicon-remove"></span> Cancel
			</button>
		</div>
	</form>
	<div class="col-md-1 col-sm-1 col-xs-1 "></div>
</div>
<div class="row" ng-show="!showDiv">
	<h6>
		<b style="color: red;">There are no offers that warrant your
			approval!</b>
	</h6>
	<br>
	<button class="btn btn-info active" ui-sref="offer.list">
		<span class="glyphicon glyphicon-remove"></span> Back
	</button>
</div>
<br>
<br>
