<br>
<div class="row " align="center">
	<form id="createOfferForm" class="col s12 m12 l10 collapsible collapsible-accordion formWidth"  align="center"
		name="createOffer"  onvalidate>
		<div class="row">
		<div class="row collapsible-header" >
			<div class="input-field col s1">
				<span> <img class="headerIcon" 
					src="static/osi_images/offerBlack.png"></img>
				</span>
			</div>
				<h5 align="left">
					<b>Create Offer</b>
				</h5>
		</div>
		</div>
		<!-- -->
			<div class="ui segment segmentPadding">
				<div class="row" style="padding-left:0%;padding-top:1%">
					<div class="input-field col s6">
						<input placeholder="Enter Candidate Name" ng-minlength="3"
							ng-maxlength="30" name="candidateName" class="form-control"
							type="text" ng-model="candidate.candidateName" ng-disabled="true"
							ng-pattern="/^[a-zA-Z _]*$/" required> <label 
							style="position: absolute; top: -22px;">Candidate Name<b
							class="mandatory">*</b></label>
					</div>
					<div class="input-field col s6">
						<input type="email" name="emailId" class="form-control"
							ng-model="candidate.emailId" ng-disabled="true" required>
							 <label class="blackFont"
							style="position: absolute; top: -22px;">Email Id <b
							class="mandatory">*</b>
						</label>
					</div>
				</div>
				<div class="row"  style="padding-left:0%">
					<div class="input-field col s6">
						<input placeholder="Enter requisitionId" name="requisitionId"
							class="form-control" type="text" ng-model="candidate.requisitionId"
							ng-disabled="true" required> <label
							style="position: absolute; top: -22px;">Requisition Id<b
							class="mandatory">*</b></label>
					</div>
					<div class="input-field col s6">
						<input name="jobcodeProfile" class="form-control"
							ng-model="candidate.jobcodeProfile" ng-disabled="true" style="width:75%" required>
						<label style="position: absolute; top: -22px;">JobCode <b
							class="mandatory">*</b>
						</label>
					</div>
				</div>
				<div class="row" style="padding-left:0%">
					<div class="input-field col s6">
						<input name="approvedPositions" class="form-control"
							ng-model="candidate.approvedPositions" ng-disabled="true" style="width:75%" required>
						<label style="position: absolute; top: -22px;">Approved
							Position <b class="mandatory">*</b>
						</label>
					</div>
					<div class="input-field col s6">
						<select ng-model="candidate.currency" name="currency"
							style="background-color:white;"
							ng-options="o for o in info.currencies" class="form-control input-sm" required>
							<option>Select Currency</option>
						</select> <label style="position: absolute; top: -22px;"> Currency: <b class="mandatory">*</b></label>
					</div>
				</div>
		</div>
		<div class="ui segment  segmentPadding">
			<div class="row" style="padding-left:0%">
				<div class="input-field col s6">
					<input placeholder="Enter current Employer"
						name="currentEmployer" class="form-control" type="text"
						ng-model="candidate.currentEmployer" ng-pattern="/^[a-zA-Z .]*$/" required> <label
						style="position: absolute; top: -22px;" >Current Employer<b class="mandatory">*</b>
					</label>
					<div class="validation-error"
						 ng-show="(createOffer.currentEmployer.$dirty || invalidSubmitAttempt) && createOffer.currentEmployer.$error.pattern">
					              Enter valid Current Employer.</div>
					
				</div>
			
				<div class="input-field col s6">
					<input placeholder="Enter Experience (Yrs)" name="expYear"
						class="form-control" type="text" ng-model="candidate.expYear" ng-pattern="/^-?\d+\.?\d*$/" maxlength="4" required> 
						<label style="position: absolute; top: -22px;">Experience
						(Yrs)<b class="mandatory">*</b>
					</label>
					<div class="validation-error"
					 ng-show="(createOffer.expYear.$dirty || invalidSubmitAttempt) && createOffer.expYear.$error.pattern">Experience must be numeric only.</div>
				</div>
				
			</div>
			<div class="row"
				style=" position: relative;  width: 88.6%; margin-left: 12px; margin-bottom:25px; "
				>
				
				<table class="ui single line table" >
				 <thead>
				    <tr>
				      <th>Qualification</th>
				      <th>Stream</th>
				      <th>Percentage</th>
				    </tr>
				  </thead>
				   <tr ng-repeat="data in candidate.qualification">
				      <td> {{data.qualification}}</td>
				      <td>{{data.stream || "--"}}</td>
				      <td>{{data.percentage}}</td>
				    </tr>
				</table>
			</div>
		</div>
		<div class="ui segment segmentPadding">
				<div class="row" style="padding-left:0%">
					<div class="input-field col s6">
						<input name="client" class="form-control" type="text"
							ng-model="candidate.client" ng-disabled="true" required> <label
							style="position: absolute; top: -22px;">Client<b
							class="mandatory">*</b></label></label>
					</div>
		
					<div class="input-field col s6">
						<select ng-model="candidate.reportingManager"
							name="reportingManager"
							ng-options="o.name for o in managers track by o.emailId"
							class="form-control input-sm" required>
							<option value="" disabled="disabled">Select Reporting
								Manager</option>
						</select> <label style="position: absolute; top: -22px;">Reporting
							Manager<b class="mandatory">*</b>
						</label>
					</div>
				</div>
		
				<div class="row" style="padding-left:0%">
					<div class="input-field col s6">
						<input placeholder="Enter Project name" name="stream"
							class="form-control" type="text" ng-model="candidate.project"  ng-pattern="/^[a-zA-Z0-9 _.]*$/"
							required> <label style="position: absolute; top: -22px;">Project
							<b class="mandatory">*</b>
						</label></label>
						<div class="validation-error"
						 ng-show="(createOffer.stream.$dirty || invalidSubmitAttempt) && createOffer.stream.$error.pattern">
					               Enter valid Project Name.</div>
					</div>
					<div class="input-field col s6">
						<input placeholder="Enter profileSource" name="source"
							class="form-control" type="text" ng-model="candidate.profileSource" required>
						<label style="position: absolute; top: -22px;" >Profile
							Source<b class="mandatory">*</b> </label></label>
					</div>
				</div>
				<div class="row" style="padding-left:0%">
					<div class="input-field col s6">
						<select ng-model="bu" name="currency" ng-change="selectStream(bu)"
							ng-options="o for o in bus" class="form-control input-sm" required>
							<option value="" disabled="disabled">Select BU</option>
						</select> <label style="position: absolute; top: -22px;"> BU<b
							class="mandatory">*</b> </label>
					</div>
					<div class="input-field col s6">
						<select ng-model="stream" name="currency" ng-change="selectLevel(stream)"
							ng-options="o for o in streamData track by o"
							class="form-control input-sm" required>
							<option value="" disabled="disabled">Select functional area</option>
						</select> <label style="position: absolute; top: -22px;">Functional Area<b
							class="mandatory">*</b> </label>
					</div>
				</div>
				<div class="row" style="padding-left:0%">
					<div class="input-field col s2">
						<select ng-model="level" name="currency" ng-change="selectGrade(level)" 
							ng-options="o for o in levelDatalist track by o" class="form-control input-sm" required>
							<option value="" disabled="disabled">Select Level</option>
						</select> <label style="position: absolute; top: -22px;"> Level<b
							class="mandatory">*</b> </label>
					</div>
					<div class="input-field col s2">
						<select ng-model="grade" name="grade" ng-change="selectDesignation(grade)" 
							ng-options="o.grade for o in  designationgrades track by o.grade"
							class="form-control input-sm" required>
							<option value="" disabled="disabled">Select Grade</option>
						</select> <label style="position: absolute; top: -22px;">Grade<b
							class="mandatory">*</b> </label>
					</div>
						<div class="col-md-2"></div>
						<div class="input-field col s6">
						<select ng-model="name" name="designation"
							ng-options="o.name for o in designationdesignations track by o.name"
							class="form-control input-sm" required>
							<option value="" disabled="disabled">Select Designation</option>
						</select> <label style="position: absolute; top: -22px;">Designation<b
							class="mandatory">*</b> </label>
					</div>
		
				</div>
				<div class="row" style="padding-left:0%">
					<div class="input-field col s6">
						<input placeholder="Enter Relocation Allowance" name="relAlowance"
							class="form-control" type="number"
							ng-model="candidate.relocationExpensesOffered" required> <label
							style="position: absolute; top: -22px;">Relocation Expenses
							Offered<b class="mandatory">*</b>
						</label>
						<div class="validation-error"
							ng-show="(createOffer.relAlowance.$dirty  || invalidSubmitAttempt) && createOffer.relAlowance.$error.pattern">
							Relocation Expenses Offered must be number only.</div>
					</div>
		
					<div class="input-field col s6">
						<input type="date" ng-model="candidate.expectedJoiningDate"
							min="{{today | date : 'yyyy-MM-dd' }}" required> <label>Expected
							Joining Date<b class="mandatory">*</b>
						</label>
					</div>
				</div>
		
				<div class="row" style="padding-left:0%">
					<div class="input-field col s6">
						<input placeholder="Enter Sign-on Bonus" name="bonus"
							class="form-control" type="number" ng-model="candidate.singInBonus"
							required> <label style="position: absolute; top: -22px;">Sign-on
							Bonus <b
							class="mandatory">*</b>
						</label>
		
					</div>
					<div class="input-field col s6">
						<input placeholder="Enter Notice Period" name="noticePeriod"
							class="form-control" type="number"
							ng-model="candidate.noticePeriod" maxlength="2" required> <label
							style="position: absolute; top: -22px;">Notice Period (in
							days)<b class="mandatory">*</b>
						</label>
					</div>
				</div>
				<div class="row" style="padding-left:0%">
					<div class="input-field col s6">
						<input placeholder="Enter current CTC" name="currentCTC"
							class="form-control" type="number"
							ng-model="candidate.lastDrawnCTC" required>
							 <label tyle="position: absolute; top: -22px;">Last Drawn CTC 
							<b class="mandatory">*</b>
						</label><span class="validation-error" ng-show="(candidate.lastDrawnCTC <=0) ?  true : false">Current CTC should be greater than 0</span>
		
					</div>
					<div class="input-field col s6">
						<input placeholder="Enter expected CTC" name="expectedCTC"
							class="form-control" type="number" ng-model="candidate.expectedCTC"
							required> <label style="position: absolute; top: -22px;">Expected CTC<b
							class="mandatory">*</b>
						</label><span class="validation-error" ng-show="(candidate.expectedCTC <=0) ?  true : false">Expected CTC should be greater than 0</span>
		
					</div>
				</div>
				<div class="row" style="padding-left:0%">
					<div class="input-field col s6">
						<input placeholder="Enter Proposed CTC" name="proposedCTC"
							class="form-control" type="number" ng-model="candidate.proposedCTC" required>
							<label style="position: absolute; top: -22px;">Proposed CTC<b class="mandatory">*</b>
						</label><span class="validation-error" ng-show="(candidate.proposedCTC <=0) ?  true : false">Proposed CTC should be greater than 0</span>
		
					</div>
					
					<div class="input-field col s6">
						<textarea class="materialize-textarea" cols="50" rows="2"
							name="notes" ng-model="candidate.comments"
							placeholder="Enter any additional notes..." style="width:77%"></textarea>
						<label style="position: absolute; top: -22px;">HR Comment</label>
					</div>
				</div>
				<div class="row" style="padding-left:0%">
					<div class="input-field col s6">
						<input placeholder="Enter Current Location" name="currentLocation"
							class="form-control" type="text"
							ng-model="candidate.currentLocation" ng-pattern="/^[a-zA-Z _]*$/" required> <label
							style="position: absolute; top: -22px;">Current Location<b
							class="mandatory">*</b></label>
					<div class="validation-error"
						 ng-show="(createOffer.currentLocation.$dirty || invalidSubmitAttempt) && createOffer.currentLocation.$error.pattern">
					               Current location must be characters only.</div>
					</div>
					<div class="input-field col s6">
						<input placeholder="Enter Work Location" name="workLocation"
							class="form-control" type="text" ng-model="candidate.workLocation" ng-pattern="/^[a-zA-Z _]*$/"
							required> <label style="position: absolute; top: -22px;">Work
							Location<b class="mandatory">*</b>
						</label>
					<div class="validation-error"
						 ng-show="(createOffer.workLocation.$dirty || invalidSubmitAttempt) && createOffer.workLocation.$error.pattern">
					               Work location must be characters only.</div>
					</div>
				</div>
				<div class="row" style="padding-left:0%">
					<div class="input-field col s6">
						<select placeholder="Select Approver 1"
							ng-model="candidate.approval"
							ng-options="o.name for o in approval1 track by o.emailId"
							class="form-control input-sm" required>
							<option value="" disabled="disabled">Select Approver</option>
						</select> <label>Approver<b class="mandatory">*</b></label>
					</div>
					<div class="input-field col s6">
						<select placeholder="Select Final Status"
							ng-model="candidate.finalStatus" ng-disabled="hideFinalStatus"
							ng-options="o for o in finalStatusList"
							class="form-control input-sm">
							<option value="">Select Final Status</option>
						</select> <label>Final Status</label>
					</div>
				</div>
				<br>
				</div>
		
		<div class="row" >
			<div class="input-field col s12" ng-show="candidate.approvalList">
				<h4 class="ui dividing header" align="left">Summary:</h4>
				<!-- <label style="position: absolute; top: -22px;">Summary:</label> -->
			</div>
		</div>
		<div class="row" ng-show="candidate.approvalList">
			<table class="ui celled violet table" style="font-size: 14px;">
				<thead>
					<tr>
						<th>Date</th>
						<th>Approver</th>
						<th>Status</th>
						<th>HR Comment</th>
						<th>Approver Comment</th>
					</tr>
				</thead>
				<tbody>
					<tr class="animate-repeat"
						ng-repeat="data in candidate.approvalList" style="font-size: 80%">
						<td><b>{{data.updatedDate | date:'medium'}}</b></a></td>
						<td><b>{{data.name}}</b></a></td>
						<td><b>{{data.status}}</b></td>
						<td><b>{{data.hrComment}}</b></td>
						<td><b>{{data.comment}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div align="center" class="row">
			<button class="btn btn-info active" ng-hide="hasNotRole('ROLE_HR')"
				ng-disabled="createOffer.$invalid || disableSendApproval || candidate.finalStatus"
				ng-click="approve()">
				<span class="glyphicon glyphicon-ok-circle"></span> Send for
				Approval
			</button>
			<button class="btn btn-info active" type="submit"
				ng-disabled="createOffer.$invalid || disableSendApproval" ng-click="saveOffer()">
				<span class="glyphicon glyphicon-ok-circle"></span> Save
			</button>
			<button class="btn btn-info active" ui-sref="offer.list">
				<span class="glyphicon glyphicon-remove"></span> Cancel
			</button>
		</div>
	</form>
	<div class="col-md-1 col-sm-1 col-xs-1 "></div>
</div>
<br>
<br>
