<html>
<body style="font-family:calibri; font-size:15px; background-color:#F9FCF7;">

<div style="border:1px solid #004C7F;border-bottom-color: #004C7F; color:black;border-color:#004C7F;">
<div style="padding-left:20px; padding-right:20px;">
<p style="color: black;font-size:15px; font-family:Calibri;">
Hi $approverName,<br><br>
 Please approve the Requisition .
<form action="http://localhost:8080/osi-recruitment-portal/main.html#"><input type="submit" name= "Approve" value = "Approve"/></form>

<br><br>
 <span style="font-size:15px">Regards,</span><br>
 <span style="font-size:15px">Recruitment Team,</span><br>
 <span style="font-size:15px"><a href="http://nisum.com/index.html">Nisum Technologies<b></a></span><br>
</div>
</div>
<div style="background-color:#D0D0D0;border-color:#004C7F;height:30px;">
<a href="http://nisum.com" target="_blank"><img src="http://www.nisum.com/images/logo.png"></a>

</div> 
<br>
</body>
</html>