<html>
<body style="font-family:calibri; font-size:20px; ">
<table   style="background-color:blue;height=300px; width=850px" >
<td bgcolor="#4d94ff">


  <a  target="_blank" style="font-size: 35px;text-decoration: blink;">
     <img src="http://res.cloudinary.com/drozpmklt/image/upload/v1475603345/osiimage_xa6wf8.png" style="width:100%; height:90px" /> </a>

<div style="padding-left:20px; padding-right:20px; font-size: margin-left:15px">

  <h4 style="background-color:red; color:white ;  font-family:initial; font-size:23px;"> &nbsp;&nbsp; &nbsp; Requirement : $position</h4>
  <span style="color:yellow ;  font-family:initial; font-size:20px;">&nbsp;&nbsp;
    Following are the reqirenments for above job
    <ul>
      <li>Skills : $skills</li>
       <li>Experience : $min_exp to $max_exp </li>
       <li>Qualification : $qualification </li>
       <li>Job code : $jobcode </li>
       <li>Job Description : $job_description </li>
    </ul>
</span>
<h2 style="color: white">&nbsp;&nbsp;Work Location : $location </h2>

<div  align="center" style="color:black ;width:100%;  font-family:initial; font-size:18px; margin-top:30px; background-color: #ffe680; float: right ">
<span>&nbsp;&nbsp;&nbsp;Please login to OSI Recruitment Portal to refer your friend</span><br>
<h4 align="center" style="margin-top:15px">&nbsp;&nbsp;Regards ,<br>
&nbsp;&nbsp;OSI India HR</h4>
</div>
</div>

</td>
</table>
</body>
</html>
