<html>
<body style="font-family:calibri; font-size:15px; background-color:#F9FCF7;">
<table>
<td background="http://res.cloudinary.com/drozpmklt/image/upload/c_scale,h_300,w_850/v1475159464/background_vbpsvu.jpg" height="300" width="850" bgcolor="#D9E1E5">
<!--[if gte mso 9]>
<v:image xmlns:v="urn:schemas-microsoft-com:vml" id="theImage" style='behavior: url(#default#VML); display:inline-block;position:absolute; height:300px; width:850px;top:0;left:0;z-index:1;' src="http://res.cloudinary.com/drozpmklt/image/upload/c_scale,h_300,w_850/v1475159464/background_vbpsvu.jpg"/>
<v:shape xmlns:v="urn:schemas-microsoft-com:vml" id="theText" style='behavior: url(#default#VML); display:inline-block;position:absolute; height:300px; width:850px;top:-5;left:-10;z-index:2;'>
<div style=" color:black;">
<div>
<![endif]-->
<!-- This is where you nest a table with the content that will float over the image -->
<table style="width:100%">
<tr>
<td>
<div style="padding-left:20px; padding-right:20px;">
<p style="color: black;font-size:15px; font-family:Calibri;">
Hi, <br><br>
  Profile has been created for the candidate. 
#if($created_by_user == true) HR is requested to approve the same.#end
<br><br> 
 <table style="width:450px;">

<tr><td style="text-align:left;size: 9px 9px; "><b>Candidate Name :</td>
<td style="text-align:left;size: 9px 9px;">$candidateName</td> 
</tr>

<tr><td style="text-align:left;"><b>Total Experience : </td>
<td style="text-align:left;">$total_exp</td>
</tr>

<tr><td style="text-align:left;"><b>Primary Skills :</td>
<td style="text-align:left;">$skills</td>
</tr>
#if($other_skills)
<tr><td style="text-align:left; "><b>Other Skills :</td>
<td style=" text-align:left;">$other_skills</td>
</tr>
#end

<tr><td style=" text-align:left;size: 9px 9px; "><b>Submitted By :</td>
<td style="text-align:left;size: 9px 9px; ">$submittedBy</td> 
</tr>
</table><br><br>
  
 <span style="font-size:15px">Regards</span><br>
 <span style="font-size:15px">Recruitment Team</span><br>
</div>
</td>
</tr>
</table>

<div style="background-color:#D9E1E3;height:50px;border:1px solid #004C7F;">
<a href="http://osi-tech.com" target="_blank" style="font-size: 35px;text-decoration: blink;">
  <img src="http://res.cloudinary.com/dezw8ubjn/image/upload/c_scale,h_35,w_180/v1474961866/osi-logo2_moiygl.png" style="width:350px; height:40px" /> </a>
</div>

</div>
</td>
</table>	
</body>
</html>