<html xmlns:v="urn:schemas-microsoft-com:vml">
<body style="font-family:calibri; font-size:15px; background-color:#F9FCF7;">

<div style="border:1px solid #004C7F;border-bottom-color: #004C7F; color:black;border-color:#004C7F;">
<table style="width:100%" background="http://res.cloudinary.com/drozpmklt/image/upload/c_scale,h_300,w_850/v1475159464/background_vbpsvu.jpg">
<!--[if gte mso 9]>
<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
           <v:fill type="tile" src="http://www.thiespublishing.com/images/arrow.gif" />
</v:background>
<![endif]-->
<tr>
<td>

<div style="padding-left:20px; padding-right:20px;">
<p style="color: black;font-size:15px; font-family:Calibri;">
Hi, <br><br>
  Profile has been created for the candidate. 
#if($created_by_user == true) HR is requested to approve the same.#end
<br><br> 
 <table style="width:450px; border: 0px solid Gray;">

<tr><td style="border: 0px solid #000000; text-align:left;size: 9px 9px;"><b>Candidate Name :</td>
<td style="border: 0px solid #000000;text-align:left;size: 9px 9px;">$candidateName</td> 
</tr>

<tr><td style="border: 0px solid #000000;text-align:left;"><b>Total Experience : </td>
<td style="border: 0px solid #000000;text-align:left;">$total_exp</td>
</tr>

<tr><td style="border: 0px solid #000000;text-align:left; "><b>Primary Skills :</td>
<td style="border: 0px solid #000000; text-align:left;">$skills</td>
</tr>
#if($other_skills)
<tr><td style="border: 0px solid #000000;text-align:left; "><b>Other Skills :</td>
<td style="border: 0px solid #000000; text-align:left;">$other_skills</td>
</tr>
#end

<tr><td style="border: 0px solid #000000; text-align:left;size: 9px 9px; "><b>Submitted By :</td>
<td style="border: 0px solid #000000;text-align:left;size: 9px 9px;">$submittedBy</td> 
</tr>
</table><br><br>
  
 <span style="font-size:15px">Regards</span><br>
 <span style="font-size:15px">Recruitment Team</span><br>
</div>
</td>
</tr>
</table>	
<div style="background-color:#D9E1E3;height:50px;border:1px solid #004C7F;border-bottom-color: #D9E1E3">
<a href="http://osi-tech.com" target="_blank" style="font-size: 35px;text-decoration: blink;">
  <img src="http://res.cloudinary.com/dezw8ubjn/image/upload/c_scale,h_35,w_180/v1474961866/osi-logo2_moiygl.png" style="width:350px; height:40px" /> </a>
</div>

</div>

</body>
</html>