<html>
<body style="font-family:calibri; font-size:15px; background-color:#F9FCF7;">
<table>
<td height="300" width="850" bgcolor="#D9E1E5">
<table style="width:100%">
<tr>
<td>
<div style="padding-left:20px; padding-right:20px;">
<p style="color: black;font-size:15px; font-family:Calibri;">
Hi, <br><br>
  Requisition $requisitionId is rejected. 

<br> 
 <table style="width:450px;">

<tr><td style="text-align:left;size: 9px 9px; "><b>Created By :</td>
<td style="text-align:left;size: 9px 9px;">$createdBy</td> 
</tr>

<tr><td style="text-align:left;size: 9px 9px; "><b>Comments :</td>
<td style="text-align:left;size: 9px 9px;">$comments</td> 
</tr>

<tr><td style="text-align:left;size: 9px 9px; "><b>Approver1 :</td>
<td style="text-align:left;size: 9px 9px;">$approver1</td> 
</tr>

<tr><td style="text-align:left;"><b>Approver1 Comments : </td>
<td style="text-align:left;">$app1Comments</td>
</tr>

<tr><td style="text-align:left;size: 9px 9px; "><b>Approver2 :</td>
<td style="text-align:left;size: 9px 9px;">$approver2</td> 
</tr>

<tr><td style="text-align:left;"><b>Approver2 Comments : </td>
<td style="text-align:left;">$app2Comments</td>
</tr>

<tr><td style="text-align:left;"><b>Rejected By : </td>
<td style="text-align:left;">$rejectedBy</td>
</tr>

</table><br>
  
 <span style="font-size:15px">Regards</span><br>
 <span style="font-size:15px">OSI India HR</span><br>
</div>
</td>
</tr>
</table>

<div style="background-color:#D9E1E3;height:50px;border:1px solid #004C7F;">
<a href="http://osius.com" target="_blank" style="font-size: 35px;text-decoration: blink;">
  <img src="http://res.cloudinary.com/dezw8ubjn/image/upload/c_scale,h_35,w_180/v1474961866/osi-logo2_moiygl.png" style="width:350px; height:40px" /> </a>
</div>

</div>
</td>
</table>	
</body>
</html>