<div class="row pageWidth">
	<div class="col-md-1 col-sm-1 col-xs-1 "></div>
	<form class="col s12 m12 l10 collapsible collapsible-accordion"
		name="CreateRequisition" onvalidate>
		<div class="row collapsible-header">
			<div class="input-field col s1">
				<span> <img class="headerIcon"
					src="static/osi_images/vecancy.png"></img>
				</span>
			</div>

			<h5 align="left" class="headerTitleCreateProfile">
				<b class="headerName">Create Requisition</b>
			</h5>

			<button class="ui teal button reset" nq-model="requisition"
				ng-click="reset()">
				<span class="glyphicon glyphicon-refresh"></span> Reset
			</button>
		</div>

		<div class="ui segment segmentPadding">
			<div class="row" style="padding-left: 0%">
				<div class="input-field col s6">
					<select ng-model="bu" name="currency" ng-change="selectStream(bu)"
						ng-options="o for o in bus" class="form-control input-sm" required>
						<option value="" disabled="disabled">Select BU</option>
					</select> <label style="position: absolute; top: -22px;"> BU<b
						class="mandatory">*</b>
					</label>
				</div>
				<div class="input-field col s6">
					<select ng-model="stream" name="currency"
						ng-change="selectLevel(stream)"
						ng-options="o for o in streamData track by o"
						class="form-control input-sm" required>
						<option value="" disabled="disabled">Select functional
							area</option>
					</select> <label style="position: absolute; top: -22px;">Functional
						Area<b class="mandatory">*</b>
					</label>
				</div>
			</div>
			<div class="row" style="padding-left: 0%">
				<div class="input-field col s6">
					<select ng-model="level" name="currency"
						ng-change="selectGrade(level)"
						ng-options="o for o in levelDatalist track by o"
						class="form-control input-sm" required>
						<option value="" disabled="disabled">Select Level</option>
					</select> <label style="position: absolute; top: -22px;"> Level<b
						class="mandatory">*</b>
					</label>
				</div>
				<div class="input-field col s6">
					<select ng-model="grade" name="grade"
						ng-change="selectDesignation(grade)"
						ng-options="o.grade for o in  designationgrades track by o.grade"
						class="form-control input-sm" required>
						<option value="" disabled="disabled">Select Grade</option>
					</select> <label style="position: absolute; top: -22px;">Grade<b
						class="mandatory">*</b>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6" align="left">
					<ui-select ng-model="requisition.position" 
						theme="selectize" style="width: 80%" required> <ui-select-match
						placeholder="Select Designation">{{$select.selected}}</ui-select-match>
					<ui-select-choices
						repeat="designation in designation1 | orderBy:'toString()'| filter: $select.search">
					<span ng-bind-html="designation | highlight: $select.search"></span>
					</ui-select-choices> </ui-select>
					<label style="position: absolute; top: -22px;"> Position<b
						class="mandatory">*</b>
					</label>
				</div>

				<div class="input-field col s5 rangeDiv">
					<div class="row">
						<div class="input-field col s6">
							<input type="range" ng-model="requisition.minExpYear" min=0 max=15
								ng-change="min(requisition.minExpYear)" required="required"/> <span
								class="range-slider__value">Min:{{requisition.minExpYear}}</span>
						</div>
						<div class="input-field col s6 ">
							<input type="range" ng-model="requisition.maxExpYear" min=0 max=15
								class="floatR" ng-change="max(requisition.maxExpYear)" required="required"/> <span
								class="range-slider__value floatR">Max:{{requisition.maxExpYear}}</span>
						</div>
					</div>
					<label style="margin-top: 14px">Exp. Required<b
						class="mandatory">*</b></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input type="date" ng-model="requisitionDate"
						;
						min="{{today | date : 'yyyy-MM-dd' }}"
						ng-change="reqDate(requisitionDate,targetDate)"
						id="requisitionDate" required name="requisitionDate"> <label>Requisition
						Date<b class="mandatory">*</b><small>[dd-mon-yyyy]</small>
					</label> <span class="validation-error" ng-show="reqErr">Requisition
						date should not be after Target Date.</span>
				</div>
				<div class="input-field col s6">
					<input type="date" ng-model="targetDate"
						ng-change="validTargetDate(requisitionDate,targetDate)"
						min="{{today | date : 'yyyy-MM-dd' }}" id="targetDate" required>
					<label>Target Date <b class="mandatory">*</b> <small>[dd-mon-yyyy]</small></label>
					<span class="validation-error" ng-show="targetErr">Target
						date should not be before Requsition Date.</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<select placeholder="Select Job Type"
						ng-model="requisition.jobType" required
						ng-options="o as o for o in info.jobTypes"
						class="form-control input-sm">
						<option value="" disabled="disabled">Select Job Type</option>
					</select> <label>Job Type<b class="mandatory">*</b></label>
				</div>
				<div class="input-field col s6">
					<select placeholder="Select Location"
						ng-model="requisition.location"
						ng-options="o as o for o in info.locations | orderBy:'toString()'"
						class="form-control input-sm" required>
						<option value="" disabled="disabled">Select Location</option>
					</select> <label>Location<b class="mandatory">*</b></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<select placeholder="Select Shift Timing"
						ng-model="requisition.shiftTiming"
						ng-options="o for o in info.shiftTimings"
						class="form-control input-sm" required>
						<option value="" disabled="disabled">Select Shift Timings</option>
					</select> <label>Shift Timings<b class="mandatory">*</b></label>
				</div>
				<div class="input-field col s6">
					<input placeholder="Enter number of Positions" type="number"
						ng-model="requisition.noOfPositions" name="position"
						class="form-control input-sm" ng-pattern="/(^[1-9]\d{0,1}$)/"
						required> <label>No. of Positions<b
						class="mandatory">*</b>
					</label> <span class="validation-error"
						ng-show="(CreateRequisition.position.$dirty || invalidSubmitAttempt) && CreateRequisition.position.$error.pattern">
						No. of positions should be in between 1-99</span>
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px">
				<div class="input-field col s6">
					<select placeholder="Select Client" ng-model="requisition.client"
						required ng-change="getJobDescriptionByClient(requisition.client)"
						ng-options="o as o for o in clientList | orderBy:'toString()'"
						class="form-control input-sm">
						<option value="" disabled="disabled">Select Client</option>
					</select> <label>Client<b class="mandatory">*</b></label>
				</div>
				<div class="input-field col s6">
					<select ng-model="jobDescription"
						ng-change="setSkillsAndJDDetails()"
						ng-options="o.jobDescriptionName for o in JobDescriptionList"
						class="form-control input-sm" id="jobDescription">
						<option value="">Select Job Description Title</option>
					</select> <label class="label-alignment">Job Description Title</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<ui-select multiple ng-model="requisition.skillType"
						ng-keypress="myFunct($event)" theme="select2" ui-select-required
						ng-disabled="disabled"> <ui-select-match
						placeholder="Select Skills..">{{$item}}</ui-select-match> <ui-select-choices
						repeat="color in pskills | orderBy:'toString()' | filter:$select.search"
						class=" borderSelect "> {{color}} </ui-select-choices> </ui-select>
					<label style="position: absolute; top: -22px;">Required
						Skills<b class="mandatory">*</b>
					</label>
				</div>

				<div class="input-field col s6">
					<textarea id="additionalSkills" class="materialize-textarea"
						style="width: 78%" ng-model="requisition.additionalSkills"
						length="120" placeholder="Enter any additional Skills..."></textarea>
					<label style="position: absolute; top: -22px;">Additional
						Skills</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea id="textarea1" class="materialize-textarea"
						ng-model="requisition.jobDescription"
						placeholder="Enter any comments/notes..." required></textarea>
					<label style="position: absolute; top: -22px;">Job
						Description<b class="mandatory">*</b>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea id="textarea1" class="materialize-textarea"
						ng-model="requisition.comment"
						placeholder="Enter any comments/notes..." required></textarea>
					<label style="position: absolute; top: -22px;">Requisition
						Comment<b class="mandatory">*</b>
					</label>
				</div>
			</div>
			<div class="row"
				ng-repeat=" requisition in requisition.qualifications">
				<div class="input-field col s6">
					<select placeholder="Select Qualification"
						ng-model="requisition.qualification" required
						ng-options="o as o for o in qualification | orderBy:'toString()'"
						class="form-control input-sm">
						<option value="" disabled="disabled">Select Qualification</option>
					</select> <label>Qualification<b class="mandatory">*</b></label>
				</div>
				<div class="input-field col s5">
					<input type="range" ng-model="requisition.percent" min="0"
						max="100" /> <label>Percentage<b class="mandatory">*</b></label>
					<span class="range-slider__value">{{requisition.percent}}%</span>

					<div class="input-field col s1 rangeIcon">
						<button class="glyphicon glyphicon-remove"
							ng-show="lengthOfQualifications()"
							ng-click="deleteQualification($index)"></button>
						&nbsp;&nbsp;&nbsp;
						<button id="addButtonColumn"
							ng-disabled="checkDisability(requisition.qualification)"
							ng-show="$last" class="glyphicon glyphicon-plus"
							ng-click="addColumnCriteria()"></button>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<select placeholder="Select Approver 1"
						ng-model="requisition.approval1"
						ng-options="o.name for o in approval1"
						class="form-control input-sm" required>
						<option value="" disabled="disabled">Select Approver 1</option>
					</select> <label>Approver 1<b class="mandatory">*</b></label>
				</div>
				<div class="input-field col s6">
					<select placeholder="Select Approver 2"
						ng-model="requisition.approval2"
						ng-change="updateApprover1DropdownValue(requisition.approval2)"
						ng-options="o.name for o in approval2 | filter: { emailId: '!'+requisition.approval1.emailId}"
						class="form-control input-sm">
						<option value="">Select Approver 2</option>
					</select> <label>Approver 2</label>
				</div>
			</div>

			<div class="row">

				<div class="input-field col s6 ">
					<div class="input-field col s5 checkBox1" align="left">
						<input type="checkbox" class="filled-in" id="filled-in-box"
							ng-model="requisition.clientInterview" /> <label
							for="filled-in-box"><font class="chk">Client
								Interview</font></label>
					</div>
					<div class="input-field col s6 checkBox1" align="left">
						<input type="checkbox" class="filled-in" id="filled-in-box1"
							ng-model="requisition.onsiteInterview" /> <label
							for="filled-in-box1"><font class="chk">Onsite
								Interview</font></label>
					</div>
					<label style="margin-top: 8px"><b>Additional Rounds</b></label>
				</div>
			</div>
		</div>


		<div align="center" class="row">
			<button class="btn btn-info active" type="submit"
				ng-disabled="CreateRequisition.$invalid || disabled || disabled1 || disableCreateBtn"
				ng-click="submit()" ui-sref="recruitment.searchRequisition">
				<span class="glyphicon glyphicon-ok-circle"></span> Create
			</button>
			<button class="btn btn-info active"
				ui-sref="recruitment.searchRequisition">
				<span class="glyphicon glyphicon-remove"></span> Cancel
			</button>
		</div>
	</form>
	<div class="col-md-2 col-sm-2 col-xs-2"></div>
</div>
<br>
<br>
