<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2"></div>
	<h4 class="col-md-8 col-sm-8 col-xs-8" align="left">Create Profile</h4>
</div>
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 "></div>
	<form class="col s8" name="CreateCandidate" onvalidate>

		<div class="row">
			<div class="input-field col s6">
				<input placeholder="Enter Candidate Name" ng-minlength="3"
					ng-maxlength="30" name="candidateName" class="form-control"
					ng-change="toggleProDisable()" type="text"
					ng-model="candidate.candidateName" ng-pattern="/^[a-zA-Z _]*$/">
				<label>Candidate Name<b class="mandatory">*</b></label> <span
					class="validation-error"
					ng-show="submitted && CreateCandidate.candidateName.$invalid">Please
					provide candidate name</span>
				<div class="validation-error"
					ng-show="(CreateCandidate.candidateName.$dirty || invalidSubmitAttempt) && CreateCandidate.candidateName.$error.required">
					Candidate Name is required.</div>
				<div class="validation-error"
					ng-show="(CreateCandidate.candidateName.$dirty  || invalidSubmitAttempt) && CreateCandidate.candidateName.$error.pattern">
					Candidate Name must be characters only.</div>
				<div class="validation-error"
					ng-show="(CreateCandidate.candidateName.$dirty || invalidSubmitAttempt) && CreateCandidate.candidateName.$error.minlength">
					Candidate Name must be at least 3 characters .</div>
			</div>
			<div class="input-field col s6">
				<input type="email" name="emailId" class="form-control"
					ng-model="candidate.emailId"
					ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-0-]+(\.[a-zA-Z0-0-]+)*(\.[a-zA-Z]{2,4})$/"
					placeholder="Enter Email Id." required> <label>Email
					Id <b class="mandatory">*</b>
				</label> <span class="validation-error"
					ng-show="submitted && CreateCandidate.emailId.$invalid">Please
					provide a valid email address</span>

				<div class="validation-error"
					ng-show="(CreateCandidate.emailId.$dirty || invalidSubmitAttempt) && CreateCandidate.emailId.$error.required">
					Please specify the email ID.</div>
				<div class="validation-error"
					ng-show="(CreateCandidate.emailId.$touched || invalidSubmitAttempt) && CreateCandidate.emailId.$error.$pristine">
					Please specify the email ID.</div>
				<div class="validation-error"
					ng-show="(CreateCandidate.emailId.$dirty || invalidSubmitAttempt) && CreateCandidate.emailId.$error.pattern">
					Please check the given Email Address.</div>
			</div>

		</div>

		<div class="row">
			<div class="input-field col s6">
				<input placeholder="Enter Mobile number" name="mobileNo"
					class="form-control" ng-change="toggleProDisable()"
					ng-pattern="^\+?\d{12}$" maxlength="10"
					ng-model="candidate.mobileNo" required> <label>Mobile Number <b class="mandatory">*</b>
				</label> <span class="validation-error"
					ng-show="submitted && CreateCandidate.mobileNo.$invalid">Please
					provide a MobileNo</span>

				<div class="validation-error"
					ng-show="(CreateCandidate.mobileNo.$dirty || invalidSubmitAttempt) && CreateCandidate.mobileNo.$error.required">
					Please specify your mobile number.</div>
				<div class="validation-error"
					ng-show="(CreateCandidate.mobileNo.$dirty || invalidSubmitAttempt) && CreateCandidate.mobileNo.$error.pattern">
					Mobile number should be maximum 10 numbers</div>
			</div>

			<div class="input-field col s6">
				<input placeholder="Enter alternate Mobile number"
					name="altmobileNo" class="form-control" type="number"
					numbers-only="numbers-only" ng-model="candidate.altmobileNo"
					maxlength="10" ng-pattern="[0-9]{10}"> <label>Alternate
					Mobile Number </label>
				<div class="validation-error"
					ng-show="(CreateCandidate.altmobileNo.$dirty || invalidSubmitAttempt) && CreateCandidate.altmobileNo.$error.pattern">
					Mobile number should be minimum 10 characters starting from 91</div>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<input placeholder="Enter Passport number" name="passportNo"
					class="form-control" type="text" ng-model="candidate.passportNo">
				<label>Passport No</label> <span class="validation-error"
					ng-show="(CreateCandidate.passportNo.$dirty  || invalidSubmitAttempt) && CreateCandidate.passportNo.$error.pattern">
					Provide a valid passport number</span>
			</div>

			<div class="input-field col s6">
				<input placeholder="Enter Skype Id" name="skypeId"
					class="form-control" type="text" ng-model="candidate.skypeId"
					ng-pattern="/^[A-Za-z][A-Za-z0-9-_]{5,31}$/" required><label>Skype
					Id <b class="mandatory">*</b>
				</label> <span class="validation-error"
					ng-show="(CreateCandidate.skypeId.$dirty  || invalidSubmitAttempt) && CreateCandidate.skypeId.$error.pattern">
					Provide a valid Skype Id</span>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<!-- <input placeholder="Enter Current Address"
					name="address" class="form-control" type="text" textarea cols="50"
					rows="10" ng-model="candidate.address"> <label>Current
					Address</label> -->

				<textarea class="materialize-textarea" cols="50" rows="2" ng-change="changeEvent()" name="notes"
					ng-model="candidate.address" placeholder="Enter current address"></textarea>
				<label>Address</label>

			</div>
		</div>



		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2"></div>
			<h4 class="col-md-8 col-sm-8 col-xs-8" align="left">Professional
				Details</h4>
		</div>


		<div class="chip" align="left">Educational Details</div>
		<br>
		<br>
		<div class="row">
			<div class="input-field col s6">
				<select placeholder="Select Qualification"
					ng-model="candidate.qualification" name="pso"
					ng-options="o as o for o in info.qualification | orderBy:'toString()'"
					class="form-control input-sm" required>
					<option value="">Select Qualification</option>
				</select> <label>Qualification<b class="mandatory">*</b></label> <span
					class="validation-error"
					ng-show="submitted && CreateCandidate.pso.$invalid">Please
					provide Qualification</span>
				<div class="validation-error"
					ng-show="( CreateCandidate.pso.$dirty || invalidSubmitAttempt) && CreateCandidate.pso.$error.required">
					qualification is required.</div>
			</div>

			<div class="input-field col s6">
				<input placeholder="Enter Stream" name="stream" class="form-control"
					type="text" ng-model="candidate.stream"
					ng-pattern="/^[a-zA-Z _]*$/" required> <label>Specialization
					<b class="mandatory">*</b>
				</label>

			</div>
		</div>

		<div class="chip" align="left">Professional Details</div>

		<div class="row">
			<div class="input-field col s2">
				<select ng-model="candidate.expYear" name="experience"
					ng-options="o as o for o in info.expYears | orderBy:'toString()'"
					class="form-control input-sm" required>
					<option value="" disabled="disabled">Years</option>
				</select> <label>Experience<b class="mandatory">*</b></label> <span
					class="validation-error"
					ng-show="submitted && CreateCandidate.experience.$invalid">Please
					specify your experience..</span>
				<div class="validation-error"
					ng-show="( CreateCandidate.experience.$dirty || invalidSubmitAttempt) && CreateCandidate.experience.$error.required">
					Please select your total experience.</div>
			</div>

			<div class="input-field col s2">
				<select ng-model="candidate.expMonth" name="expMonths"
					ng-options="o as o for o in info.expMonths | orderBy:'toString()'"
					class="form-control input-sm" required>
					<option value="" disabled="disabled">Months</option>
				</select> <span class="validation-error"
					ng-show="submitted && CreateCandidate.experience.$invalid">Please
					specify your experience..</span>
				<div class="validation-error"
					ng-show="( CreateCandidate.experience.$dirty || invalidSubmitAttempt) && CreateCandidate.experience.$error.required">
					Please select your total experience.</div>
			</div>

			<div class="input-field col s6">

				<label>Skills Set</label>
				<ui-select multiple ng-model="sk.primarySkills"
					ng-keypress="myFunct($event)" name="pskilss" theme="select2" 
					ui-select-required ng-disabled="disabled"> <ui-select-match
					placeholder="Select Skills">{{$item}}</ui-select-match> <ui-select-choices style="height: 45px;"
					repeat="color in pskills | orderBy:'toString()' | filter:$select.search">
				{{color}} </ui-select-choices> </ui-select>
				<span class="validation-error"
					ng-show="submitted && CreateCandidate.pskilss.$invalid">Please
					enter your key skills.</span>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<select ng-model="candidate.designation" name="designation"
					ng-change="jobCodeSl()"
					ng-options="o as o for o in profiledesignations | orderBy:'toString()'"
					class="form-control input-sm" required>
					<option value="" disabled="disabled">Select Designation</option>
				</select> <label>Designation<b class="mandatory">*</b></label>

			</div>

			<div class="input-field col s6">
				<input placeholder="Enter your current company"
					name="currentEmployer" class="form-control" type="text"
					ng-model="candidate.currentEmployer" ng-pattern="/^[a-zA-Z _]*$/">
				<label>Current Employer</label>

			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<select ng-model="candidate.hrAssigned" name="referredBy"
					ng-options="o as o for o in recruitmentData | orderBy:'toString()'"
					class="form-control input-sm" required>
					<option value="" disabled="disabled">Select</option>
				</select> <label>Recruiter Assigned <b class="mandatory">*</b></label> <span
					class="validation-error"
					ng-show="submitted && CreateCandidate.referredBy.$invalid">Please
					specify who is referred</span>
				<div class="validation-error"
					ng-show="( CreateCandidate.referredBy.$dirty || invalidSubmitAttempt) && CreateCandidate.referredBy.$error.required">
					referred is required.kpl</div>
			</div>

			<div class="input-field col s6">
				<ui-select multiple ng-model="sk.jobcodeProfile"
					ng-keypress="myFunct($event)" name="pskilss" theme="select2"
					ng-disabled="disabled"> <ui-select-match
					placeholder="Select JobCodes..">{{$item.jobcode}}</ui-select-match>
				<ui-select-choices
					repeat="position in positionData | orderBy:'toString()' | filter:$select.search">
				{{position.jobcode}} </ui-select-choices> </ui-select>
				<label>Job Code <b class="mandatory">*</b></label>

			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<textarea class="materialize-textarea" cols="50" rows="2" ng-change="changeEvent()" name="notes"
					ng-model="candidate.notes"
					placeholder="Enter any additional notes..."></textarea>
				<label>Additional Notes</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				 <input
					type="file" class="custom-file-input"
					ng-file-select="upload($files)" valid-file required /> <small
					ng-hide="fileError" class="mandatory-field">File
					Externsions Accepted: [doc, docx, pdf]</small>
					<label>Upload Resume<b class="mandatory">*</b></label>
			</div>
		</div>




		<div align="center" class="row">
			<button class="btn btn-info active" type="submit"
				ng-disabled="CreateCandidate.$invalid || uploadError"
				ng-click="submit()">
				<span class="glyphicon glyphicon-ok-circle"></span> Create
			</button>
			<button class="btn btn-info active"
				ui-sref="recruitment.searchProfile">
				<span class="glyphicon glyphicon-remove"></span> Cancel
			</button>
		</div>


		<br> <br> <br>
	</form>
</div>