<div class="row">
	<div class="col-md-1 col-sm-1 col-xs-1 "></div>
	
		<div ng-show="message" ng-include="'notificationTemplate.html'"></div>		
		<div class="row collapsible-header">
	
			<h5 align="left" class="headerTitleCreateProfile">
				<i class="big add user basic icon" ></i>
				<b class="headerName"> Create Profile</b>
			</h5>
			<button class="ui teal button reset"  ng-model="candidate"
					ng-click="reset()">
					<span class="glyphicon glyphicon-refresh"></span> Reset
				</button>
		</div>
		<div class="row">
			<div class="input-field col s3">
				<input type="radio" class="radioProfile" ng-model="profileType"  value="fresher" ng-change="showProfile('fresher');reset()" style="left:-40px;top:10%;"><font size="3">Fresher</font></input>
			</div>
			<div class="input-field col s3">
				<input type="radio" class="radioProfile" ng-model="profileType" value="experienced" ng-change="showProfile('experienced');reset()" style="left:-55px;top:10%;"><font size="3">Experienced</font></input>
			</div>
			
		</div>
		<form id="formAlign" class="col s12 m12 l10 collapsible collapsible-accordion"
		name="CreateCandidate" novalidate ng-show="showProfileForm">
		<div class="ui steps"  style="width:100%">
		  <a class="{{first}}step" ng-click="next('show1')">
		    <i class="user icon"></i>
		    <div class="content">
		      <div class="title">Personal Details</div>
		      <div class="description">Enter Personal Information</div>
		    </div>
		  </a>
		  <a class="{{second}}step" ng-click="next('show2')">
		  	<i class="student icon"></i>
		    <div class="content">
		      <div class="title">Educational Details</div>
		      <div class="description">Enter Educational Details</div>
		    </div>
		  </a>
		  <a class="{{third}}step" ng-click="next('show3')" ng-show="showExperienced">
		  	<i class="laptop icon"></i>
		    <div class="content">
		      <div class="title">Professional Details</div>
		      <div class="description">Enter Professional Details</div>
		    </div>
		  </a>
		  <a class="{{fourth}}step" ng-click="next('show4')">
		  	<i class="street view icon"></i>
		    <div class="content">
		      <div class="title">Other Information</div>
		      <div class="description">Enter Other Details</div>
		    </div>
		  </a>
		</div>
		
		<fieldset ng-show="show1">
			<div class="row marginFromHeader">
				<div class="input-field col s6">
					<input placeholder="Enter Candidate Name" ng-minlength="3"
						ng-maxlength="30" name="candidateName" class="form-control"
						ng-change="toggleProDisable()" type="text"
						ng-model="candidate.candidateName" ng-pattern="/^[a-zA-Z ]*$/" required>
					<label style="position: absolute; top: -22px;">Candidate
						Name<b class="mandatory">*</b>
					</label> <span class="validation-error"
						ng-show="submitted && CreateCandidate.candidateName.$invalid">Please
						provide candidate name</span>
					<div class="validation-error"
						ng-show="CreateCandidate.candidateName.required">
						Candidate Name is required.</div>
					<div class="validation-error"
						ng-show="CreateCandidate.candidateName.$error.pattern">
						Candidate Name must be characters only.</div>
					<div class="validation-error"
						ng-show="CreateCandidate.candidateName.$error.minlength">
						Candidate Name must be at least 3 characters .</div>
					<div class="validation-error"
						ng-show="CreateCandidate.candidateName.$error.maxlength">
						Candidate Name must be less then 30 characters .</div>
				</div>
				<div class="input-field col s6">
					<input type="email" name="emailId" class="form-control"
						ng-model="candidate.emailId"
						ng-blur="validateEmailId(candidate.emailId)"
						ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-0-]+(\.[a-zA-Z0-0-]+)*(\.[a-zA-Z]{2,4})$/"
						placeholder="Enter Email Id" required> <label
						style="position: absolute; top: -22px;">Email Id <b
						class="mandatory">*</b>
					</label> <span class="validation-error"
						ng-show="duplicateEmailIdError">User with this email id
						already exists. </span> 
					<div class="validation-error"
						ng-show="CreateCandidate.emailId.required">
						Please specify the email ID.</div>
					<div class="validation-error"
						ng-show="CreateCandidate.emailId.$error.$pristine">
						Please specify the email ID.</div>
					<div class="validation-error"
						ng-show="CreateCandidate.emailId.$error.pattern">
						Please check the given Email Address.</div>
				</div>
	
			</div>
	
			<div class="row">
				<div class="input-field col s6">
					<label style="position: absolute; top: -22px;">Mobile Number
						<b class="mandatory">*</b>
					</label> <input type="text" placeholder="Enter Mobile number"
						name="mobileNo" class="form-control" ng-model="candidate.mobileNo"
						ng-pattern="/^((0091)|0?)[1-9]{1}\d{9}$/" maxlength="11" required>
					<span class="validation-error"
						ng-show="submitted && CreateCandidate.mobileNo.$invalid">Please
						provide a MobileNo</span>
	
					<div class="validation-error"
						ng-show="CreateCandidate.mobileNo.required">
						Please specify mobile number.</div>
					<div class="validation-error"
						ng-show="CreateCandidate.mobileNo.$error.pattern">
						Mobile number should be numeric and 10 digit number</div>
				</div>
	
				<div class="input-field col s6">
					<input type="text" placeholder="Enter alternate Mobile number"
						name="altmobileNo" class="form-control"
						ng-model="candidate.altmobileNo" maxlength="11"
						ng-pattern="/^((0091)|0?)[1-9]{1}\d{9}$/"> <label
						style="position: absolute; top: -22px;">Alternate Mobile
						Number </label>
					<div class="validation-error"
						ng-show="(CreateCandidate.altmobileNo.$dirty || invalidSubmitAttempt) && CreateCandidate.altmobileNo.$error.pattern">
						Mobile number should be numeric and 10 digit number</div>
				</div>
			</div>
	
			<div class="row">
				<div class="input-field col s6">
					<input placeholder="Enter Passport number" name="passportNo"
						class="form-control" type="text" ng-model="candidate.passportNo"
						ng-pattern="/^[a-zA-Z0-9]*[a-zA-Z][a-zA-Z0-9]*$/"> <label
						style="position: absolute; top: -22px;">Passport No</label> <span
						class="validation-error"
						ng-show="(CreateCandidate.passportNo.$dirty  || invalidSubmitAttempt) && CreateCandidate.passportNo.$error.pattern">
						Provide a valid passport number</span>
				</div>
	
				<div class="input-field col s6">
					<input placeholder="Enter Skype Id" name="skypeId"
						class="form-control" type="text" ng-model="candidate.skypeId"
						ng-pattern="/^[a-zA-Z][a-zA-Z0-9.-_]{5,31}$/" required><label
						style="position: absolute; top: -22px;">Skype Id <b
						class="mandatory">*</b>
					</label> <span class="validation-error"
						ng-show="(CreateCandidate.skypeId.$dirty  || invalidSubmitAttempt) && CreateCandidate.skypeId.$error.pattern">
						Provide a valid Skype Id</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input placeholder="Enter current Location"
						name="currentLocation" class="form-control" type="text"
						ng-model="candidate.currentLocation" ng-pattern="/^[a-zA-Z _]*$/"
						required> <label style="position: absolute; top: -22px;">Current
						Location<b class="mandatory">*</b>
					</label>
					<div class="validation-error" ng-show="(CreateCandidate.currentLocation.$dirty || invalidSubmitAttempt) && CreateCandidate.currentLocation.$error.pattern">
					Current Location must be characters only.</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea class="materialize-textarea" cols="50" rows="2"
						style="width: 88%" ng-change="changeEvent()" name="notes"
						ng-model="candidate.address" placeholder="Enter current address"></textarea>
					<label style="position: absolute; top: -22px;">Address</label>
				</div>
			</div>
			<button class="btn btn-info active" ng-click="next('show2')">Next  <i class="long arrow right icon"></i></button>
			
		 </fieldset>

		 <fieldset ng-show="show2">

				&nbsp;
				<div class="row" ng-repeat="candi in candidate.qualifications">
					<div class="input-field col s6">
						<select placeholder="Select Qualification"
							ng-model="candi.qualification" name="pso"
							ng-options="o as o for o in info.qualification | orderBy:'toString()'"
							class="form-control input-sm" required>
							 <option value="">Select Qualification</option>
						</select> <label style="position: absolute; top: -22px;">Qualification<b
							class="mandatory">*</b></label> <span class="validation-error"
							ng-show="submitted && CreateCandidate.pso.$invalid">Please
							provide Qualification</span>
						 <div class="validation-error"
							ng-show="( CreateCandidate.pso.$dirty || invalidSubmitAttempt) && CreateCandidate.pso.$error.required">
							qualification is required.</div> 
					</div>

					<div class="input-field col s3">
						<input placeholder="Enter Stream" name="stream{{$index}}"
							class="form-control" type="text" ng-model="candi.stream"
							ng-maxlength="35" ng-pattern="/^[a-zA-Z _.]*$/"> <label
							style="position: absolute; top: -22px;">Specialization </label>
                         <span class="validation-error"
						ng-show="CreateCandidate.stream{{$index}}.$error.maxlength">Specialization must be less then 35 characters</span>
						<span class="validation-error" ng-show="CreateCandidate.stream{{$index}}.$error.pattern">
					Specialization must be characters only</span>
					</div>

					<div class="input-field col s2">
						<input type="range" ng-model="candi.percentage" min="0" max="100" />
						<label>Percentage<b class="mandatory">*</b></label> <span
							class="range-slider__value">{{candi.percentage}}%</span>
					</div>

					<div class="input-field col s1">
						<button class="glyphicon glyphicon-remove"
							data-tooltip="Remove Educational Details"
							ng-show="candidate.qualifications.length!=1"
							ng-click="deleteQualification($index)"></button>
						&nbsp;&nbsp;&nbsp;
						<button id="addButtonColumn" class="glyphicon glyphicon-plus"
							data-tooltip="Add Educational Details" ng-show="$last"
							ng-click="addColumnCriteria()"
							ng-disabled="checkDisability(candi.qualification)"></button>
					</div>



				</div>
				<div class="row" ng-repeat="candidate in candidate.certifications" ng-hide="showExperienced">
				<div class="input-field col s6">
					<input placeholder="Enter Certification Name" name="certification{{$index}}" class="form-control"
						type="text" ng-model="candidate.certification" ng-maxlength="35"
						ng-pattern="/^[a-zA-Z _.]*$/"> <label
						style="position: absolute; top: -22px;">Certification </label>
						<span class="validation-error"
						ng-show="CreateCandidate.certification{{$index}}.$error.maxlength">Certificate Name must be less then 35 characters</span>
				<span class="validation-error" ng-show="CreateCandidate.certification{{$index}}.$error.pattern">
					Certification name must be characters only</span>
				</div>
	
				<div class="input-field col s3">
					<input placeholder="Enter Institute/Organization" name="institute{{$index}}" class="form-control"
						type="text" ng-model="candidate.institute" ng-maxlength="35"
						ng-pattern="/^[a-zA-Z _.]*$/"> <label
						style="position: absolute; top: -22px;">Institute/Organization </label>
	                   <span class="validation-error"
						ng-show="CreateCandidate.institute{{$index}}.$error.maxlength">Institute Name must be less then 35 characters</span>
				<span class="validation-error" ng-show="CreateCandidate.institute{{$index}}.$error.pattern">
					Institute name must be characters only</span>
				</div>
	
				<div class="input-field col s2">
					<input type="range" ng-model="candidate.score" min="0"
						max="100" /> <label>Percentage</label> <span
						class="range-slider__value">{{candidate.score}}%</span>
						<div class="input-field col s1">
							<button class="glyphicon glyphicon-remove"
								data-tooltip="Remove Certification Details"
								ng-show="lengthOfCertifications()"
								ng-click="deleteCertification($index)"></button>
							&nbsp;&nbsp;&nbsp;
							<button id="addButtonColumn" class="glyphicon glyphicon-plus"
								data-tooltip="Add Certification Details"
								ng-show="$last" ng-click="addCertificationCriteria()"
								ng-disabled="checkDisability(candidate.certification)"></button>
						</div>
					</div>				
			</div>
			<div class="row" ng-repeat="candidate in candidate.trainings" ng-hide="showExperienced">
				<div class="input-field col s6">
					<input placeholder="Enter Training Name" name="training{{$index}}" class="form-control"
						type="text" ng-model="candidate.training" ng-maxlength="35"
						ng-pattern="/^[a-zA-Z _.]*$/"> <label
						style="position: absolute; top: -22px;">Training Attended </label>
						<span class="validation-error"
						ng-show="CreateCandidate.training{{$index}}.$error.maxlength">Training Name must be less then 35 characters</span>
				<span class="validation-error" ng-show="CreateCandidate.training{{$index}}.$error.pattern">
					Training name must be characters only</span>
				</div>
	
				<div class="input-field col s3">
					<input placeholder="Enter Institute/Organization" name="trainingInstitute{{$index}}" class="form-control"
						type="text" ng-model="candidate.trainingInstitute" ng-maxlength="35"
						ng-pattern="/^[a-zA-Z _.]*$/"> <label
						style="position: absolute; top: -22px;">Institute/Organization </label>
	                    <span class="validation-error"
						ng-show="CreateCandidate.trainingInstitute{{$index}}.$error.maxlength">Institute Name must be less then 35 characters</span>
				<span class="validation-error" ng-show="CreateCandidate.trainingInstitute{{$index}}.$error.pattern">
					Institute name must be characters only</span>
				</div>
	
				<div class="input-field col s2">
					<input placeholder="Enter Duration" name="trainingDuration"
						class="form-control" type="text" ng-model="candidate.trainingDuration"
						ng-pattern="/^[0-9]*$/" maxlength="3"> <label
						style="position: absolute; top: -22px;">Training Duration(in
						days)
					</label> <span class="validation-error"
						ng-required="CreateCandidate.trainingDuration.$error.pattern"
						ng-show="CreateCandidate.trainingDuration.$error.pattern">
						Training Duration should be in days </span>
						<div class="input-field col s1">
							<button class="glyphicon glyphicon-remove"
								data-tooltip="Remove Training Details"
								ng-show="lengthOfTrainings()"
								ng-click="deleteTraining($index)"></button>
							&nbsp;&nbsp;&nbsp;
							<button id="addButtonColumn" class="glyphicon glyphicon-plus"
								data-tooltip="Add Training Details"
								ng-show="$last" ng-click="addTrainingCriteria()"
								ng-disabled="checkDisability(candidate.training)"></button>
						</div>
					</div>				
			</div>
			<div class="row" ng-repeat="candidate in candidate.languages" ng-hide="showExperienced">
				<div class="input-field col s6">
					<input placeholder="Enter Language" name="language{{$index}}" class="form-control"
						type="text" ng-model="candidate.language" ng-maxlength="15"
						ng-pattern="/^[a-zA-Z]*$/"> <label
						style="position: absolute; top: -22px;">Language </label>
					<span class="validation-error"
						ng-show="CreateCandidate.language{{$index}}.$error.maxlength">Language Name must be less then 15 characters</span>
					<span class="validation-error" ng-show="CreateCandidate.language{{$index}}.$error.pattern">
					Language name must be characters only</span>
				</div>
	
				<div class="input-field col s3" align="left">						
							
					<label style="left:0px;top:-200%;margin-left: 10px;">Read
					<input type="checkbox" ng-model="candidate.read" class="checkboxProfile"/></label>
					<label style="left:100px;top:-200%;margin-left: 10px;">Write
					<input type="checkbox" ng-model="candidate.write" class="checkboxProfile"/></label>
					<label style="left:200px;top:-200%;margin-left: 10px;">Speak
					<input type="checkbox" ng-model="candidate.speak" class="checkboxProfile"/></label>							
							
				</div>
	
				<div class="input-field col s2">
					<select placeholder="Select Proficiency"
						ng-model="candidate.proficiency"
						ng-options="o for o in proficiencies"
						class="form-control input-sm" >
						<option value="" disabled="disabled">Select Proficiency Level</option>
					</select> <label>Proficiency Level</label>
						<div class="input-field col s1">
							<button class="glyphicon glyphicon-remove"
								data-tooltip="Remove Training Details"
								ng-show="lengthOfLanguages()"
								ng-click="deleteLanguage($index)"></button>
							&nbsp;&nbsp;&nbsp;
							<button id="addButtonColumn" class="glyphicon glyphicon-plus"
								data-tooltip="Add Training Details"
								ng-show="$last" ng-click="addLanguageCriteria()"
								ng-disabled="checkDisability(candidate.language)"></button>
						</div>
					</div>				
			</div>
			<div ng-if="showExperienced == true">
				<button class="btn btn-warning active" ng-click="previous('show1')"> Previous <i class="long arrow left icon"></i></button>
				<button class="btn btn-info active" ng-click="next('show3')"> Next <i class="long arrow right icon"></i> </button>
			</div>	
			<div ng-if="showExperienced == false">
				<button class="btn btn-warning active" ng-click="previous('show1')"> Previous <i class="long arrow left icon"></i></button>
				<button class="btn btn-info active" ng-click="next('show4')"> Next <i class="long arrow right icon"></i> </button>
			</div>
			</fieldset>

		 <fieldset ng-show="show3">
			&nbsp;
			<div class="row">
				<div class="input-field col s2">
					<select ng-model="candidate.expYear" name="experience"
						ng-options="o as o for o in info.expYears"
						class="form-control input-sm"  ng-required="showExperienced">
						<option value="" disabled="disabled">Years</option>
					</select> <label style="position: absolute; top: -22px;">Experience<b
						class="mandatory">*</b></label> 
					
				</div>
	
				<div class="input-field col s2">
					<select ng-model="candidate.expMonth" name="expMonths"
						ng-options="o as o for o in info.expMonths"
						class="form-control input-sm"  ng-required="showExperienced">
						<option value="" disabled="disabled">Months</option>
					</select>
					
				</div>
				<div class="col-md-2"></div>
				<div class="input-field col s6">
					<label style="position: absolute; top: -22px;">Skills Set<b
						class="mandatory">*</b>:
					</label>
					<ui-select multiple ng-model="sk.primarySkills"
						ng-keypress="myFunct($event)" name="pskilss" theme="select2" ui-select-required
						ng-disabled="disabled"> <ui-select-match
						placeholder="Select Skills">{{$item}}</ui-select-match> <ui-select-choices
						repeat="color in pskills | orderBy:'toString()' | filter:$select.search">
					{{color}} </ui-select-choices> </ui-select>
					<span class="validation-error"
						ng-show="submitted && CreateCandidate.pskilss.$invalid">Please
						enter key skills.</span>
				</div>
			</div>
	
			<div class="row">
	
				<div class="input-field col s6">
					<input placeholder="Enter current Employer"
						name="currentEmployer" class="form-control" type="text"
						ng-model="candidate.currentEmployer" ng-pattern="/^[a-zA-Z0-9 \_\-]*$/">
					<label style="position: absolute; top: -22px;">Current Employer</label>
				<div class="validation-error" ng-show="(CreateCandidate.currentEmployer.$dirty || invalidSubmitAttempt) && CreateCandidate.currentEmployer.$error.pattern">
					Current Employer must be alpha numeric only.</div>
				</div>
	
				<div class="input-field col s6">
					<input placeholder="Enter Additional Skills" name="otherSkills"
						class="form-control" type="text" ng-model="candidate.otherSkills"
						ng-pattern="/^[a-zA-Z0-9 \_\- \,]*$/"> <label
						style="position: absolute; top: -22px;">Additional Skills</label>
	
				</div>
	
			</div>
	
			<div class="row">
				<div class="input-field col s6" align="left">
					<ui-select ng-model="candidate.designation" ng-keypress="myFunct($event)" ng-change="setJobCodes()" name="currentdesignation"
					theme="selectize" style="width: 80%"  ng-required="showExperienced">
					   <ui-select-match placeholder="Select Current Designation">{{$select.selected}}</ui-select-match>
					<ui-select-choices
						repeat="designation in profiledesignations | orderBy:'toString()'| filter: $select.search">
					<span ng-bind-html="designation | highlight: $select.search"></span>
					</ui-select-choices> </ui-select>
					<label style="position: absolute; top: -22px;">
						Current Designation<b class="mandatory">*</b>
					</label>
				</div>
			</div>
			<button class="btn btn-warning active"  ng-click="previous('show2')">Previous  <i class="long arrow left icon"></i></button>
			<button class="btn btn-info active" ng-click="next('show4')">Next  <i class="long arrow right icon"></i></button>
		 </fieldset>

		 <fieldset ng-show="show4">
			&nbsp;
			<div ng-show="showExperienced">
			<div class="row">
				<div class="input-field col s6">
					<select ng-model="candidate.profileSource" name="profileSource"
						ng-options="o as o for o in profileSources | orderBy:'toString()'"
						class="form-control input-sm" ng-required="showExperienced">
						<option value="" disabled="disabled">Select Source</option>
					</select> <label style="position: absolute; top: -22px;">Source<b
						class="mandatory">*</b></label>
	
				</div>
				<div class="input-field col s6">
					<select ng-model="candidate.currency" name="currency"
						ng-options="o for o in info.currencies" class="form-control input-sm">
						<option  value="">Select Currency</option>
					</select> <label style="position: absolute; top: -22px;"> Currency: </label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input placeholder="Enter current CTC" name="currentCTC"
						class="form-control" type="text" ng-model="candidate.currentCTC"
						ng-pattern="/^[0-9]*$/"> <label
						style="position: absolute; top: -22px;">Current CTC 
					</label><span class="validation-error"
						ng-required="CreateCandidate.currentCTC.$error.pattern"
						ng-show="CreateCandidate.currentCTC.$error.pattern"> Provide
						a valid CTC</span>
				</div>
				<div class="input-field col s6">
					<input placeholder="Enter expected CTC" name="expectedCTC"
						class="form-control" type="text" ng-model="candidate.expectedCTC"
						ng-pattern="/^[0-9]*$/"> <label
						style="position: absolute; top: -22px;">Expected CTC 
					</label> <span class="validation-error"
						ng-required="CreateCandidate.expectedCTC.$error.pattern"
						ng-show="CreateCandidate.expectedCTC.$error.pattern">
						Provide a valid CTC </span>
				</div>
			</div>
	
			<div class="row">
				<div class="input-field col s6">
					<input placeholder="Enter Notice Period" name="noticePeriod"
						class="form-control" type="text" ng-model="candidate.noticePeriod"
						ng-pattern="/^[0-9]*$/" maxlength="2"  ng-required="showExperienced"> <label
						style="position: absolute; top: -22px;">Notice Period (in
						days)<b class="mandatory">*</b>
					</label> <span class="validation-error"
						ng-required="CreateCandidate.noticePeriod.$error.pattern"
						ng-show="CreateCandidate.noticePeriod.$error.pattern">
						Notice period should be in days </span>
				</div>
				<div class="input-field col s6" align="left">
					<ui-select ng-model="candidate.expectedDesignation" ng-keypress="myFunct($event)" ng-change="setJobCodes()" name="expectedDesignation"
					theme="selectize" style="width: 80%">
					   <ui-select-match placeholder="Select Expected Designation">{{$select.selected}}</ui-select-match>
					<ui-select-choices
						repeat="designation in profiledesignations | orderBy:'toString()'| filter: $select.search">
					<span ng-bind-html="designation | highlight: $select.search"></span>
					</ui-select-choices> </ui-select>
					<label style="position: absolute; top: -22px;">
						Expected Designation
					</label>
	
				</div>
			</div>
	
			<div class="row">
				<div class="input-field col s12">
					<textarea class="materialize-textarea" cols="50" rows="2"
						style="width: 88%" ng-change="changeEvent()" name="notes"
						ng-model="candidate.notes"
						placeholder="Enter any additional notes..."></textarea>
					<label style="position: absolute; top: -22px;">Additional
						Notes</label>
				</div>
			</div>
	</div>
		<div ng-hide="showExperienced">
				<div class="input-field col s6">
	
					<label style="position: absolute; top: -22px;">Skills Set<b
						class="mandatory">*</b>:
					</label>
					<ui-select multiple ng-model="sk.primarySkills"
						ng-keypress="myFunct($event)" name="pskilss" theme="select2" ui-select-required
						ng-disabled="disabled"> <ui-select-match
						placeholder="Select Skills">{{$item}}</ui-select-match> <ui-select-choices
						repeat="color in pskills | orderBy:'toString()' | filter:$select.search">
					{{color}} </ui-select-choices> </ui-select>
					<span class="validation-error"
						ng-show="submitted && CreateCandidate.pskilss.$invalid">Please
						enter key skills.</span>
				</div>
				<div class="input-field col s6">
					<input placeholder="Enter Additional Skills" name="otherSkills"
						class="form-control" type="text" ng-model="candidate.otherSkills"
						ng-pattern="/^[a-zA-Z0-9 \_\- \,]*$/"> <label style="position: absolute; top: -22px;">Additional Skills</label>
				
				</div>
				<div class="row"></div>
				<div class="row">
				<div class="input-field col s12">
					<textarea class="materialize-textarea" cols="50" rows="5"
						style="width: 88%;height: 50%;" ng-change="changeEvent()" name="project"
						ng-model="candidate.project" placeholder="Enter undertaken Projects"></textarea>
					<label style="position: absolute; top: -22px;">Projects Undertaken</label>
				</div>
			</div>
		</div>
			<div class="row">
				<div class="input-field col s6">
					<input type="file" class="custom-file-input" id="uploadFile"
						ng-file-select="upload($files)" valid-file required /> <small
						ng-hide="fileError" class="mandatory-field">File
						Externsions Accepted: [doc, docx, pdf]</small> <br> <label
						style="position: absolute; top: -22px;">Upload Resume<b
						class="mandatory">*</b>
					</label>
				</div>
			</div>
			<div align="center" class="row" ng-if="showExperienced == true">
				<button class="btn btn-warning active"  ng-click="previous('show3')">Previous  <i class="long arrow left icon"></i></button>
				
				<button class="btn btn-info active" type="submit" ng-disabled="CreateCandidate.$invalid || uploadError || duplicateEmailIdError" ng-click="saveProfile()">
					<span class="glyphicon glyphicon-open-file"></span> Save
				</button>
				
				<button class="btn btn-success active" type="submit" ng-disabled="CreateCandidate.$invalid || uploadError || duplicateEmailIdError"	ng-click="submit()">
					<span class="glyphicon glyphicon-ok-circle"></span> Submit
				</button>
			
				<button class="btn btn-danger active" ui-sref="recruitment.searchProfile">
					<span class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>		
			<div align="center" class="row" ng-if="showExperienced == false">
				<button class="btn btn-warning active"  ng-click="previous('show2')">Previous  <i class="long arrow left icon"></i></button>
				
				<button class="btn btn-info active" type="submit" ng-disabled="CreateCandidate.$invalid || uploadError || duplicateEmailIdError" ng-click="saveProfile()">
					<span class="glyphicon glyphicon-open-file"></span> Save
				</button>
				
				<button class="btn btn-success active" type="submit" ng-disabled="CreateCandidate.$invalid || uploadError || duplicateEmailIdError"	ng-click="submit()">
					<span class="glyphicon glyphicon-ok-circle"></span> Submit
				</button>
			
				<button class="btn btn-danger active" ui-sref="recruitment.searchProfile">
					<span class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>		
			 </fieldset>
			&nbsp;
		</form>
		<div class="col-md-1 col-sm-1 col-xs-1 "></div>
	</div>
	<br>