<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2"></div>
	<h4 class="col-md-8 col-sm-8 col-xs-8" align="left">Interview
		Feedback Form - {{profile.candidateName}}</h4>
</div>

<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 "></div>
	<form class="col s8" name="feedback_form" onvalidate>

		<div class="row">
			<div class="input-field col s6">
				<select ng-model="interviewFeedback.roundName"
					ng-change="setfeedbackData(interviewFeedback.roundName)"
					class="form-control input-sm" 	
					ng-options="o as o for o in position.interviewRounds | orderBy:'toString()'"
					required><option value="">Select Round</option>
				</select> <label>Interview Round<b class="mandatory">*</b></label>
			</div>

			<div class="input-field col s6">
				<select name="status" placeholder="Select Duration"
					ng-model="interviewFeedback.status" ng-disabled="disableFields"
					ng-options="o as o for o in info.status "
					class="form-control input-sm" id="status" style="color: black;"
					required>
					<option value="" disabled="disabled">Select status</option>
				</select> <label>Select status<b class="mandatory">*</b></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<input type="text" ng-model = "interviewSchedule.interviewerName" ng-disabled="true"/>
				<label for="Days">Interviewer </label>

			</div>

			<div class="input-field col s6">
			<input type="text" ng-model = "interviewSchedule.jobcode" ng-disabled="true"/>
				<label>Job Code </label>

			</div>
		</div>


		<div class="row">
			<div class="input-field col s6">
			<input type="text" ng-model = "interviewSchedule.interviewDateTime" ng-disabled="true"/>
				 <label for="Days">Interview Date </label>

			</div>

			<div class="input-field col s6">
				<input type="text" ng-model = "interviewSchedule.typeOfInterview" ng-disabled = "true"/>
				<label for="Days">Type </label>

			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<select name="duration" placeholder="Select Duration"
					ng-model="interviewFeedback.duration"
					ng-options="o as o for o in info.interviewDuration "
					class="form-control input-sm" name="duration" required>
					<option value='' disabled="disabled">
					<option value="">Select Duration</option>
				</select> <label>Interview Duration<b class="mandatory">*</b></label>
			</div>
			<div class="input-field col s6">
				<div>
					<ul ng-repeat="round in interviewFeedback.rateSkills"
						ng-disabled="disableFields">
						<li><b>{{ round.skill }}</b> <rating ng-model="round.rating"
								max="10" readonly="false" on-hover="hoveringOver(value)"
								on-leave="overStar = null"></rating></li>
					</ul>
				</div>
				<label>Rate Skills<b class="mandatory">*</b></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<textarea ng-model="interviewFeedback.additionalSkills"
					class="materialize-textarea" length="120" required></textarea>
				<label>Additional Skills <b class="mandatory">*</b> </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<textarea ng-model="interviewFeedback.strengths"
					class="materialize-textarea" length="120" required></textarea>
				<label>Strengths<b class="mandatory">*</b> </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<textarea ng-model="interviewFeedback.improvement"
					class="materialize-textarea" length="120" required></textarea>
				<label>Areas Of Improvement<b class="mandatory">*</b> </label>
			</div>
		</div>
		<div align="center" class="row">
			<button class="btn btn-info active" type="submit"
				ng-hide="hideSubmit" ng-click="submit()" ng-show="submitShow"
				ng-disabled="feedback_form.$invalid" >
				<span class="glyphicon glyphicon-ok-circle"></span> Submit
			</button>
			<button class="btn btn-info active"
				ui-sref="recruitment.interviewManagement">
				<span class="glyphicon glyphicon-remove"></span> Back
			</button>
		</div>

	</form>
</div>