<div class="row" align="left">
	<div class="col-md-1 col-sm-1 col-xs-1 "></div>
	<form class="col s12 m12 l10 collapsible collapsible-accordion"
		name="feedback_form" onvalidate>
		<div class="row collapsible-header">
			<h5 align="left">
				<b>Interview Feedback Form - {{profile.candidateName}}</b>
			</h5>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<h6>
					<b class="viewInterviewDetails">{{interviewFeedback.roundName}}
					</b>
				</h6>
				<label>Interview Round : </label>
			</div>
			<div class="input-field col s6">
				<h6>
					<b class="viewInterviewDetails">{{interviewSchedule.interviewerName}}
					</b>
				</h6>
				<label>Interviewer : </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<h6>
					<b class="viewInterviewDetails">{{interviewSchedule.typeOfInterview}}
					</b>
				</h6>
				<label>Interview Type : </label>

			</div>

			<div class="input-field col s6">
				<h6>
					<b class="viewInterviewDetails">{{interviewSchedule.interviewDateTime
						| date:'medium'}} </b>
				</h6>
				<label>Interview Date : </label>
			</div>
		</div>


		<div class="row">
			<div class="input-field col s6">
				<h6>
					<b class="viewInterviewDetails">{{interviewSchedule.jobcode}} </b>
				</h6>
				<label>Interview Job Code: </label>

			</div>

		</div>


		<div class="row">
			<div class="input-field col s6">
				<select name="duration" placeholder="Select Duration"
					ng-model="interviewFeedback.duration" ng-disabled="disableFields"
					ng-options="o as o for o in info.interviewDuration "
					class="form-control input-sm" name="duration" required>
					<option value='' disabled="disabled">
					<option value="">Select Duration</option>
				</select> <label>Interview Duration<b class="mandatory">*</b></label>
			</div>
			<div class="input-field col s6">
				<select name="status" placeholder="Select Duration"
					ng-model="interviewFeedback.status" ng-disabled="disableFields"
					ng-options="o as o for o in info.status "
					class="form-control input-sm" id="status" style="color: black;"
					required>
					<option value="" disabled="disabled">Select status</option>
				</select> <label>Select status<b class="mandatory">*</b></label>
			</div>
		</div>
		<br>
		<div>
			&#9733;Poor &nbsp;&nbsp;&#9733;&#9733;Average &nbsp;&nbsp;&#9733;&#9733;&#9733;Good &nbsp;&nbsp;&#9733;&#9733;&#9733;&#9733;Excellent &nbsp;&nbsp;&#9733;&#9733;&#9733;&#9733;&#9733;Outstanding
		</div>
		<div class="row">
			<tabset justified="true"> <tab ng-repeat="tab in tabs | filter:filterbyRound"
				heading="{{ tab.heading }}">
			<div ng-include="tab.template"></div>
			</tab> </tabset>
		</div>
		<div align="center" class="row">
			<button class="btn btn-info active" type="submit"
				ng-hide="hideSubmit" ng-click="submit()" ng-show="submitShow"
				ng-disabled="disabledFeedbackbtn || feedback_form.$invalid">
				<span class="glyphicon glyphicon-ok-circle"></span> Submit
			</button>
			<button class="btn btn-info active"
				ui-sref="recruitment.interviewManagement">
				<span class="glyphicon glyphicon-remove"></span> Back
			</button>
		</div>
	</form>
</div>
<br>
<br>