<div class="ui raised less padded container segment" style="width:75%;">
	<form class="ui form" name="feedback_form" onvalidate>
		<div class="ui segment">
			<h3 align="left" class="ui dividing header">Interview Feedback Form - {{profile.candidateName}}</h3>
			<div align="left" class="five fields">
				<div class="field">
					<label class="ui label">Interview Round : </label>
				</div>
				<div class="field">
					<b>{{interviewFeedback.roundName}}</b>
				</div>
				<div class="field"></div>
				<div class="field">
					<label class="ui label">Interviewer :</label>
				</div>
				<div class="field">
					<b>{{interviewSchedule.interviewerName}}</b>
				</div>
			</div>		
			<div align="left" class="five fields">
				<div class="field">
					<label class="ui label">Interview Type : </label>
				</div>
				<div class="field">
					<b>{{interviewSchedule.typeOfInterview}}</b>
				</div>
				<div class="field"></div>
				<div class="field">
					<label class="ui label">Interview Date : </label>
				</div>
				<div class="field">
					<b>{{interviewSchedule.interviewDateTime | date:'medium'}}</b>
				</div>
			</div>
			<div align="left" class="five fields">
				<div class="field">
					<label  class="ui label">Interview Job Code: </label>
				</div>
				<div class="field">
					<b>{{interviewSchedule.jobcode}}</b>
				</div>
			</div>		
			<div align="left" class="five fields">
				<div class="field">
					<label class="ui label">Interview Duration : </label>
				</div>
				<div class="field">
					<select class="ui fluid dropdown" name="duration" placeholder="Select Duration"
						ng-model="interviewFeedback.duration" ng-disabled="disableFields"
						ng-options="o as o for o in info.interviewDuration "
						class="form-control input-sm" name="duration" style="height: 30px; padding: 0px;" required>
						<option value="" disabled="disabled">Duration</option>
					</select>
				</div>
				<div class="field"></div>
				<div class="field">
					<label class="ui label">Select status : </label>
				</div>
				<div class="field">
					<select class="ui fluid dropdown" name="status" placeholder="Select Duration"
						ng-model="interviewFeedback.status" ng-disabled="disableFields"
						ng-options="o as o for o in info.status "
						class="form-control input-sm" id="status"
						style="height: 30px; padding: 0px;" required>
						<option value="" disabled="disabled">Status</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="ui raised segment">
			<tabset justified="true" type="pills"> 
				<tab ng-repeat="tab in tabs | filter:filterbyRound" heading="{{ tab.heading }}">
					<div ng-include="tab.template"></div>
				</tab> 
			</tabset>
		</div>
		<div class="ui two column centered grid">
			<div class="center aligned column">
				<div class="ui buttons row">
					<button class="ui large primary button" type="submit"
						ng-hide="hideSubmit" ng-click="submit()" ng-show="submitShow"
						ng-disabled="disabledFeedbackbtn || feedback_form.$invalid">Save</button>
				  	<div class="or"></div>
				  	<button class="ui large secondary button" ui-sref="recruitment.interviewManagement">Back</button>
				</div>
			</div>
		</div>
	</form>
</div>
<br>