<div align="center" style="background: #798E8B; height: 50px;">
	<ul class="nav nav-tabs nav-justified">
		<li
			ng-show="hasRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_HR,ROLE_REQUISITION_MANAGER,ROLE_REQUISITION_APPROVAL')"
			ng-class="{active: isActive('recruitment.searchRequisition')}"
			role="presentation"><a ui-sref="recruitment.searchRequisition">Requisition</a></li>
		<li ng-show="hasRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_HR')"
			role="presentation"
			ng-class="{active: isActive('recruitment.searchPosition') }"><a
			ui-sref="recruitment.searchPosition">Position</a></li>
		<li
			ng-show="hasRole('ROLE_ADMIN,ROLE_USER,ROLE_MANAGER,ROLE_HR,ROLE_INTERVIEWER')"
			role="presentation"
			ng-class="{active: isActive('recruitment.searchProfile')}"><a
			ui-sref="recruitment.searchProfile">Profile</a></li>
		<li
			ng-show="hasRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_HR,ROLE_INTERVIEWER')"
			ng-class="{active: isActive('recruitment.interviewManagement')}"
			role="presentation"><a ui-sref="recruitment.interviewManagement">Interview</a></li>
	</ul>
</div>