<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-6" align="center">
		<ul class="tabs">
			<li role="presentation" class="tab" ng-show="hasRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_HR,ROLE_REQUISITION_MANAGER,ROLE_REQUISITION_APPROVER')">
				<div style="min-width: 180px;" class="col-md-4" >
					<a ng-class="{active: isActive('recruitment.searchProfile')}" ng-click="alHide()"
						ui-sref="recruitment.searchProfile">Profile</a>
				</div>
			</li>
			<li class="tab" role="presentation" ng-show="hasRole('ROLE_ADMIN,ROLE_REQUISITION_MANAGER,ROLE_REQUISITION_APPROVER')">
				<div style="min-width: 180px;" class="col-md-4" >
					<a ng-class="{active: isActive('recruitment.searchRequisition')}" ng-click="alHide()"
						ui-sref="recruitment.searchRequisition">Requisition</a>
				</div>
			</li>
			<li role="presentation" class="tab" ng-show="hasRole('ROLE_ADMIN,ROLE_HR,ROLE_REQUISITION_MANAGER,ROLE_REQUISITION_APPROVER')">
				<div style="min-width: 180px;" class="col-md-4" >
					<a ng-class="{active: isActive('recruitment.searchPosition')}" ng-click="alHide()"
						ui-sref="recruitment.searchPosition">Position</a>
				</div>
			</li>
			<li class="tab" role="presentation" ng-show="hasRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_HR,ROLE_INTERVIEWER,ROLE_REQUISITION_MANAGER,ROLE_REQUISITION_APPROVER')">
				<div  style="min-width: 180px;" class="col-md-4" >
					<a ui-sref="recruitment.interviewManagement" ng-click="alHide()"
						ng-class="{active: isActive('recruitment.interviewManagement')}">Interview</a>
				</div>
			</li>
		</ul>
	</div>
</div>
<!------------------------------------------------------ ------------------------------------------------------>
<div ui-view></div>