<div ng-show="message" ng-include="'notificationTemplate.html'"></div>
<div class="row">
	<div class="col-md-1 col-sm-1 col-xs-1 "></div>
	<form class="col s12 m12 l10 collapsible collapsible-accordion"
		name="schedule_form" ng-submit="schedule()" onvalidate>
		<div class="row collapsible-header">
			<h5 align="left">
				<b>Schedule Interview for -
					{{interviewscheduleDetails.candidateName}}</b> <small>({{interviewscheduleDetails.candidateEmail}})</small>
			</h5>
		</div>
		<div class="row">
			<div class="input-field col s6" align="left">
				<ui-select ng-model="interviewschedule.requisitionId" theme="selectize"
					ng-disabled="disabled" style="width: 80%"
					on-select="setJobcode(interviewschedule.requisitionId)"
					title="Choose a requisitionId"> <ui-select-match
					placeholder="Select or search Requisition Id.">{{$select.selected}}</ui-select-match>
				<ui-select-choices
					repeat="requisition in requisitionIdlist | filter: $select.search">
				<span ng-bind-html="requisition | highlight: $select.search"></span>
				</ui-select-choices> </ui-select>
				<label style="position: absolute; top: -22px;">
					RequisitionId<b class="mandatory">*</b>
				</label>

			</div>
			<div class="input-field col s6" align="left">
				<ui-select ng-model="jobcode.jobcode" theme="selectize"
					ng-disabled="disabled" style="width: 80%"
					title="Choose a country"> <ui-select-match
					placeholder="Select or search Job code.">{{$select.selected}}</ui-select-match>
				<ui-select-choices
					repeat="position in jobcodelistObj | filter: $select.search">
				<span ng-bind-html="position.jobcode | highlight: $select.search"></span>
				</ui-select-choices> </ui-select>
				<label style="position: absolute; top: -22px;">Interview
					Jobcode<b class="mandatory">*</b>
				</label>

			</div>
		</div>
		<br>
		<div class="row">
			<div class="input-field col s6">
				<select ng-model="interviewschedule.roundName"
					class="form-control input-sm"
					ng-change="setInterviewData(interviewschedule.roundName)"
					ng-options="o as o for o in interviewschedule.jobcode.interviewRounds | orderBy:'toString()'"
					required>
					<option value="" disabled="disabled">Select Round</option>
				</select> <label>Interview Round<b class="mandatory">*</b></label>
			</div>
			<div class="input-field col s6">
				<select ng-change="setvalues(interviewerName)"
					placeholder="Select InterviewerName"
					ng-model="interviewerName"
					ng-options="o.name for o in interviewerNames"
					class="form-control input-sm" required>
					<option value='' disabled="disabled">Select Interviewer</option>
				</select> <label>Interviewer Name<b class="mandatory">*</b></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<!-- ng-disabled = "true"  -->
				<input type="text" maxlength="15"
					ng-model="interviewerData.mobileNumber" ng-disabled="true"
					name="mobileNo" class="form-control" placeholder="Enter Cell# "
					required /> <label for="Days">Interviewer Cell # <b
					class="mandatory">*</b>
			</div>
			<div class="input-field col s6">
				<input type="text" ng-change="" ng-model="interviewerData.skypeId"
					ng-disabled="true" name="skypeId" ngPattern="" class="form-control"
					placeholder="Enter Skype Id" required /> <label for="Days">
					Skype Id<b class="mandatory">*</b>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<input type="email" ng-change="" ng-model="interviewerData.emailId"
					ng-disabled="true" name="emailIdInterviewer" class="form-control"
					placeholder="Enter Email Id" required /> <label for="Days">Interviewer
					Email Id <b class="mandatory">*</b>
			</div>
			<div class="input-field col s6">
				<select ng-model="interviewerData.location" ng-disabled="true"
					ng-options="o as o for o in info.locations | orderBy:'toString()'"
					class="form-control input-sm" required name="location"
					ng-disabled="disabled">
					<option value="" ng-disabled="disabled">Select Location</option>
				</select> <label>Location<b class="mandatory">*</b></label>
			</div>
			
		</div>

		<div class="row">
			<div class="input-field col s6">
				<select ng-model="sel.selectedtypeOfInterview"
					ng-options="o as o for o in info.typeOfInterview | orderBy:'toString()'"
					class="form-control input-sm" required name="typeOfInterview"
					ng-disabled="disabled">
					<option value="" disabled="disabled">Select Interview
						Format</option>
				</select> <label>Type Of Interview<b class="mandatory">*</b></label>
			</div>
           <div class="input-field col s6">
				<div class="demo-section k-content" align="left">
					<input kendo-date-time-picker ng-model="data.date"
						ng-disabled="disabled" min="{{today}}" k-ng-model="kdate"
						style="width: 81%;Additional Notes" />
				</div>
				<label style="position: absolute; top: -22px;">Interview
					Date and Time<b class="mandatory">*</b>
				</label>
			</div>
		</div>
		
       <div class="row">
		<div class="input-field col s6" ng-if="sel.selectedtypeOfInterview === 'Skype'">
				<input type="text" ng-model="interviewschedule.candidateSkypeId"
					ng-disabled="true" name="candidateSkypeId" class="form-control"
					placeholder="Enter Skype Id"  /> <label>
					Candidate Skype Id<b class="mandatory">*</b>
			</div>
			<div class="input-field col s6" ng-if="sel.selectedtypeOfInterview === 'Telephonic'">
				<input type="text" ng-model="interviewschedule.candidateMobileNumber"
					ng-disabled="true" name="candidateMobileNumber" class="form-control"
					placeholder="Enter Mobile Number"  /> <label>
					Candidate Mobile Number<b class="mandatory">*</b>
			</div>
		</div>
		
		<div class="row">
			<div class="input-field col s12">
				<textarea class="materialize-textarea" cols="50" rows="2"
					ng-change="changeEvent()" name="intNotes"
					ng-model="interviewschedule.additionalNotes" ng-disabled="disabled"
					placeholder="Enter any additional notes..."></textarea>
				<label style="position: absolute; top: -22px;">Additional
					Notes</label>
			</div>
		</div>

		<div align="center" class="row">
			<button class="btn btn-info active" type="submit"
				ng-click="schedule()" ng-disabled="schedule_form.$invalid"
				ng-show="hasRole('ROLE_ADMIN','ROLE_HR,ROLE_INTERVIEWER');scheduleButnHide">
				<span class="glyphicon glyphicon-ok-circle"></span> Schedule
			</button>
			<button class="btn btn-info active"
				ui-sref="recruitment.interviewManagement">
				<span class="glyphicon glyphicon-remove"></span> Back
			</button>
		</div>
	</form>
</div>
<br>
<br>