<form action="#" name="createRequisition" class="searchRequisition"
	onvalidate>
	<form id="integerForm" role="form" class="form-horizontal">
		<div ng-class="cls" ng-show="message" align="center"
			style="width: 850px; position: relative; top: -35px; height: 50">
			<h5 style="margin-top: 2px;">{{message}}</h5>
		</div>
		<div class="row" style="width: 90%">
		<div class="col-md-5"></div>
			<div class="col-md-4 ">
					<input type="text" class="form-control"
						placeholder="Requisition Search">
			</div>
			<div class="col-md-2" align="center">
					<a class="waves-effect waves-light btn"
					ng-show="hasRole('ROLE_REQUISITION_MANAGER,ROLE_REQUISITION_APPROVAL,ROLE_ADMIN')"
					href="#recruitment/createRequisition"><i class="material-icons left">add</i>create</a>
					

			</div>
			<div class="col-md-1"></div>
		</div>
	
		<table class="bordered" style="width: 90%">
			<thead>
				<tr>
					<!-- <th>AAA</th> -->
					<th>REQUISITION ID</th>
					<th>POSITION</th>
					<th>MIN-EXP</th>
					<th>MAX-EXP</th>
					<th>CLIENT</th>
					<th>CLONE</th>
					<th ng-show="hasRole('ROLE_REQUISITION_MANAGER')">Approve</th>
					<!-- <th>Share</th> -->
				</tr>
			</thead>

			<tbody>
				<tr class="animate-repeat"
					ng-repeat="data in allRequisitions | filter: search | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="font-size: 80%">
					<td><a style="cursor: pointer;"
						ng-click="editRequisition(data.requisitionId)">{{data.requisitionId}}</a></td>
					<td>{{data.position}}</td>
					<td>{{data.minExpYear}}</td>
					<td>{{data.maxExpYear}}</td>
					<td>{{data.client}}</td>
					<td align="center"><a style="cursor: pointer;"
						ng-click="cloneRequisition(data.requisitionId)"><span
							class="glyphicon glyphicon-copy"></span></a></td>
					<td align="center" ng-show="hasRole('ROLE_REQUISITION_MANAGER')"><a
						style="cursor: pointer;"><span
							class="glyphicon glyphicon-ok-circle"></span></a></td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="row" style="width: 90%">
			<div class="col-md-3" align="left">
				<h5>
				<small>	Total Requisitions : {{allRequisitions.length }}</small>
				</h5>
			</div>
			
			<div class="col-md-9">
				 <ul class="pagination1 pull-right">
				    <li ng-class="{disabled: currentPage == 0}"><a ng-click="prevPage()"><i class="material-icons">chevron_left</i></a></li>
				    <li  ng-repeat="n in range(currentPage)" ng-class="{active: n == currentPage}" ng-click="setPage()"><a ng-bind="n + 1"></a></li>
				    <li class="waves-effect" ng-class="{disabled: currentPage == pageCount() - 1}"><a ng-click="nextPage()"><i class="material-icons">chevron_right</i></a></li>
				  </ul>
			</div>
		</div>
	</form>
</form>
