<form action="#" name="interviewManagement" class="interviewManagement"
	onvalidate>
	<form id="integerForm" role="form" class="form-horizontal">
		<!-- div ng-class="cls" ng-show="message" align="center"
			style="width: 850px; position: relative; top: -35px; height: 50">
			<h5 style="margin-top: 2px;">{{message}}</h5>
		</div> -->
		<div class="row" style="width: 90%">
			<div class="col-md-2"></div>
			<div class="col-md-8 ">
				<input type="text" class="form-control" ng-model="searchQuery"
					placeholder="" ng-enter="searchInterview()"data-tooltip="Search By Name or Status">
				<div align="left">
					&nbsp;&nbsp; <a class="btn-floating" ng-click="searchInterview()"><i
						class="material-icons">search</i></a>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>


		<table class="bordered" style="width: 90%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email Id</th>
					<th>Skills</th>
					<th>Job Code</th>
					<th>Schedule</th>
					<th>Feedback</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr class="animate-repeat" ng-repeat="data in interviewDetails" style="font-size: 80%">
					<td class="mdl-data-table__cell--non-numeric">{{data.candidateName}}</a></td>
					<td class="mdl-data-table__cell--non-numeric">{{data.interviewerId}}</td>
					<td class="mdl-data-table__cell--non-numeric"><i
						ng-repeat="skills in data.candidateSkills">{{skills}}{{$last ?
							'' : ', '}}</i></td>
					<td class="mdl-data-table__cell--non-numeric"><i
						ng-repeat="jobcode in data.positionId"> {{jobcode}}{{$last ?
							'' : ', '}}</i></td>
					<td class="mdl-data-table__cell--non-numeric"><a href="" id=""
						class="interview-schedule"
						ng-click="schedule(data.positionId,data.candidateEmail,data.currentPositionId)">
							<span class="glyphicon glyphicon-plus"
							style="position: relative; top: 1px;"></span>
					</a></td>
					<td class="mdl-data-table__cell--non-numeric">
						<button style="background-color: #F8F8F8; border: 0px;" href=""
							id="" class="interview-feedback"
							ng-disabled="disableFeedback(data.rounds)"
							ng-click="feedback(data.currentPositionId,data.candidateEmail)">
							<span class="glyphicon glyphicon-envelope"
								style="position: relative; top: 1px;"></span>
						</button>
					</td>
					<td class="mdl-data-table__cell--non-numeric"
						style="font-weight: bold">{{data.progress}}</td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="row" style="width: 90%">
			<div class="col-md-3" align="left">
				<h5>
					<small> Total Profiles : {{ interviewDetails.length }}</small>
				</h5>
			</div>

			<div class="col-md-9">
				<ul class="pagination1 pull-right">
					<li ng-class="{disabled: currentPage == 0}"><a
						ng-click="prevPage()"><i class="material-icons">chevron_left</i></a></li>
					<li ng-repeat="n in range(currentPage)"
						ng-class="{active: n == currentPage}" ng-click="setPage()"><a
						ng-bind="n + 1"></a></li>
					<li class="waves-effect"
						ng-class="{disabled: currentPage == pageCount() - 1}"><a
						ng-click="nextPage()"><i class="material-icons">chevron_right</i></a></li>
				</ul>
			</div>
		</div>
		<br> <br>
	</form>
</form>