
<style>


.sidebar {
	position: absolute;
	top: 0;
	left: -160px;;
	transition: 100ms left;
}

#navigation-toggle {
	position: absolute;
	left: 160px;
	background: rgba(3, 159, 244, .95);
	color: white;
	text-decoration: none;
	padding: 20px;
}

.show {
	left: 0;
}

.navigation {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation-items a {
	display: block;
	background-color: #444;
	color: white;
	line-height: 2em;
	text-decoration: none;
	padding: 10px 30px;
	width: 100px;
}

.navigation-items a:hover {
	background-color: #222;
}
</style>

<div class="sidebar" sidebar-directive="state">
        <a href="#" id="navigation-toggle" ng-click="toggleState()">Navigation</a>
        <ul class="navigation">
          <li class="navigation-items"> <a href="#">Link1</a> 
          </li>
          <li class="navigation-items"> <a href="#">Link2</a> 
          </li>
          <li class="navigation-items"> <a href="#">Link3</a> 
          </li>
          <li class="navigation-items"> <a href="#">Link4</a> 
          </li>
          <li class="navigation-items"> <a href="#">Link4</a> 
          </li>
        </ul>
      </div>
<form action="#" name="searchPosition" class="searchRequisition"
	onvalidate>
	<form id="integerForm" role="form" class="form-horizontal">
		<div ng-show="message" ng-include="'notificationTemplate.html'"></div>
		<div class="row" style="width: 90%">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<input type="text" class="form-control" ng-model="searchQuery"
					ng-enter="searchPositionQuery()"data-tooltip="Search by Job code, Designation,Status, Client,Job-Type or Location">
				<div align="left">
					&nbsp;&nbsp; <a class="btn-floating"
						ng-click="searchPositionQuery()"data-tooltip="Search Position"><i class="material-icons">search</i></a>
				</div>
			</div>
			<br>

		</div>
		<table class="bordered" style="width: 90%">
			<thead>
				<tr>
					<th>Job code</th>
					<th>REQ Id</th>
					<th>Designation</th>
					<th>Job Type</th>
					<th>Exp</th>
					<th>Location</th>
					<th>Client</th>
					<th>Priority</th>
					<th>Status</th>
					<th>Open Date</th>
					<th>Target Date</th>
<!-- 					<th ng-show="hasRole('ROLE_HR')">Is Published</th>
 -->				</tr>
			</thead>
			<tbody>
				<tr class="animate-repeat"
					ng-repeat="data in positions | orderBy:'-updatedDate'  | offset: currentPage*itemsPerPage | limitTo: itemsPerPage"
					style="font-size: 80%">
					<td class="mdl-data-table__cell--non-numeric"><a
						style="cursor: pointer;" ng-click="editPosition(data.jobcode)">{{data.jobcode}}</a></td>
					<td class="mdl-data-table__cell--non-numeric">{{data.requisitionId}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.designation}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.jobType}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.minExpYear}} - {{data.maxExpYear}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.location}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.client}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.priority}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.status}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.createdDate}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.targetDate}}</td>
					<!-- <td class="mdl-data-table__cell--non-numeric" ng-show="hasRole('ROLE_HR')"><div ng-if="data.publishStatus == true">Yes</div>
																  <div ng-if="data.publishStatus != true">No</div></td> -->
					
				</tr>
			</tbody>
		</table>
		<br>
		<div class="row" style="width: 90%">
			<div class="col-md-3" align="left">
				<h5>
					<big> Total Positions : {{ positions.length }}</big>
				</h5>
			</div>

			<div class="col-md-9">
				<ul class="pagination1 pull-right" style="cursor:pointer">
					<li ng-class="{disabled: currentPage == 0}"><a
						ng-click="prevPage()"><i class="material-icons">chevron_left</i></a></li>
					<li ng-repeat="n in range(currentPage)"
						ng-class="{active: n == currentPage}" ng-click="setPage()"><a
						ng-bind="n + 1"></a></li>
					<li class="waves-effect"
						ng-class="{disabled: currentPage == pageCount() - 1}"><a
						ng-click="nextPage()"><i class="material-icons">chevron_right</i></a></li>
				</ul>
			</div>
		</div>
	</form>
</form>