<form name="createRequisition" class="searchRequisition"
	onvalidate>
	<form id="integerForm" role="form" class="form-horizontal">
		<div ng-show="message" ng-include="'notificationTemplate.html'"></div>
		<div class="row" style="width: 90%">
			<div class="col-md-2"></div>
			<div class="col-md-8 ">
				<input type="text" class="form-control" ng-model="searchTxt"
					placeholder="" ng-enter="searchRequisition()"data-tooltip="Search by Requisition Id, Designation ,Job-Type ,Location or Client ">
				<div align="left">
					&nbsp;&nbsp; <a class="btn-floating" ng-click="searchRequisition()"data-tooltip="Search Requisition"><i
						class="material-icons">search</i></a>&nbsp;&nbsp; <a
						class="btn-floating"
						ng-show="hasRole('ROLE_REQUISITION_MANAGER,ROLE_REQUISITION_APPROVER')"
						href="#recruitment/createRequisition"data-tooltip="Create Requisition"><i
						class="material-icons">add</i></a>
				</div>
				<div class="col-md-1"></div>
			</div>

			<!-- <table class="bordered" style="width: 90%"> -->
			<table class="ui striped table searchTable" >
				<thead>
					<tr>
						<th>Requisition Id</th>
						<th>Designation</th>
						<th>Job Type</th>
						<th>Location</th>
						<th>Client</th>
						<th>Clone</th>
						<th>Status</th>
					</tr>
				</thead>

				<tbody>
					<tr class="animate-repeat"
						ng-repeat="data in allRequisitions | orderBy:'-updatedDate'  | offset: currentPage*itemsPerPage | limitTo: itemsPerPage"
						style="font-size: 80%">
						<!-- <td><span style="background-color: red;padding: 5px 12px;color: white;"><b>A</b></span></td> -->
						<td><a style="cursor: pointer;"
							ng-click="editRequisition(data.requisitionId)">{{data.requisitionId}}</a></td>
						<td>{{data.position}}</td>
						<td>{{data.jobType}}</td>
						<td>{{data.location}}</td>	
						<td>{{data.client}}</td>
						<td align="center" class="searchPositionIconTd" ><button style="cursor: pointer;border: none;background: none;color:#2196F3;" ng-disabled="!hasRole('ROLE_REQUISITION_MANAGER,ROLE_REQUISITION_APPROVER')"
                          ng-click="cloneRequisition(data.requisitionId)" data-tooltip="Clone"><i class="material-icons">repeat_one</button></td>
						<td align="center" class="searchPositionIconTd">
							<i class="material-icons" style="color:#2196F3 ;font-size: 25px; " data-tooltip="{{data.status}}">{{getStatusIcon(data.status)}}</i>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<div class="row" style="width: 90%">
				<div class="col-md-3" align="left">
					<h5>
						<big> Total Requisitions : {{allRequisitions.length }}</big>
					</h5>
				</div>

				<div class="col-md-9">
					<ul class="pagination1 pull-right" style="cursor:pointer">
						<li e="{disabled: currentPage == 0}"><a ng-click="prevPage()"><i
								class="material-icons">chevron_left</i></a></li>
						<li ng-repeat="n in range(currentPage)"
							ng-class="{active: n == currentPage}" ng-click="setPage()"><a
							ng-bind="n + 1"></a></li>
						<li class="waves-effect"
							ng-class="{disabled: currentPage == pageCount() - 1}"><a
							ng-click="nextPage()"><i class="material-icons">chevron_right</i></a></li>
					</ul>
				</div>
			</div>
	</form>
</form>
