<form action="#" name="searchPosition" class="searchRequisition" onvalidate>
	<form id="integerForm" role="form" class="form-horizontal">
		<div ng-class="cls" ng-show="message" align="center"
			style="width: 850px; position: relative; top: -35px; height: 50">
			<h5 style="margin-top: 2px;">{{message}}</h5>
		</div>
		<div class="row" style="width: 90%">
			<div class="col-md-4"></div>
			<div class="col-md-8" align="right">
				<input type="text" class="form-control"
					placeholder="Position Search">
			</div>
			<br>

		</div>
		<table class="bordered" style="width: 90%">
			<thead>
				<tr>
					<th>Job code</th>
					<th>REQ Id</th>
					<th>Designation</th>
					<th>Min-Exp</th>
					<th>Max-Exp</th>
					<th>Location</th>
					<th>Client</th>
				</tr>
			</thead>
			<tbody>
				<tr class="animate-repeat"
					ng-repeat="data in position | filter: search | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" style="font-size: 80%">
					<td class="mdl-data-table__cell--non-numeric"><a
						style="cursor: pointer;" ng-click="editPosition(data.jobcode)">{{data.jobcode}}</a></td>
					<td class="mdl-data-table__cell--non-numeric">{{data.requisitionId}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.designation}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.minExpYear}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.maxExpYear}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.location}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{data.client}}</td>
					<!-- <td class="mdl-data-table__cell--non-numeric"><left>
								</left>&nbsp;&nbsp;&nbsp;
								<right><a href="" style="cursor:pointer;" ng-click="shareContent(data.jobcode)">
									<img src="https://simplesharebuttons.com/images/somacro/linkedin.png" width="20" height="20" title="Share on Linked In" /></a></right>
								</td> -->
				</tr>
			</tbody>
		</table>
		<br>
		<div class="row" style="width: 90%">
			<div class="col-md-3" align="left">
				<h5>
					<small> Total Positions : {{ position.length }}</small>
				</h5>
			</div>

			<div class="col-md-9">
				<ul class="pagination1 pull-right">
					<li ng-class="{disabled: currentPage == 0}"><a
						ng-click="prevPage()"><i class="material-icons">chevron_left</i></a></li>
					<li ng-repeat="n in range(currentPage)"
						ng-class="{active: n == currentPage}" ng-click="setPage()"><a
						ng-bind="n + 1"></a></li>
					<li class="waves-effect"
						ng-class="{disabled: currentPage == pageCount() - 1}"><a
						ng-click="nextPage()"><i class="material-icons">chevron_right</i></a></li>
				</ul>
			</div>
		</div>
	</form>
</form>