<div class="row">
	<div class="col-md-1 col-sm-1 col-xs-1 "></div>
	<form class="col s12 m12 l10 collapsible collapsible-accordion" name="UpdatePosition" onvalidate>
		<div class="row collapsible-header">
			<h5 align="left">
				<b>Edit Position: {{jobcode}}</b>
			</h5>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<select placeholder="Select Designation" ng-model="designation"
					ng-options="o as o for o in designationList | orderBy:'toString()'"
					class="form-control input-sm" ng-disabled="true" required>
				</select> <label>Designation<b class="mandatory">*</b></label>
			</div>

			<div class="input-field col s6">
				<select placeholder="Select Location" ng-model="position.location"
					ng-options="o as o for o in info.locations | orderBy:'toString()'"
					class="form-control input-sm" ng-disabled="true" required>
				</select> <label>Location<b class="mandatory">*</b></label>
			</div>
		</div>


		<div class="row">
			<div class="input-field col s6">
				<div class="row">
					<div class="input-field col s6">
						<input type="range" ng-model="position.minExpYear"
							ng-disabled="flagDisabled"
							ng-change="min(requisition.minExpYear)" min="0" max="15" required />
						<span class="range-slider__value">Min:{{position.minExpYear}}</span>
					</div>
					<div class="input-field col s6">
						<input type="range" ng-model="position.maxExpYear"
							ng-disabled="flagDisabled"
							ng-change="max(requisition.maxExpYear)" min="0" max="15" required />
						<span class="range-slider__value">Max:{{position.maxExpYear}}</span>
					</div>
				</div>
				<label style="margin-top: 14px">Experience Required<b
					class="mandatory">*</b></label>
			</div>

			<div class="input-field col s6">
				<select placeholder="Select Client" ng-model="selClient"
					ng-options="o as o for o in clients | orderBy:'toString()'"
					class="form-control input-sm" ng-disabled="true" required>
				</select> <label>Client<b class="mandatory">*</b></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<ui-select multiple ng-model="position.primarySkills"
					ng-keypress="myFunct($event)" theme="select2" ui-select-required
					ng-disabled="disabled"> <ui-select-match
					placeholder="Select Skills..">{{$item}}</ui-select-match> <ui-select-choices
					repeat="color in pskills | orderBy:'toString()' | filter:$select.search">
				{{color}} </ui-select-choices> </ui-select>
				<label style="position: absolute; top: -22px;">Primary
					Skills<b class="mandatory">*</b>
				</label>
			</div>

			<div class="input-field col s6">
				<textarea ng-model="position.secondarySkills"
					class="materialize-textarea" style="width: 77%"
					id="secondarySkills"></textarea>
				<label style="position: absolute; top: -22px;">Secondary
					Skills</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<textarea id="textarea1" class="materialize-textarea" length="120"
					style="width: 77%" ng-disabled="flagDisabled"
					ng-model="position.jobProfile" required></textarea>
				<label style="position: absolute; top: -22px;">Job
					Description<b class="mandatory">*</b>
				</label>
			</div>

			<div class="input-field col s6">
				<ui-select multiple ng-model="position.interviewRounds"
					ui-select-required theme="select2" ng-disabled="flagDisabled">
				<ui-select-match placeholder="Select Rounds..">{{$item}}</ui-select-match>
				<ui-select-choices
					repeat="color in interviewRounds | orderBy:'toString()' | filter:$select.search">
				{{color}} </ui-select-choices> </ui-select>
				<label style="top: -23px">Interview Rounds<b
					class="mandatory">*</b></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<select placeholder="Select Hiring HR" ng-model="hrManager"
					ng-options="o.name for o in hrManagers"
					class="form-control input-sm" required>
					<option>Select Hiring Managers</option>
				</select> <label>Hiring HR<b class="mandatory">*</b></label>
			</div>
			<div class="input-field col s6">
				<select placeholder="Select Priority" ng-model="position.priority"
					ng-options="o as o for o in priorities"
					class="form-control input-sm">
					<option>{{position.priority}}</option>
				</select> <label>Priority</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<select placeholder="Select Point Of Contact" ng-model="interviewer"
					ng-options="o.name for o in interviewers"
					class="form-control input-sm">
					<option>Select Interviewers</option>
				</select> <label>Point Of Contact</label>
			</div>
			<div class="input-field col s6">
				<select placeholder="Select Status" ng-model="position.status"
					ng-options="o for o in statuses" class="form-control input-sm">
					<option>Select Statuses</option>
				</select> <label>Status</label>
			</div>
		</div>
		<ul class="collapsible collapsible-accordion"
			data-collapsible="interviewCandidates" ng-show="accordianFlag"
			style="margin-left: 10px; margin-right: 90px;">
			<li ng-repeat="interviewCandidate in interviewCandidates">
				<div class="collapsible-header" style="text-align: left;">
					<span> <label style="font-size: 17px;"><i
							class="material-icons">person</i>{{interviewCandidate.candidateName}}
							: </label> <label style="font-size: 14px;">&nbsp;{{interviewCandidate.candidateEmail}},
							&nbsp;{{interviewCandidate.progress}}</label>
					</span>
				</div>
			</li>
		</ul>

		<div align="center" class="row">
			<button class="btn btn-info active" type="submit"
				ng-disabled="UpdatePosition.$invalid"
				ng-click="updatePositionDetails()">
				<span class="glyphicon glyphicon-ok-circle"></span> Update
			</button>

			<button class="btn btn-info active"
				ui-sref="recruitment.searchPosition">
				<span class="glyphicon glyphicon-remove"></span> Cancel
			</button>
		</div>
	</form>
</div>