<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2"></div>
	<h4 class="col-md-8 col-sm-8 col-xs-8" align="left">Edit
		Requisition : {{requisition.requisitionId}}</h4>
</div>
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 "></div>
	<form class="col s8" name="CreateRequisition" onvalidate
		style="background-color: #fff; border-radius: 10px; padding-top: 1%; border: 1px solid whitesmoke;">
		<div class="row">
			<div class="input-field col s6">
				<select placeholder="Select Designation" ng-change="getData()"
					ng-disabled="true" ng-model="requisition.position" required
					ng-options="o as o for o in designation1 | orderBy:'toString()'"
					class="form-control input-sm">
					<option>Select Designations</option>
				</select> <label>Position<b class="mandatory">*</b></label>
			</div>
			<div class="input-field col s6">
				<div class="row">
					<div class="input-field col s6">
						<input type="range" ng-model="requisition.minExpYear"
							ng-disabled="true" ng-change="min(requisition.minExpYear)"
							min="0" max="15" required /> <span class="range-slider__value">Min:{{requisition.minExpYear}}</span>
					</div>
					<div class="input-field col s6">
						<input type="range" ng-model="requisition.maxExpYear"
							ng-disabled="true" ng-change="max(requisition.maxExpYear)"
							min="0" max="15" required /> <span class="range-slider__value">Max:{{requisition.maxExpYear}}</span>
					</div>
				</div>
				<label style="margin-top: 14px">Exp. Required<b
					class="mandatory">*</b></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input type="date" ng-model="requisition.requisitionDate"
					ng-disabled="true" id="requisitionDate" required> <label>Requisition
					Date<b class="mandatory">*</b>
				</label> <span class="validation-error" ng-show="reqErr">Requistion
					date should not be after Target Date.</span>
			</div>
			<div class="input-field col s6">
				<input type="date" ng-model="requisition.targetDate"
					ng-change="dateError(requisition.targetDate)" id="targetDate"
					required> <label>Target Date<b class="mandatory">*</b></label>
				<span class="validation-error" ng-show="dateErr">Please enter future date.</span>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<select placeholder="Select Client" ng-model="requisition.client"
					ng-options="o as o for o in clients | orderBy:'toString()'"
					class="form-control input-sm" required>
					<option>Select Client</option>
				</select> <label>Client<b class="mandatory">*</b></label>
			</div>
			<div class="input-field col s6">
				<select placeholder="Select Location"
					ng-model="requisition.location"
					ng-options="o as o for o in info.locations | orderBy:'toString()'"
					class="form-control input-sm" required>
					<option>Select Location</option>
				</select> <label>Location<b class="mandatory">*</b></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<select placeholder="Select Hiring HR" ng-model="hrManager"
					ng-options="o.name for o in hrManagers"
					class="form-control input-sm" required>
					<option>Select Hiring HR</option>
				</select> <label>Hiring HR<b class="mandatory">*</b></label>
			</div>
			<div class="input-field col s6">
				<input placeholder="Enter number of Positions" type="text"
					ng-bind="requisition.noOfPositions"
					ng-model="requisition.noOfPositions" name="position"
					ng-change="validateNoOfPosition(requisition.noOfPositions)"
					class="active validate" ng-pattern="/(^0$)|(^[1-9]\d{0,1}$)/"
					required> <label>No. of Positions<b
					class="mandatory">*</b>
				</label> <span class="validation-error"
					ng-show="(CreateRequisition.position.$dirty || invalidSubmitAttempt) && CreateRequisition.position.$error.pattern">
					No. Positions should be between 1-99!</span>
			</div>
		</div>
		<div class="row" style="margin-bottom: 20px">
			<div class="input-field col s6">
				<ui-select multiple ng-model="requisition.skillType"
					ng-keypress="myFunct($event)" theme="select2" ui-select-required
					ng-disabled="disabled"> <ui-select-match
					placeholder="Select Skills..">{{$item}}</ui-select-match> <ui-select-choices
					repeat="color in pskills | orderBy:'toString()' | filter:$select.search">
				{{color}} </ui-select-choices> </ui-select>
				<label>Skills<b class="mandatory">*</b></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="textarea1" class="materialize-textarea" length="120"
					ng-model="requisition.jobDescription"
					placeholder="Enter any comments/notes..." required></textarea>
				<label>Job Description<b class="mandatory">*</b></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="textarea1" class="materialize-textarea" length="120"
					ng-model="requisition.comment"
					placeholder="Enter any comments/notes..."></textarea>
				<label>Requisition Comment</label>
			</div>
		</div>
		<div class="row"
			ng-repeat=" requisition in requisition.qualifications">
			<div class="input-field col s6">
				<select placeholder="Select Qualification"
					ng-model="requisition.qualification" required
					ng-options="o as o for o in qualification | orderBy:'toString()'"
					class="form-control input-sm">
					<option>Select Qualification</option>
				</select> <label>Qualification<b class="mandatory">*</b></label>
			</div>
			<div class="input-field col s5">
				<input type="range" ng-model="requisition.percent" min="0" max="100" />
				<label>Percentage<b class="mandatory">*</b></label> <span
					class="range-slider__value">{{requisition.percent}}%</span>
			</div>
			<div class="input-field col s1">
				<button class="glyphicon glyphicon-remove"
					ng-show="lengthOfQualifications()" style="cursor: pointer;"
					ng-click="deleteQualification($index)">{{requisition.qualifications.length}}</button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<button id="addButtonColumn"
					ng-disabled="checkDisability(requisition.qualification)"
					ng-show="$last" class="glyphicon glyphicon-plus"
					ng-click="addColumnCriteria()"></button>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<select placeholder="Select Approver 1" ng-model="approval1"
					ng-change="approverfield()"
					ng-options="o.name for o in approvals | orderBy:'toString()'"
					class="form-control input-sm" required>
					<option>Select Approver 1</option>
				</select> <label>Approver 1<b class="mandatory">*</b></label>
			</div>
			<div class="input-field col s6">
				<select placeholder="Select Approver 2" ng-model="approval2"
					ng-options="o.name for o in approvals | orderBy:'toString()'"
					class="form-control input-sm">
					<option>Select Approver 2</option>
				</select> <label>Approver 2</label>
			</div>
		</div>
		<div align="center" class="row">
			<button class="btn btn-info active"
				ng-show="showApprovalBtn || showApprovedBtn"
				ng-disabled="showApprovedBtn" ng-click="approve()"> <span
				class="glyphicon glyphicon-ok-circle"></span> Approve
			</button> 
			<button class="btn btn-danger" ng-show="showRejectBtn"
				ng-disabled="disableRejectBtn" ng-click="rejectRequisition()"> <span
				class="glyphicon glyphicon-remove-circle"></span> Reject
			</button> 
			<button class="btn btn-info active"
				ng-disabled="validateRequisition() || disableUpdateBtn"
				ng-show="showUpdateBtn" ng-click="updateRequisitionDetails()"> <span
				class="glyphicon glyphicon-ok" ng-disabled="disabled"></span> Update
			</button> 
			<button ui-sref="recruitment.searchRequisition"
				class="btn btn-info active"> <span
				class="glyphicon glyphicon-remove"></span> Cancel
			</button>
		</div>
	</form>
</div>
<br>
<br>
