<div class="row">
	<div class="col-md-1 col-sm-1 col-xs-1 "></div>
	<form class="col s12 m12 l10 collapsible collapsible-accordion"
		name="updateRequisition" onvalidate>
		<div class="row collapsible-header">
			<h5 align="left">
				<b>Edit Requisition: {{requisition.requisitionId}}</b>
			</h5>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<b class="bannerleft">{{requisition.position}}</b> <label>Designation:</label>
			</div>
			<div class="input-field col s6">
				<b class="bannerright">{{creator.name}}</b> <label>Creator:</label>
			</div>
		</div>
		<br> <br>
		<div class="row">
			<div class="input-field col s6">
				<input type="date" ng-model="requisitionDate" ng-disabled="true"
					id="requisitionDate" required> <label>Requisition
					Date<b class="mandatory">*</b>
				</label> <span class="validation-error" ng-show="reqErr">Requistion
					date should not be after Target Date.</span>
			</div>
			<div class="input-field col s6">
				<input type="date" ng-model="targetDate"
					ng-change="dateError(requisition.targetDate)" id="targetDate"
					min="{{today | date : 'yyyy-MM-dd' }}"
					required> <label>Target Date<b class="mandatory">*</b></label>
				<span class="validation-error" ng-show="dateErr">Please enter
					future date.</span>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<select ng-model="client"
					ng-change="getJobDescriptionByClient(client)"
					ng-options="o.clientName for o in clients | orderBy:'toString()'"
					class="form-control input-sm" required>
					<!-- 					<option value="requisition.client">{{requisition.client}}</option> -->
				</select> <label>Client<b class="mandatory">*</b></label>

			</div>
			<div class="input-field col s6">
				<select placeholder="Select Location"
					ng-model="requisition.location"
					ng-options="o as o for o in info.locations | orderBy:'toString()'"
					class="form-control input-sm" required>
					<option>Select Location</option>
				</select> <label>Location<b class="mandatory">*</b></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<select placeholder="Select Hiring HR" ng-model="hrManager"
					ng-options="o.name for o in hrManagers"
					class="form-control input-sm" required>
					<option>Select Hiring HR</option>
				</select> <label>Hiring HR<b class="mandatory">*</b></label>
			</div>
			<div class="input-field col s6">
				<input placeholder="Enter number of Positions" type="number"
					ng-model="requisition.noOfPositions" name="position"
					class="form-control input-sm" ng-pattern="/(^[1-9]\d{0,1}$)/"
					required> <label>No. of Positions<b
					class="mandatory">*</b>
				</label> <span class="validation-error"
					ng-show="(updateRequisition.position.$dirty || invalidSubmitAttempt) && updateRequisition.position.$error.pattern">
					No. of positions should be in between 1-99</span>
			</div>
		</div>
		<div class="row" style="margin-bottom: 20px">
			<div class="input-field col s6">
				<select
					ng-options="o.jobDescriptionName for o in JobDescriptionList"
					ng-model="jobDescription" ng-change="setSkillsAndJDDetails()"
					class="form-control input-sm" id="jobDescription">
					<option value=''>Select Job Description Title</option>
				</select> <label class="label-alignment">Job Description Title</label>
			</div>

		</div>

		<div class="row">
			<div class="input-field col s6">
				<div class="row">
					<div class="input-field col s6">
						<input type="range" ng-model="requisition.minExpYear"
							ng-disabled="true" ng-change="min(requisition.minExpYear)"
							min="0" max="15" required /> <span class="range-slider__value">Min:{{requisition.minExpYear}}</span>
					</div>
					<div class="input-field col s6">
						<input type="range" ng-model="requisition.maxExpYear"
							ng-disabled="true" ng-change="max(requisition.maxExpYear)"
							min="0" max="15" required /> <span class="range-slider__value">Max:{{requisition.maxExpYear}}</span>
					</div>
				</div>
				<label style="margin-top: 14px">Exp. Required<b
					class="mandatory">*</b></label>
			</div>
			<div class="input-field col s6">
				<ui-select multiple ng-model="requisition.skillType"
					ng-keypress="myFunct($event)" theme="select2" ui-select-required
					ng-disabled="disabled"> <ui-select-match
					placeholder="Select Skills..">{{$item}}</ui-select-match> <ui-select-choices
					repeat="color in pskills | orderBy:'toString()' | filter:$select.search">
				{{color}} </ui-select-choices> </ui-select>
				<label style="position: absolute; top: -22px">Skills<b
					class="mandatory">*</b></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="textarea1" class="materialize-textarea" length="120"
					ng-model="requisition.jobDescription"
					placeholder="Enter any comments/notes..." required></textarea>
				<label style="top: -34%">Job Description<b class="mandatory">*</b></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea class="materialize-textarea" length="120"
					ng-model="requisition.comment"
					placeholder="Enter any comments/notes..."></textarea>
				<label class="label-alignment" style="top: -34%">Requisition
					Comment</label>
			</div>
		</div>

		<div class="row"
			ng-repeat=" requisition in requisition.qualifications">
			<div class="input-field col s6">
				<select placeholder="Select Qualification" id="qualification"
					ng-model="requisition.qualification" required
					ng-options="o as o for o in qualification | orderBy:'toString()'"
					class="form-control input-sm">
					<option>Select Qualification</option>
				</select> <label>Qualification<b class="mandatory">*</b></label><span class="validation-error"
					ng-show="updateRequisition.qualification.$dirty || invalidSubmitAttempt"></span>
			</div>
			<div class="input-field col s5">
				<input type="range" ng-model="requisition.percent" min="0" max="100" />
				<label>Percentage<b class="mandatory">*</b></label> <span
					class="range-slider__value">{{requisition.percent}}%</span>
			</div>
			<div class="input-field col s1">
				<button class="glyphicon glyphicon-remove"
					ng-show="lengthOfQualifications()" style="cursor: pointer;color:#26a69a;border:none;"
					ng-click="deleteQualification($index)"></button>&nbsp;&nbsp;&nbsp;
				<button id="addButtonColumn" style="cursor:pointer;color:#26a69a;border:none;"
				    ng-disabled="check(requisition.qualification)"
					ng-show="$last" class="glyphicon glyphicon-plus"
					ng-click="addColumnCriteria()"></button>
			</div>
		</div>
		
		<div class="row">
			<div class="input-field col s6">
				<select placeholder="Select Approver 1" ng-model="approval1"
					ng-disabled="disApproval1"
					ng-options="o.name for o in approvals | orderBy:'toString()'"
					class="form-control input-sm" required>
					<option>Select Approver 1</option>
				</select> <label>Approver 1<b class="mandatory">*</b></label>
			</div>
			<div class="input-field col s6" ng-hide="hideApproval2">
				<select placeholder="Select Approver 2" ng-model="approval2"
					ng-disabled="disApproval2"
					ng-options="o.name for o in approvals | orderBy:'toString()'"
					class="form-control input-sm">
					<option>Select Approver 2</option>
				</select> <label>Approver 2</label>
			</div>
		</div>
		<div align="center" class="row">
			<button class="btn btn-info active" ng-show="showApprovalBtn"
				ng-disabled="updateRequisition.$invalid || disableApprovalBtn"
				ng-click="approve()">
				<span class="glyphicon glyphicon-ok-circle"></span> Approve
			</button>
			<button class="btn btn-danger" ng-show="showRejectBtn"
				ng-disabled="updateRequisition.$invalid || disableRejectBtn"
				ng-click="rejectRequisition()">
				<span class="glyphicon glyphicon-remove-circle"></span> Reject
			</button>
			<button class="btn btn-info active"
				ng-disabled="updateRequisition.$invalid || validateRequisition() || disableUpdateBtn || disableRejectBtn || updateVal"
				ng-show="showUpdateBtn" ng-click="updateRequisitionDetails()">
				<span class="glyphicon glyphicon-ok" ng-disabled="disabled"></span>
				Update
			</button>
			<button ui-sref="recruitment.searchRequisition"
				class="btn btn-info active">
				<span class="glyphicon glyphicon-remove"></span> Cancel
			</button>
		</div>
	</form>
</div>
<br>
<br>
