
<div >
	<!-- ----------------------------------alert Message--------------------------------------------------------- -->
	<div ng-class="cls" ng-show="message" align="center"
		style="width: 850px; position: relative; left: -60; height: 50">
		<h5 style="margin-top: 2px;">{{message}}</h5>
	</div>
	<!-- ----------------------------------alert Message--------------------------------------------------------- -->


	<accordion close-others=false> <accordion-group
		is-open="status.isFirstOpen"> <accordion-heading>
	<font style="color: white;"> Personal Details<i
		class="pull-right glyphicon"
		ng-class="{'glyphicon-minus': status.isFirstOpen, 'glyphicon-plus': !status.isFirstOpen}"></i></font>
	</accordion-heading>

	<div class="row" align="left">
		<div class="control-group">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="lbl" for="candidateName"><i
					class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Candidate Name*</label>
			</div>
			<div class="col-md-3">
				<a href="#" editable-text="candidate[0].candidateName"
					onbeforesave="validateChar($data)" e-required>{{
					candidate[0].candidateName }} </a>
			</div>
		</div>

		<div class="control-group">
			<div class="col-md-2">
				<label class="lbl" for="emailId"><i
					class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;Email Id*</label>
			</div>
			<div class="col-md-3">{{ candidate[0].emailId }}</div>
		</div>
	</div>

	<div class="row" align="left">
		<div class="control-group">
			<div class="col-md-1"></div>
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<span
					ng-show="CreateCandidate.candidateName.$invalid  && !CreateCandidate.candidateName.$pristine"
					class="help-block">Enter A Valid Name!</span>

			</div>
		</div>

		<div class="control-group">
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<span
					ng-show="CreateCandidate.emailId.$dirty && CreateCandidate.emailId.$invalid">
					<span class="help-block" class="error"
					ng-show="CreateCandidate.emailId.$error.email"> Valid
						Email-id is required</span>
				</span>
			</div>
		</div>
	</div>

	<br>
	<div class="row" align="left">
		<div class="control-group">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="lbl" for="mobileNo"><i
					class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;MobileNo*</label>
			</div>
			<div class="col-md-3">
				<a href="#" editable-text="candidate[0].mobileNo"
					onbeforesave="validatePhNo($data)" e-required>{{
					candidate[0].mobileNo || "--" }}</a>
			</div>
		</div>

		<div class="control-group">
			<div class="col-md-2">
				<label class="lbl" for="altmobileNo"><i
					class="glyphicon glyphicon-phone-alt"></i>&nbsp;&nbsp;Alt. MobileNo</label>
			</div>
			<div class="col-md-3">
				<a href="#" editable-text="candidate[0].altmobileNo"
					onbeforesave="validatePhNo($data)">{{ candidate[0].altmobileNo ||
					"--" }}</a>
			</div>
		</div>
	</div>

	<br>
	<div class="row" align="left">
		<div class="control-group">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="lbl" for="passportNo"><i
					class="glyphicon glyphicon-plane"></i>&nbsp;&nbsp;Passport No.</label>
			</div>
			<div class="col-md-3">
				<a href="#" editable-text="candidate[0].passportNo"
					onbeforesave="validateAlphanumeric($data)">{{
					candidate[0].passportNo || "--" }}</a>
			</div>
		</div>

		<div class="control-group">
			<div class="col-md-2">
				<label class="lbl" for="notes"><i
					class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Current Address*</label>
			</div>
			<div class="col-md-3">
				<a href="#" editable-text="candidate[0].address" e-required>{{
					candidate[0].address || "--" }}</a>
			</div>
		</div>
	</div>
	<br>

	<div class="row" align="left">
		<div class="control-group">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="lbl" for="skypeId"><i
					class="glyphicon glyphicon-plane"></i>&nbsp;&nbsp;Skype Id.</label>
			</div>
			<div class="col-md-3">
				<a href="#" editable-text="candidate[0].skypeId"
					onbeforesave="validateAlphanumeric($data)">{{ candidate[0].skypeId
					|| "--" }}</a>
			</div>
		</div>

		<div class="control-group">
			<div class="col-md-2"></div>
			<div class="col-md-3"></div>
		</div>
	</div>
	</accordion-group> <br>
	<accordion-group is-open="status1.open"> <accordion-heading>
	<font style="color: white;"> Professinal Details <i
		class="pull-right glyphicon"
		ng-class="{'glyphicon-minus': status1.open, 'glyphicon-plus': !status1.open}"></i></font>
	</accordion-heading>
	<div class="row" align="left">
		<div class="control-group">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="lbl" for="qualification"><i
					class="glyphicon glyphicon-education"></i>&nbsp;&nbsp;Qualification*</label>
			</div>
			<div class="col-md-3">
				<a href="#" editable-select="candidate[0].qualification"
					e-ng-options="o as o for o in info.qualification" e-required>
					{{ candidate[0].qualification }} </a>

			</div>
		</div>

		<div class="control-group">
			<div class="col-md-2">
				<label class="lbl" for="Specialisation"><i
					class="glyphicon glyphicon-book"></i>&nbsp;&nbsp;Specialisation</label>
			</div>
			<div class="col-md-3">
				<a href="#" editable-text="candidate[0].stream"
					onbeforesave="validateChar($data)">{{ candidate[0].stream || "--"
					}}</a>
			</div>
		</div>
	</div>

	<br>
	<div class="row" align="left">
		<div class="control-group">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="lbl" for="Experience"><i
					class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;Experience</label>
			</div>
			<div class="col-md-3">
				<div class="col-md-6">
					Years: {{candidate[0].expYear	|| "--"}}
				</div>
				<div class="col-md-6">
					Months:  {{candidate[0].expMonth || "--"}}
					</td>
				</div>
			</div>
		</div>

		<div class="control-group">
			<div class="col-md-2">
				<label class="lbl" for="skills"><i
					class="glyphicon glyphicon-book"></i>&nbsp;&nbsp;Skills:*</label>
			</div>
			<div class="col-md-3">
					<a herf="" ng-hide="dis1" ng-click="skillss()"><i
						ng-repeat="skills in candidate[0].primarySkills">{{skills}}{{$last
							? '' : ', '}}</i></a>
					<ui-select multiple ng-model="candidate[0].primarySkills"
						ng-hide="hideSkillss" 
						ng-keypress="myFunct($event)" name="pskilss" theme="select2"
						id="skills" ui-select-required ng-disabled="disabled"
						on-remove="validateSkills()">
					<ui-select-match placeholder="Select Skills..">{{$item}}</ui-select-match>
					<ui-select-choices
						repeat="color in pskills | orderBy:'toString()' | filter:$select.search">
					{{color}} </ui-select-choices> </ui-select>
				</div>
				<div class="col-md-1">
					<button class="glyphicon glyphicon-ok btn btn-primary"
						" ng-hide="hideSkillss" ng-click="skillss1()"></button>
				</div>
		</div>
	</div>

	<br>
	<div class="row" align="left">
		<div class="control-group">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="lbl" for="Plocation"><i
					class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Designation*
				</label>
			</div>
			<div class="col-md-3">
					{{ candidate[0].designation || "--" }}

			</div>
		</div>

		<div class="control-group">
			<div class="col-md-2">
				<label class="lbl" for="CurrentEmp"><i
					class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;Current
					Employer</label>
			</div>
			<div class="col-md-3">
				<a href="#" editable-text="candidate[0].currentEmployer">{{
					candidate[0].currentEmployer || "--" }}</a>
			</div>
		</div>
	</div>

	<br>
	<div class="row" align="left">
		<div class="control-group">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="lbl" for="ReferredBy"><i
					class="glyphicon glyphicon-registration-mark"></i>&nbsp;&nbsp;Recruitment
					Team</label>
			</div>
			<div class="col-md-3">
				<a href="#" editable-select="candidate[0].hrAssigned"
					e-ng-options="o as o for o in recruitmentData">{{
					candidate[0].hrAssigned || "--" }}</a>
			</div>
		</div>

		<div class="control-group">
			<div class="col-md-2">
				<label class="lbl" for="jobcode"><i
					class="glyphicon glyphicon-barcode"></i>&nbsp;&nbsp;Select Jobcode</label>
			</div>
			<div class="col-md-3">
				<a href="" ng-hide="hidejobcode" ng-click="jobcodes()"><i>
						{{candidate[0].jobcodeProfile.join(', ') || "--"}}</i></a>
				<ui-select ng-hide="hidejobcodemenu" multiple style="width:180px;"
					ng-model="candidate.jobcodeProfile" theme="select2"
					ng-disabled="disabled"> <ui-select-match
					placeholder="Select JobCodes..">{{$item}}</ui-select-match> <ui-select-choices
					repeat="color in jobcodelist | orderBy:'toString()' | filter:$select.search">
				{{color}}</ui-select-choices> </ui-select>
			</div>
			<!-- {{jobcodelist}} -->
			<div class="col-md-1">
				<button class="glyphicon glyphicon-ok btn btn-primary"
					" ng-hide="hidejobcodemenu" ng-click="jobcodesave()"></button>
			</div>
		</div>
	</div>

	<br>
	<div class="row" align="left">
		<div class="control-group">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<label class="lbl" for="additionalNotes"><i
					class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Additional Notes</label>
			</div>
			<div class="col-md-3">
				<a href="#" editable-text="candidate[0].notes">{{ candidate[0].notes
					|| "--" }}</a>
			</div>
		</div>
		<div class="control-group">
			<div class="col-md-2">
				<label class="lbl" for="download"><i
					class="glyphicon glyphicon-download-alt"></i>&nbsp;&nbsp;Download*</label>
			</div>
			<div class="col-md-3">
				<a href="" ng-click="download()">Download</a>
			</div>
		</div>
	</div>
	</accordion-group> <br>
	
	<br>
	<div align="center">
		<a href="" class="btn btn-primary" ng-click="updateProfileDetails()">
			<span class="glyphicon glyphicon-ok"></span> Update
		</a>&nbsp;&nbsp;&nbsp;&nbsp; <a ui-sref="recruitment.searchProfile"
			class="btn btn-primary"> <span class="glyphicon glyphicon-remove"></span>
			Cancel
		</a>
	</div>

	</accordion-group> </accordion>

	<div></div>

</div>
<br>
<br>
.
