<form action="#" name="searchProfile" class="searchProfile" onvalidate>
	<form id="integerForm" role="form" class="form-horizontal">
		<div ng-show="message" ng-include="'notificationTemplate.html'"></div>
		<div class="row" style="width: 90%">
			{{stateName}}
			<div class="col-md-2"></div>
			<div class="col-md-8 ">
				<input type="text" class="form-control" ng-model="search" data-tooltip="Search by Name, Email Id or Designation">
				<div align="left">
					&nbsp;&nbsp; <a class="btn-floating"
						data-tooltip="Search Profile"><i class="material-icons">search</i></a>&nbsp;&nbsp;
					<a class="btn-floating"
						ng-show="hasRole('ROLE_USER,ROLE_MANAGER,ROLE_HR,ROLE_ADMIN,ROLE_INTERVIEWER,ROLE_REQUISITION_MANAGER,ROLE_REQUISITION_APPROVER')"
						href="#referral/createReferralProfile"data-tooltip="Create Profile"><i class="material-icons">add</i></a>
				</div>
			</div>
			<div class="col-md-1" align="center" />
		</div>

		<table class="bordered" style="width: 90%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email Id</th>
					<th>Designation</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody> 
				<tr class="animate-repeat"
					ng-repeat="profile in filtered = (profiles | filter:search) | orderBy:'profile.updatedDate' | offset: currentPage*itemsPerPage | limitTo: itemsPerPage"
					style="font-size: 80%">
					<td class="mdl-data-table__cell--non-numeric"><a
						style="cursor: pointer;" ng-click="editProfile(profile)">{{profile.candidateName}}</a></td>
					<td class="mdl-data-table__cell--non-numeric">{{profile.emailId}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{profile.designation}}</td>
					<td class="mdl-data-table__cell--non-numeric">{{profile.status}}</td>

				</tr>
			</tbody>
		</table>
		<br>
		<div class="row" style="width: 90%">
			<div class="col-md-3" align="left">
				<h5>
					<small> Total Profiles : {{ filtered.length }}</small>
				</h5>
			</div>

			<div class="col-md-9">
				<ul class="pagination1 pull-right">
					<li ng-class="{disabled: currentPage == 0}"><a
						ng-click="prevPage()"><i class="material-icons">chevron_left</i></a></li>
					<li ng-repeat="n in range(currentPage)"
						ng-class="{active: n == currentPage}" ng-click="setPage()"><a
						ng-bind="n + 1"></a></li>
					<li class="waves-effect"
						ng-class="{disabled: currentPage == pageCount() - 1}"><a
						ng-click="nextPage()"><i class="material-icons">chevron_right</i></a></li>
				</ul>
			</div>
		</div>
		<br> <br>
	</form>
</form>