<div class="ui raised less padded container segment" style="width: 80%;">
	<h3 align="left" class="ui dividing header">Position Details of
		job code - {{positionDetails.jobcode}}</h3>
	<form class="ui form" name="schedule_form" ng-submit="schedule()"
		onvalidate>
		<div class="ui segment" style="background-color: aliceblue;">
			<div align="left" class="four fields">
				<div class="field">
					<label class="ui label">Designation : </label>
				</div>
				<div class="field">
					<b>{{positionDetails.designation}}</b>
				</div>
				<div class="field">
					<label class="ui label">Status : </label>
				</div>
				<div class="field">
					<b>{{positionDetails.status}}</b>
				</div>
			</div>
			<div align="left" class="four fields">
				<div class="field">
					<label class="ui label">Updated By : </label>
				</div>
				<div class="field">
					<b>{{positionDetails.updatedBy}}</b>
				</div>
				<div class="field">
					<label class="ui label">Requisition id : </label>
				</div>
				<div class="field">
					<b>{{positionDetails.requisitionId}}</b>
				</div>
			</div>
			<div align="left" class="four fields">
				<div class="field">
					<label class="ui label">Min Exp: </label>
				</div>
				<div class="field">
					<b>{{positionDetails.minExpYear}}</b>
				</div>
				<div class="field">
					<label class="ui label">Max Exp: </label>
				</div>
				<div class="field">
					<b>{{positionDetails.maxExpYear}}</b>
				</div>
			</div>
			<div align="left" class="four fields">
				<div class="field">
					<label class="ui label">Location : </label>
				</div>
				<div class="field">
					<b>{{positionDetails.location}}</b>
				</div>
				<div class="field">
					<label class="ui label">Client : </label>
				</div>
				<div class="field">
					<b>{{positionDetails.client}}</b>
				</div>
			</div>
			<div align="left" class="four fields">
				<div class="field">
					<label class="ui label">Primary Skills : </label>
				</div>
				<div class="field">
					<b>{{positionDetails.primarySkills.join(', ')}}</b>
				</div>
				<div class="field">
					<label class="ui label">Job Profile : </label>
				</div>
				<div class="field">
					<b>{{positionDetails.jobProfile}}</b>
				</div>
			</div>
			<div align="left" class="four fields">
				<div class="field">
					<label class="ui label">Additional Skills : </label>
				</div>
				<div class="field">
					<b>{{positionDetails.secondarySkills}}</b>
				</div>
			</div>
		</div>
	</form>
</div>
