<div class="ui segment">
	<div align="left" class="five fields">
		<div class="field" style="padding-top: 20px;">
			<b>Additional Skills :  <b class="mandatory">*</b></b>
		</div>
		<textarea ng-model="interviewFeedback.additionalSkills" ng-disabled="disableFields" class="materialize-textarea"
				rows="2" length="120" style="resize: none; width: 60%;" 
				placeholder="Enter any Additional Skills" required></textarea>
	</div>
	<br>
	<div align="left" class="five fields">
		<div class="field" style="padding-top: 20px;">
			<b>Strengths : <b class="mandatory">*</b></b>
		</div>
		<textarea ng-model="interviewFeedback.strengths" ng-disabled="disableFields" class="materialize-textarea"
				rows="2" length="120" style="resize: none; width: 60%;" 
				placeholder="Enter Strengths" required></textarea>
	</div>
	<br>
	<div align="left" class="five fields">
		<div class="field" style="padding-top: 20px;">
			<b>Areas Of Improvement : <b class="mandatory">*</b></b>
		</div>
		<textarea ng-model="interviewFeedback.improvement" ng-disabled="disableFields" class="materialize-textarea"
				rows="2" length="120" style="resize: none; width: 60%;" 
				placeholder="Enter any Areas Of Improvement" required></textarea>
	</div>
</div>