<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<link rel="shortcut icon" type="image/x-icon"
	href="static/osi_images/osi_favicon.ico" />
<title>Recruitment Portal</title>

<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<link href="static/osi_css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="lib/bootstrap/css/bootstrap-responsive.min.css"
	rel="stylesheet" type="text/css" />

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link href="lib/bootstrap/font/font-awesome.css" rel="stylesheet">
<link href="lib/bootstrap/font/google_font.css" rel="stylesheet">

<!-- material design css and js -->

<link rel="stylesheet"
	href="lib/materialize/css/loginmaterialize.min.css" type="text/css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"
	type="text/javascript"></script>

<link href="static/osi_css/style.css" rel="stylesheet" type="text/css">
<link href="static/osi_css/signin.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="lib/angular/js/angular.min.js"></script>
<script type="text/javascript" src="lib/angular/js/angular-route.min.js"></script>
<script type="text/javascript"
	src="lib/angular/js/angular-messages.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript"
	src="lib/utility/js/google-plus-signin.js"></script>
<script src="lib/utility/js/jquery-1.11.2.min.js"></script>

<link href="lib/utility/css/bootstrap-social.css" rel="stylesheet"
	type="text/css">
<link href="lib/utility/css/font-awesome.css" rel="stylesheet"
	type="text/css">
<link href="lib/utility/css/docs.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Font+Name">
<script type="text/javascript" src="lib/utility/js/docs.js"></script>
<!-- <script type="text/javascript" src="js/linkedin_login.js"></script>


<script type="text/javascript" src="http://platform.linkedin.com/in.js">
	//here goes the api key, and the callback function
	api_key: 75bm8w66omcy7b
	//onLoad: onLinkedInLoad
	authorize: true
</script> -->
</head>

<body ng-app="myApp" ng-controller="myContoler">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar navbar-fixed-top">
					<div class="navbar-inner">
						<div class="container" style="padding: 32px 0 34px 0;">
							<div class="custom-header">
								<a href="login.html" class="col-md-2"><img
									class="navbar-brand" src="static/osi_images/logo.png"
									alt="OSI Technologies" id="logostyle" /></a>
								<h1 class="col-md-4" style="font-size: 300%; color: white;">Recruitment
									Portal</h1>
							</div>
						</div>
						<!-- /container -->
					</div>
					<!-- /navbar-inner -->
				</div>
			</div>
		</div>
		<!-- /navbar -->
		<div
			style="padding-left: 20%; padding-right: 25%; padding-top: -2%; padding-bottom: -1%">
			<div class="row well">

				<div class="col-md-1"></div>
				<div class="col-md-5" style="border-right: 1px solid black;">
					<form class="form-horizontal login-form"
						action="j_spring_security_check" method="post" id="ldapUserlogin"
						autocomplete="off" name="ldapUserlogin">
						<h6 style="color: black;">Sign in with your OSI account</h6>
						<div class="row margin">
							<div class="input-field col s12">
								<i class="mdi-social-person-outline prefix"></i> <input
									type="email" class="validate" name="username"
									ng-model="login.username" id="custom-input-username"
									ng-pattern="/^[a-zA-Z]+@osius\.com$/" required> <label
									for="custom-input-username" class="center-align">Email</label>
							</div>
							<div ng-messages="ldapUserlogin.username.$error" role="alert">
								<div class="error-alert" ng-message="pattern" style="margin-left: -40px">Enter OSI
									credentials<br>(Example: username@osius.com)</div>
									
							</div>
							
							<span class="help-block"></span>
							<div class="input-field col s12">
								<i class="mdi-action-lock-outline prefix"></i> <input
									type="password" name="password" ng-model="login.password"
									id="custom-input-password" required> <label
									for="custom-input-password">Password</label>
							</div>
							<div ng-messages="ldapUserlogin.password.$error" role="alert">
							</div>
						</div>
						<input type="hidden" ng-model="login.j_username" name="j_username"
							value="{{login.username}}" /> <input type="hidden"
							ng-model="login.j_password" name="j_password"
							value="{{login.password}}" />
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="login-help">
									<p></p>
								</div>
							</div>
						</div>
						<!-- <div class="form-group">
								<div class="row">
								
									<label><input type="checkbox"> Remember me</label>
									<input type="checkbox" id="remember-me" /> <label
										for="remember-me">Remember Me </label>
								</div>
						
						</div>
 -->
						<!-- <div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label><input type="checkbox"> Remember me</label>
								</div>
							</div>
						</div>
 -->

						 <div class="form-group">
							<div class="row">
								<div class="input-field col s12">
									<button class="waves-effect waves-light btn col s10"
										type="submit" ng-click="userLogin()"
										ng-disabled="ldapUserlogin.$invalid">Login</button>
								</div>
							</div>
						</div>
						<div class="row">
							<!-- <div class="input-field col s6 m6 l6">
								<p class="margin medium-small">
									<a href="register.html">Register Now!</a>
								</p>
							</div> -->
							<div class="input-field col s6 m6 l6">
								<p class="margin right-align medium-small">
									<a href="https://login.osius.com/showLogin.cc" target="_blank">Forgot
										password?</a>
								</p>
							</div>
						</div>

					</form>
				</div>
				<div class="col-md-2">
					<div class="row google-signin field">
						<div style="display: none">
							<form id="login-form" action="j_spring_security_check"
								method="post">
								<div class="center">
									<input type="text" name="j_username" id="j_username"
										maxlength="50" /> <input type="password" name="j_password"
										id="j_password" maxlength="50" /> <input type="submit"
										value="Login" id="login-submit" />
								</div>
							</form>
						</div>
						<div ng-app="directive.g+signin">
							<google-plus-signin
								clientid="982095460700-r2em1ubormovperomp1vlbm0r3m54rlt.apps.googleusercontent.com">
							<div class=" btn-group">
								<button type="button" id="signInG"
									class="btn btn-block btn-social btn-google">
									<i class="fa fa-google-plus"></i>Sign in with google+
								</button>
							</div>
							</google-plus-signin>
						</div>
					</div>
				</div>
				<!-- <div class="btn-group" style="padding-left: 35px">
					<button type="button" id="linkedIn"
						class="btn btn-block btn-social btn-linkedIn" disabled="true">
						<i class="fa fa-linkedin"></i> Sign in with Linkedin
					</button>
				</div> -->

				<div id="profiles"></div>
			</div>
		</div>
	</div>

	<!-- /account-container -->
		<div class="footer mdl-shadow--4dp">
			<div class="footer-inner">
				<div class="row" align="right" style="margin-right: 20px">
					<div class="col-md-2" align="left">
					<img src="static/osi_images/fb.png" alt="Facebook" title="Facebook" class="logoStyle">
					<img src="static/osi_images/Twitter.png" alt="Twitter" title="Twitter" class="logoStyle">
					<img src="static/osi_images/LinkedIn.png" alt="LinkedIn" title="LinkedIn" class="logoStyle">
					</div>
						<div class="col-md-8"></div>
						<div class="col-md-2">
							<a href="http://www.osius.com/">{{copyrights}}</a>
						</div>
						<!-- /span12 -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /footer-inner -->
		</div>
		<!-- /footer -->

	<script src="lib/bootstrap/js/bootstrap.js"></script>

	<script src="js/signin.js"></script>
</body>

</html>
