<br>
<div align="center">
	<table style="width: 90%; font-size: 85%">
		<tbody>
			<tr>
				<td>
					<div class="row">
						<div class="col s6">Self Learning & Initiative:<b class="mandatory">*</b></div>
						<div class="col s6">
							<rating ng-model="interviewFeedback.selfLearningAndInitiative" max="5" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null" required></rating>
						</div>
					</div>
					<div class="row">
						<div class="col s6">Customer Orientation:<b class="mandatory">*</b></div>
						<div class="col s6">
							<rating ng-model="interviewFeedback.customerOrientation" max="5" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null" required></rating>
						</div>
					</div>
					<div class="row">
						<div class="col s6">Business Attitude:<b class="mandatory">*</b></div>
						<div class="col s6">
							<rating ng-model="interviewFeedback.businessAttitude" max="5" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null" required></rating>
						</div>
					</div>
					<div class="row">
						<div class="col s6">Flexibility:<b class="mandatory">*</b></div>
						<div class="col s6">
							<rating ng-model="interviewFeedback.flexibility" max="5" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null" required></rating>
						</div>
					</div>
					<div class="row">
						<div class="col s6">Team Work:<b class="mandatory">*</b></div>
						<div class="col s6">
							<rating ng-model="interviewFeedback.teamWork" max="5" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null" required></rating>
						</div>
					</div>
					<div class="row">
						<div class="col s6">Onsite Suitability:<b class="mandatory">*</b></div>
						<div class="col s6">
							<rating ng-model="interviewFeedback.onsiteSuitability" max="5" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null" required></rating>
						</div>
					</div>
				</td>
				<td>
					<div class="input-field">
						<textarea class="materialize-textarea" length="120" ng-model="interviewFeedback.managementSkillComment"
							placeholder="Enter any comments/notes..."></textarea>
							<label style="position: absolute; top: -22px;">Comment</label>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>