<br>
<div align="center">
	<table style="width: 90%; font-size: 85%">
		<tbody>
			<tr>
				<td>
					<div class="row">
						<div class="col s6">Self Learning & Initiative</div>
						<div class="col s6">
							<rating ng-model="" max="10" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
						</div>
					</div>
					<div class="row">
						<div class="col s6">Customer Orientation</div>
						<div class="col s6">
							<rating ng-model="" max="10" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
						</div>
					</div>
					<div class="row">
						<div class="col s6">Business Attitude</div>
						<div class="col s6">
							<rating ng-model="" max="10" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
						</div>
					</div>
					<div class="row">
						<div class="col s6">Flexibility</div>
						<div class="col s6">
							<rating ng-model="" max="10" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
						</div>
					</div>
					<div class="row">
						<div class="col s6">Team Work</div>
						<div class="col s6">
							<rating ng-model="" max="10" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
						</div>
					</div>
					<div class="row">
						<div class="col s6">Onsite Suitability</div>
						<div class="col s6">
							<rating ng-model="" max="10" readonly="false"
								on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
						</div>
					</div>
				</td>
				<td>
					<div class="input-field">
						<textarea class="materialize-textarea" length="120" ng-model=""
							placeholder="Enter any comments/notes..."></textarea>
							<label style="position: absolute; top: -22px;">Comment</label>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>