<html lang="en">
<head>
<meta charset="utf-8">
<title>User Registration Page</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">


<link href="static/osi_css/bootstrap.min.css" rel="stylesheet">
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="lib/angular/css/datetimepicker.css" rel="stylesheet">

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link href="lib/angular/css/angular-block-ui.min.css" rel="stylesheet">

<link href="static/osi_css/home.css" rel="stylesheet">
<link href="static/osi_css/simple-sidebar.css" rel="stylesheet">
<link href="lib/bootstrap/font/font-awesome.css" rel="stylesheet">
<link href="lib/bootstrap/font/google_font.css" rel="stylesheet">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
<link rel="stylesheet" href="lib/materialize/css/materialize.css">

<link rel="stylesheet" type="text/css"
	href="lib/Semantic-UI-CSS/semantic.min.css">
<link href="static/osi_css/style.css" rel="stylesheet">

<script src="lib/angular/js/angular.min.js"></script>
<script src="lib/utility/js/jquery-1.11.2.min.js"></script>
<script src="js/masks.js"></script>
<script src="lib/angular/js/angular-block-ui.min.js"></script>
<script src="lib/angular/js/angular-file-upload-shim.min.js"></script>
<script src="lib/angular/js/angular-file-upload.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="lib/angular/js/ng-grid.debug.js"></script>
<script src="js/registerUser.js"></script>
</head>
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<span><img class="navbar-brand"
				src="static/osi_images/logo.png" alt="OSI Technologies"
				id="logostyle" title="OSI Technologies" /></span>
		</div>
	</nav>
</div>
<div class="row">
	<div class="col-md-1 col-sm-1 col-xs-1 "></div>
	<body ng-app="app" ng-controller="registerUserCtrl">
		<form class="col s12 m12 l10 collapsible collapsible-accordion"
			tag="Create Logon" name="myForm">

			<div class="row collapsible-header">
				<h5 align="left" style="padding-bottom: 0px">
					<b>Register User 
				</h5>
			</div>
			<div class="row">
				<div class="row">
					<div class="input-field col s6">
						<label style="position: absolute; top: -22px;">First name<b
							class="mandatory">*</b></label><input type="text" name="firstname" placeholder="Enter first name"
							class="textHeight"  ng-model="newUser.firstname"required/>
					</div>
					<div class="input-field col s6">
						<label style="position: absolute; top: -22px;">Last name<b
							class="mandatory">*</b></label><input type="text" name="lastname" placeholder="Enter last name"
							class="textHeight"  ng-model="newUser.lastname"required />
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<label style="position: absolute; top: -22px;">Email Id<b
							class="mandatory">*</b></label><input type="text" name="email" placeholder="Enter email Id"
							ng-model="newUser.emailId" class="textHeight" ng-blur="validateEmailId(newUser.emailId)"
						ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-0-]+(\.[a-zA-Z0-0-]+)*(\.[a-zA-Z]{2,4})$/"
							required/>
							<span class="validation-error"
						ng-show="duplicateEmailIdError">User with this email id
						already exists. </span> 
					<span class="validation-error"
						ng-show="myForm.email.$error.pattern">
						Please check the given Email Address.</span>
					</div>
					<div class="input-field col s6">
						<label style="position: absolute; top: -22px;">Mobile
							Number<b class="mandatory">*</b>
						</label><input type="text" name="tel" ng-model="newUser.mobileNo" placeholder="Enter mobile number" 
						onkeypress='return event.charCode >= 48 && event.charCode <= 57' minlength="10" maxlength="10"
							class="textHeight" required/>
							<span class="validation-error"
							ng-show="myForm.tel.$error.minlength || myForm.tel.$error.maxlength">Please provide valid mobile number</span>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<label style="position: absolute; top: -22px;">Current
							Location<b class="mandatory">*</b>
						</label><input type="text" name="add" ng-model="newUser.location" placeholder="Enter location"
							class="textHeight" required/>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="password" type="password" placeholder="Enter password"
							name="password" ng-model="newUser.password" minlength="6"
							maxlength="20" ng-change="matchPasswords()" ng-pattern="/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{6,20}$/" required> <label
							style="position: absolute; top: -22px;">Password<b
							class="mandatory">*</b></label> <br>
						<br> <span class="validation-error"
							ng-show="myForm.password.$error.minlength">Passwords must
							be between 6 and 20 characters</span>
							<span class="validation-error" ng-show="myForm.password.$error.pattern">Passwords must contain atleast a digit,a lower case,an upper case and a
								special character</span>
					</div>
					<div class="input-field col s6">
						<input id="confirmPassword" type="password" placeholder="Enter confirm password"
							name="confirmPassword" ng-model="newUser.confirmPassword" minlength="6"
							maxlength="20" ng-change="matchPasswords()" required> <label
							style="position: absolute; top: -22px;">Confirm Password<b
							class="mandatory">*</b></label> <br>
							<span class="validation-error" ng-show="passwordError">Passwords do
								not match.</span>
					</div>

				</div>

				<div class="row">
					<div class="input-field col s11" align="center">
						<button class="btn btn-info active" ng-disabled="myForm.$invalid || duplicateEmailIdError || passwordError"
							ng-click="submit()" type="submit">
							<span class="glyphicon glyphicon-ok-circle"></span> Submit
						</button>
					</div>
				</div>
			</div>

		</form>
	</body>
</div>
</body>
</html>
