<br>
<div style="width: 90%;">
	<div class="row">
		<div class="col s4">
			<b>Communication Skills:<b class="mandatory">*</b></b>
		</div>
		<div class="col s3">
			<rating ng-model="interviewFeedback.communicationSkills" max="10" readonly="false"
				on-hover="hoveringOver(value)" on-leave="overStar = null" required></rating>
		</div>
		<div class="col s5">
			<div class="input-field">
				<textarea class="materialize-textarea" length="120" ng-model="interviewFeedback.communicationSkillComment"
					placeholder="Enter any comments/notes..."></textarea>
				<label style="position: absolute; top: -22px;">Comment</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s4">
			<b>Consulting and articulation skills:<b class="mandatory">*</b></b>
		</div>
		<div class="col s3">
			<rating ng-model="interviewFeedback.consultingAndArticulationSkills" max="10" readonly="false"
				on-hover="hoveringOver(value)" on-leave="overStar = null" required></rating>
		</div>
		<div class="col s5">
			<div class="input-field">
				<textarea class="materialize-textarea" length="120" ng-model="interviewFeedback.consultingAndArticulationSkillsComment"
					placeholder="Enter any comments/notes..."></textarea>
				<label style="position: absolute; top: -22px;">Comment</label>
			</div>
		</div>
	</div>
</div>