<br>
<div style="width: 90%;">
	<div class="row">
		<div class="col s4">
			<b>Communication Skills</b>
		</div>
		<div class="col s3">
			<rating ng-model="" max="10" readonly="false"
				on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
		</div>
		<div class="col s5">
			<div class="input-field">
				<textarea class="materialize-textarea" length="120" ng-model=""
					placeholder="Enter any comments/notes..."></textarea>
				<label style="position: absolute; top: -22px;">Comment</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s4">
			<b>Consulting and articulation skills</b>
		</div>
		<div class="col s3">
			<rating ng-model="" max="10" readonly="false"
				on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
		</div>
		<div class="col s5">
			<div class="input-field">
				<textarea class="materialize-textarea" length="120" ng-model=""
					placeholder="Enter any comments/notes..."></textarea>
				<label style="position: absolute; top: -22px;">Comment</label>
			</div>
		</div>
	</div>
</div>