	<div align="left" class="five fields">
		<div class="field">
			<b>Technical Skills : </b>
		</div>
		<div class="field" style="padding-left: 10px;">
			<div class="row" ng-repeat="round in interviewFeedback.rateSkills">
				<div align="left" class="two fields">
					<div class="field">{{ round.skill }}:<b class="mandatory">*</b></div>
					<div class="field">
						<rating ng-model="round.rating" max="5" readonly="false" ng-click="starColor($event)"
                                on-hover="hoveringOver(value)" on-leave="hooverStar = null;" data-tooltip={{tooltip}}>
                        </rating>
					</div>
				</div>
			</div>
			<input type="text" ng-model="technical.newSkill" maxlength="40" name="" 
					placeholder="Enter Skill." style="width: 60%; margin-left: -10px; margin-right: -20px;">
			<button style="background-color: #F8F8F8; border: 0px;" href=""
				id="" class="interview-feedback" data-tooltip="Add New Skill"
				 ng-disabled="!technical.newSkill"
				ng-click="addNewSkill();disablefeedback()">
				<i class="material-icons" style="background-color: #337ab7; color: white;">add</i>
			</button>
		</div>
	</div>
	<br>
	<div align="left" class="five fields">
		<div class="field">
			<b>Comment : </b>
		</div>
		<textarea class="materialize-textarea" rows="2" style="width:60%; resize: none;" length="120" ng-model="interviewFeedback.technicalComment"
				placeholder="Enter any comments/notes..."></textarea>
	</div>
