<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/data/elasticsearch
        http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch-1.0.xsd">

	<context:annotation-config />

	<import resource="classpath:mongo-context.xml" />
	<context:component-scan base-package="com.nisum.employee.ref" />

	<mvc:default-servlet-handler />
	<mvc:annotation-driven />

	<util:properties id="app" location="classpath:application.properties" />
	<context:property-placeholder
		properties-ref="app" />

	<bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper" />
	<bean id="securityProvider" class="com.nisum.employee.ref.security.SecurityProvider" />

	<bean id="jacksonObjectMapper"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"
		p:targetMethod="disable">
		<property name="targetObject">
			<bean class="com.fasterxml.jackson.databind.ObjectMapper" />
		</property>
		<property name="arguments">
			<list>
				<util:constant
					static-field="com.fasterxml.jackson.databind.DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES" />
			</list>
		</property>
	</bean>

	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes" value="application/json" />
		<property name="objectMapper" ref="objectMapper" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<bean id="mappingJacksonJsonView"
		class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"
		p:extractValueFromSingleKeyModel="true" p:objectMapper-ref="jacksonObjectMapper" />

	<bean id="annotationMethodHandlerAdapter"
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
				<bean
					class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<mvc:cors>
		<mvc:mapping path="/resources/**" allowed-origins="http://localhost:8100"
			allowed-methods="GET, PUT, POST, DELETE" allow-credentials="false"
			max-age="1230" />
	</mvc:cors>


	<!-- RestTemplate for external HTTP calls -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
	</bean>

	<elasticsearch:node-client id="client" local="true" />
	<!-- <elasticsearch:transport-client id="client" cluster-nodes="localhost:9300,someip:9300"/> -->
	<elasticsearch:repositories
		elasticsearch-template-ref="elasticsearchTemplate" base-package="com.nisum.employee.ref.search." />

	<bean name="elasticsearchTemplate"
		class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
		<constructor-arg name="client" ref="client" />
	</bean>
</beans>