<!------------------------------------------------------ SIDEBAR ---------------------------------------------->
<!-- <div ng-include="'views/admin/admin-sidebar.html'"></div> -->
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-11" align="center">
		<ul class="tabs">
			<li ng-repeat="t in tabs" class="tab" role="presentation"><a
				ng-class="{active: isActive(t.route)}" ui-sref="{{t.route}}">{{t.heading}}
			</a></li>
		</ul>
	</div>
</div>
<!------------------------------------------------------ ------------------------------------------------------>
<!-- <div ng-class="cls" ng-show="message" align="center" -->
<!-- 	style="width: 650px; height: 50px; margin-top: 10px; margin-left: -10%"> -->
<!-- 	<h5 style="margin-top: 2px;">{{message}}</h5> -->
<!-- </div> -->
<div ng-show="message" ng-include="'notificationTemplate.html'"></div>
<div ui-view></div>
