<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2"></div>
	<h4 class="col-md-8 col-sm-8 col-xs-8" align="left">Client Information</h4>
</div>	
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 "></div>
	<form class="col s8" name="clientForm" onvalidate
		style="background-color: #fff; border-radius: 10px; padding-top: 1%; border: 1px solid whitesmoke;">
		<div ng-show="message" ng-include="'notificationTemplate.html'"></div>
		<div class="row">
			<div class="input-field col s6">
				<label class="lbl"> <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Client
					Name<b class="mandatory">*</b>
				</label> <input type="text" name="clientName" id="clientName" ng-pattern="/^[a-zA-Z _']*$/"  ng-change="checkClientName()"
					style="top: 1px; height: 29px" placeholder="Enter Client Name"
					ng-model="client.clientName" required />
					<span ng-show="clietNameError" class="validation-error">Client name already exist</span>
					<span class="validation-error"
						ng-show="clientForm.clientName.$error.pattern">
						Enter valid name</span>
			</div>
			<div class="input-field col s6">
				<select placeholder="Select location" ng-model="client.locations"
					ng-options="o as o for o in locations"
					class="form-control input-sm" required>
					<option value='' disabled="disabled">Select Location</option>

				</select> <label> <i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Location<b
					class="mandatory">*</b>
				</label>
			</div>
			
		</div>
		<div class="row" ng-show="client.locations=='Others'">
			<div class="input-field col s6">
				<label class="lbl"> <i
					class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Other
					Location<b class="mandatory">*</b>
				</label> <input type="text" name="olocation" id="olocation"
					style="top: 1px; height: 29px"
					placeholder="Enter Location Name" ng-model="otherLocation" ng-required="client.locations=='Others'"
					ng-minlength="3">
				<div class="validation-error"
					ng-show="(clientForm.olocation.$dirty || invalidSubmitAttempt) && clientForm.olocation.$error.pattern">
					Other Location must be characters only.</div>	
				<div class="validation-error"
					ng-show="(clientForm.olocation.$dirty || invalidSubmitAttempt) && clientForm.olocation.$error.minlength">
					Other Location must be at least 3 characters .</div>
			</div>
		</div>
		<div class="row" align="center">
			<div class="input-field col s12">
				<button class="btn btn-info active"
					ng-disabled="clientForm.$invalid || clietNameError" type="submit"
					ng-click="submit()">
					<span class="glyphicon glyphicon-ok-circle"></span> Save
				</button>
				<button class="btn btn-info active" ui-sref="admin.client.list">
					<span class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>
		</div>
</div>

