<div class="container">
<!-- ----------------------------------alert Message--------------------------------------------------------- -->
	<div ng-class="cls" ng-show="message" align="center"
		style="width: 850px; position: relative; left: -60; height: 50">
		<h6 style="margin-top: 2px;">{{message}}</h6>
	</div>
</div>

<!-- ----------------------------------alert Message--------------------------------------------------------- -->
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2"></div>
	<h4 class="col-md-8 col-sm-8 col-xs-8" align="left">Job Description</h4>
</div>
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 "></div>
	<form class="col s8" name="CreateJobDescription" onvalidate
		style="background-color: #fff; border-radius: 10px; padding-top: 1%; border: 1px solid whitesmoke;">

			<div class="row">
				<div class="input-field col s6">
						<input  type="text"
							id="jobDescription"
							name="jobDescription" class="form-control"
							ng-model="jobDescription.jobDescriptionName" 
							ng-change="validateJDName(jobDescription.jobDescriptionName)"
							placeholder="Enter Title" required>
						<label class="lbl" for="jobDescription" style="position: absolute; top: -22px;">Title<b
								style="color: red;">*</b></label>	 
							<span class="validation-error"									
								ng-show="submitted && CreateJobDescription.name.$invalid">Please
								provide Job Description Title</span>
						<div class="validation-error"
							ng-show="(CreateJobDescription.name.$dirty || invalidSubmitAttempt) && CreateJobDescription.name.$error.required">
							Job Description Title is required.</div>
						<span class="validation-error" ng-show="jdNameLengthErr">Title Name should be atleast 5 chars.</span>
						<span class="validation-error" ng-show="jdNameMaxLengthErr">Job Description Title exceeded 30 chars.</span>	
						<span class="validation-error" ng-show="jdNameErr">Job Title already exists.&nbsp;&nbsp;&nbsp;&nbsp;</span>	
					</div>
				
				<div class="input-field col s6">	
						<ui-select multiple ng-model="jobDescription.skills"
							ng-keypress="myFunct($event)" theme="select2" ui-select-required
							ng-disabled="disabled"> <ui-select-match
							placeholder="Select Skills..">{{$item}}</ui-select-match> <ui-select-choices
							repeat="color in pskills | orderBy:'toString()' | filter:$select.search">
						{{color}} </ui-select-choices> </ui-select>
						<label style="position: absolute; top: -22px;">Skills<b class="mandatory">*</b></label>
					</div>
					<span class="validation-error"
							ng-show="submitted && CreateJobDescription.pskills.$invalid">Please
							enter  key skills.</span>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<select placeholder="Select Client" ng-model="jobDescription.client"
							required
							ng-options="o as o for o in clientList | orderBy:'toString()'"
							class="form-control input-sm">
							<option value="" disabled="disabled">Select Client</option>
						</select> <label>Client<b class="mandatory">*</b></label>
					</div>
				</div>						
				<div class="row">
					<div class="input-field col s12">
						<label style="position: absolute; top: -23px;">Job Description<b class="mandatory">*</b></label>
						<textarea  class="materialize-textarea" 
							ng-model="jobDescription.jobDescriptionDetails"
							placeholder="Enter job description details..." required></textarea>
					</div>
					<div class="col-md-3" align="left">
						<span class="validation-error" ng-show="jdDescritptionErr">Job Description Details exceeded 500 chars.</span>
					</div>
				</div>
			<div align="center">
				<button class="btn btn-info active" type="submit" ng-disabled="CreateJobDescription.$invalid || jdNameErr || jdDescritptionErr 
						|| jdNameMaxLengthErr || jdNameLengthErr" ng-click="save()">
					<span class="glyphicon glyphicon-ok-circle"></span> Save 
				</button>
				&nbsp;&nbsp;&nbsp;&nbsp; <a ui-sref="admin.jobDescription.list"
					class="btn btn-info active"> <span class="glyphicon glyphicon-remove"></span> Cancel
				</a>
			</div>
		<br> 
	</form>
</div>