<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2"></div>
	<h4 class="col-md-8 col-sm-8 col-xs-8" align="left">Client Information</h4>
</div>	
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 "></div>
	<form class="col s8" name="clientForm" onvalidate
		style="background-color: #fff; border-radius: 10px; padding-top: 1%; border: 1px solid whitesmoke;">
		
		<div class="row">
			<div class="input-field col s6">
				<label class="lbl"> <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Client
					Name<b class="mandatory">*</b>
				</label>
				<input type="text" name="clientName" id="clientName" style="top: 1px; height: 29px"
								placeholder="Enter Client Name" ng-model="client.clientName" required/>
			</div>
			<div class="input-field col s6">
				 <select placeholder="Select Designation" ng-change="getData()"
					ng-disabled="disLocation" ng-model="client.locations" required
					ng-options="o as o for o in locations | orderBy:'toString()'"
					class="form-control input-sm">
					<option value='' disabled="disabled">Select Location</option>
				</select>
				<label> <i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Location<b class="mandatory">*</b>
				</label>
			</div>
		</div>
		<div class="row" align="center">
			<div class="input-field col s12">
				<button class="btn btn-info active"
					ng-disabled="clientForm.$invalid" type="submit" ng-click="submit()">
					<span class="glyphicon glyphicon-ok-circle"></span> Save
				</button>
				<button class="btn btn-info active" ui-sref="admin.client.list">
					<span class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>
		</div>
</div>