<div ng-show="message" ng-include="'notificationTemplate.html'"></div>
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2"></div>
	<h4 class="col-md-8 col-sm-8 col-xs-8" align="left">Create Designation</h4>
</div>

<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 "></div>
	<form class="col s8" name="CreateDesignation" onvalidate
		style="background-color: #fff; border-radius: 10px; padding-top: 1%; border: 1px solid whitesmoke;">
	
	<div class="row">
		<div class="input-field col s6">
			<label class="lbl" for="designation"><i	class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Designation <b
							style="color: red;">*</b></label>
			
			<input placeholder="Enter Designation" ng-minlength="3" type="text"
					ng-maxlength="30" name="designation" class="form-control"
					ng-model="designation.designation" required
					placeholder="Enter Designation"> 
			<span class="validation-error"
					ng-show="submitted && CreateDesignation.designation.$invalid">Please
					provide Designation
			</span>
			<div class="validation-error"
				ng-show="(CreateDesignation.designation.$dirty || invalidSubmitAttempt) && CreateDesignation.designation.$error.required">
				Designation is required.
			</div>
		</div>
		<div class="input-field col s6">
				<label style="position: absolute; top: -22px;">Skills Set<b class="mandatory">*</b>:</label>
			
				<ui-select multiple ng-model="designation.skills" 
							ng-keypress="myFunct($event)" name="pskills" theme="select2"
							id="skills" ui-select-required ng-disabled="disabled">
						<ui-select-match placeholder="Select Skills..">{{$item}}</ui-select-match>
						<ui-select-choices
							repeat="skill in pskills | filter:$select.search">
						{{skill}} </ui-select-choices> </ui-select>
				 <span class="validation-error"
					ng-show="submitted && CreateDesignation.pskills.$invalid">Please
					enter your key skills.</span>
		</div>
	</div>	
	<div class="row">
		<div class="input-field col s6">
			<label class="lbl" for="Experience"><i
							class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;Experience<b
							style="color: red;">*</b></label>
				{{$scope.designation}}
				<div class="input-field col s6">
					<input type="range" ng-model="designation.minExpYear"  
						ng-change="validate1(designation.minExpYear)" min="0" max="15" required />
					<span class="range-slider__value">Min:{{designation.minExpYear}}</span>
				</div>
				<div class="validation-error"
					ng-show="( CreateDesignation.minExpYear.$dirty || invalidSubmitAttempt) && CreateDesignation.minExpYear.$error.required">
					Please select minExpYear.</div>

				<div class="input-field col s6">
						<input type="range" ng-model="designation.maxExpYear"
							ng-change="validate(designation.maxExpYear)" min="0" max="15" required />
						<span class="range-slider__value">Max:{{designation.maxExpYear}}</span>
				</div>
				<div class="validation-error"
					ng-show="( CreateDesignation.maxExpYear.$dirty || invalidSubmitAttempt) && CreateDesignation.maxExpYear.$error.required">
					Please select maxExpYear.</div>
			</div>
		</div>
		<br>
		<div align="center" class="row">
			<button class="btn btn-info active" type="submit" ng-disabled="CreateDesignation.$invalid || invalidExperience()"
				ng-click="save()">
					<span class="glyphicon glyphicon-ok-circle"></span> Save
				</button>
				&nbsp;&nbsp;&nbsp;&nbsp; <a ui-sref="admin.designation.list"
					class="btn btn-info active"> <span
					class="glyphicon glyphicon-remove"></span> Cancel
				</a>
		</div>
	</form>
</div>