<!-- ----------------------------------alert Message--------------------------------------------------------- -->
<div ng-class="adminCls" ng-show="message" align="center"
	style="width: 650px; position: relative; left: -60; height: 50">
	<h5 style="margin-top: 2px;">{{message}}</h5>
</div>
<!-- ----------------------------------alert Message--------------------------------------------------------- -->

<div class="row">
	<form class="input-field col s9" name="EditUserInfo" onvalidate
		style="background-color: #fff; border-radius: 10px; padding-top: 1%; border: 1px solid whitesmoke; width: 70%; left: 200;">
		<div class="row">
			<div class="input-field col s6">
				<div class="card teal lighten-2">
					<span style="color: grey; font-size: x-large;">Edit Employee</span>
					<div class="card-action" style="background-color: white;">
						<div class="row">
							<div class="input-field col s6">
								<input class="form-control" ng-change="validateChar($data)"
									name="userNameValid" ng-pattern="/^[a-zA-Z _]*$/"
									ng-minlength="3" ng-maxlength="30" type="text"
									ng-model="userToEdit.name" required> <label style="position: absolute; top: -22px;">Full
									Name<b class="mandatory">*</b>
								</label> <span class="validation-error"
									ng-show="EditUserInfo.userNameValid.$invalid"></span>
								<div class="validation-error"
									ng-show="EditUserInfo.userNameValid.$error.required">
									User Name is required.</div>
								<div class="validation-error"
									ng-show="EditUserInfo.userNameValid.$error.pattern">
									User Name must be characters only.</div>
								<div class="validation-error"
									ng-show="EditUserInfo.userNameValid.$error.minlength">
									User Name must be at least 3 characters .</div>
							</div>
							<div class="input-field col s6">
								<input class="form-control" ng-disabled=true type="text"
									ng-model="userToEdit.emailId"> <label>Email </label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<input class="form-control" placeholder="Enter 10 digit number" name="mobileNo"
									ng-pattern="/^((0091)|0?)[1-9]{1}\d{9}$/" maxlength="11" type="text"
									ng-model="userToEdit.mobileNumber" required> <label style="position: absolute; top: -22px;">Mobile<b
									class="mandatory">*</b></label>
									<span class="validation-error"
					                  ng-show="EditUserInfo.mobileNo.$error.pattern">
					                    Mobile number should be numeric and 10 digit number</span>
			                      
							</div>
							<div class="input-field col s6">
								<input class="form-control" ng-change="validateSkypeId($data)"
									type="text" ng-model="userToEdit.skypeId" required> <label style="position: absolute; top: -22px;">Skype
									ID<b class="mandatory">*</b>
								</label>
							</div>
						</div>
						<div class="row">
							<!-- <div class="input-field col s6">
								
								<input type="date" ng-model="birthDate"
									max="{{todayDate | date : 'yyyy-MM-dd' }}"
									id="birthDate" required name="birthDate"> 
									<label>DOB<b class="mandatory">*</b>
							</div> -->
							<div class="input-field col s6">
								<input class="form-control" type="text"
									ng-pattern="/^[a-zA-Z _]*$/" ng-model="userToEdit.location"
									required> <label style="position: absolute; top: -22px;">Location<b class="mandatory">*</b></label>
							</div>
							<div class="input-field col s6">
								<ui-select multiple ng-model="userToEdit.clientName"
									theme="select2" ng-keypress="myFunct($event)"> <ui-select-match
									placeholder="Select Clients..">{{$item}}</ui-select-match> <ui-select-choices
									repeat="client in clientList | orderBy:'toString()' | filter:$select.search">
								{{client}}</ui-select-choices> </ui-select>
								<label style="position: absolute; top: -22px;">Clients</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6"> 
								<ui-select multiple ng-model="userToEdit.roles" theme="select2" ng-keypress="myFunct($event)"
									ui-select-required> <ui-select-match
									placeholder="Select roles..">{{$item}}</ui-select-match> <ui-select-choices
									repeat="allRoles in info.userRoles | orderBy:'toString()' | filter:$select.search">
								{{allRoles}} </ui-select-choices> </ui-select>
								<label style="position: absolute; top: -22px;">Roles<b class="mandatory">*</b></label>
							</div>
							<div class="input-field col s6">
								<ui-select multiple ng-model="userToEdit.skills" theme="select2"
									ng-keypress="myFunct($event)" name='sk.skills' theme="select2">
								<ui-select-match placeholder="Select Skills...">{{$item}}</ui-select-match>
								<ui-select-choices
									repeat="skill in info.skills | orderBy:'toString()' | filter:$select.search">
								{{skill}} </ui-select-choices> </ui-select>
								<label style="position: absolute; top: -22px;">Skills</label>
							</div>
						</div>
						<br>
						<!-- <div class="row">
							<div class="input-field col s6">
								<ui-select multiple ng-model="userToEdit.clientName"
									theme="select2" ng-keypress="myFunct($event)"> <ui-select-match
									placeholder="Select Clients..">{{$item}}</ui-select-match> <ui-select-choices
									repeat="client in clientList | orderBy:'toString()' | filter:$select.search">
								{{client}}</ui-select-choices> </ui-select>
								<label style="position: absolute; top: -22px;">Clients</label>
							</div>
						</div>
 -->
						<!-- <div class="card teal lighten-2" ng-init="isCollapsed = !isCollapsed">
							<span style="color: grey; font-size: large;">Time Slots</span>
							<div class="card-action">
								<div class="row" align="left" style="padding-bottom: 1%;">
									<div align="center" class="control-group"">
										<label class="lbl">Not Available : <input
											type="checkbox" ng-model="userToEdit.isNotAvailable">
										</label><br />
										<fieldset ng-disabled="userToEdit.isNotAvailable">
											<table id="timeSLots" ng-disabled="userToEdit.isNotAvailable">
												<tr>
													<th>Day</th>
													<th>Time</th>
													<th>Hour</th>
													<th><button class="btn btn-primary"
															ng-click="addSlot()">
															<span class="glyphicon glyphicon-plus"></span>
														</button></th>
												</tr>
												<tr ng-repeat="slot in userToEdit.timeSlots">
													<td><div>
															<select ng-model='slot.day'
																ng-options='day for day in days'>
																<option value="">Select Day</option>
															</select>
														</div></td>
													<td><div>
															<timepicker ng-model="slot.time" ng-change="changed()"
																hour-step="1" minute-step="10" show-meridian="true"
																arrowkeys="false"></timepicker>
														</div></td>
													<td>
														<div>
															<selectng-model
																='slot.hour'
														ng-options='hour for hour in hours'>
															<option value="">Select Hour</option>
															</select>
														</div>
													</td>
													<td>
														<button class="btn btn-primary"
															ng-click="removeSlot($index)">
															<span class="glyphicon glyphicon-remove"></span>
														</button>
													</td>
												</tr>
											</table>
										</fieldset>
									</div>
								</div>
							</div>
						</div> -->
						<div class="row">
							<div class="input-field col s11">
								<button class="btn btn-info active"
									ng-disabled="EditUserInfo.$invalid" ng-click="update()"
									type="submit">
									<span class="glyphicon glyphicon-ok-circle"></span> Save
								</button>
								&nbsp;
								<button class="btn btn-info active" ui-sref="admin.users.list">
									<span class="glyphicon glyphicon-remove"></span> Cancel
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<style>
.form-group {
	text-align: left;
	padding-bottom: 2%;
}
</style>