<div ng-show="message" ng-include="'notificationTemplate.html'"></div>

<div ng-hide="dis">
	<div class="row" style="width: 90%">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<input class="form-control" ng-model="search"
				ng-change="changePage()" placeholder="" type="text"
				data-tooltip="Search Skill"><a class="btn-floating" ng-click="alHide();Skills1()"
				data-tooltip="Add Skill"><i class="material-icons">add</i></a>
		</div>
	</div>
	<table class="ui striped table searchTable" style="width: 50%">
		
		<thead>
		<tr>
			<!-- <th width="20%">#</th> -->
			<th width="60%">SKILLS</th>
			<th width="40%">DELETE</th>
		</tr>
		</thead>
		<tr class="animate-repeat"
		
			ng-repeat="skill in filtered = (skills | filter:search) |  offset: (currentPage)*itemsPerPage | limitTo: itemsPerPage">
			<!-- <td>{{$index +1}}</td> -->
			<!-- <td>{{((currentPage)*itemsPerPage +1)}}</td> -->
			<td class="td-style">{{skill}}</td>
			<td align="center"><a class="glyphicon glyphicon-remove"
				ng-click="deleteSkill(skill)" data-tooltip="Delete Skill"></a></td>
		</tr>
	</table>
	<br>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-2">
			<h5>
				<big>Total Skills : {{ filtered.length }}</big>
			</h5>
		</div>

		<div class="col-md-4">
			<ul class="pagination1 pull-right" style="cursor:pointer">
				<li ng-class="{disabled: currentPage == 0}"><a
					ng-click="prevPage()"><i class="material-icons">chevron_left</i></a></li>
				<li ng-repeat="n in range(currentPage)"
					ng-class="{active: n == currentPage}" ng-click="setPage()"><a
					ng-bind="n + 1"></a></li>
				<li class="waves-effect"
					ng-class="{disabled: currentPage == pageCount()}"><a
					ng-click="nextPage()"><i class="material-icons">chevron_right</i></a></li>
			</ul>
		</div>
	</div>
</div>
<br>
<br>

<div class="row" ng-hide="dis2">
	<div class="col-md-2 col-sm-2 col-xs-2 "></div>
	<form class="col s8" name="AddSkills" onvalidate
		style="background-color: #fff; border-radius: 10px; padding-top: 1%; border: 1px solid whitesmoke;">
		<div class="row">
			<div class="input-field col s6" style="left: 40">
				<div class="card teal lighten-2">
					<span style="color: grey; font-size: large;">Add Skills</span>
					<div class="card-action" style="background-color: white;">
						<div class="row">
							<div class="input-field col s6" align="center">
								<input class="form-control" type="text" name="skill" ng-model="newSkill" ng-pattern="/^[a-zA-Z][a-zA-Z0-9\(\) +._&#]*$/"
									placeholder="Enter Skill..." ng-change="checkSkillSet()" required> <label
									class="lbl"> <i class="glyphicon glyphicon-book"></i>&nbsp;&nbsp;Skill<b class="mandatory">*</b>
								</label>
								<span class="validation-error" ng-show="skillExist">This skill already exist</span>
								<div class="validation-error" 
								ng-show="(AddSkills.skill.$dirty || invalidSubmitAttempt) && AddSkills.skill.$error.pattern">Enter valid Skill
								</div>
							</div>
							<div class="input-field col s6" align="center">
								<button class="btn btn-info active"
									ng-disabled="AddSkills.$invalid || skillExist" ng-click="save();"
									type="submit">
									<span class="glyphicon glyphicon-ok-circle"></span> Save
								</button>
								&nbsp;
								<button class="btn btn-info active" ng-click="cancel();">
									<span class="glyphicon glyphicon-remove"></span> Cancel
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<br>
