<br>
<div class="row" align="center">
	<div class="col-md-2 col-sm-2 col-xs-2 "></div>
	<form class="col s8" name="clientForm" onvalidate
		style="background-color: #fff; border-radius: 10px; padding-top: 1%; border: 1px solid whitesmoke; width: 70%;">
		<div class="row">
			<div class="input-field col s6">
				 <input placeholder="Enter Client Name" ng-maxlength="30" name="clientName"
				    class="form-control" type="text"
					ng-model="client.clientName" ng-pattern="/^[a-zA-Z _']*$/" ng-change="checkClientName()">
					<label class="lbl">Client Name: <b class="mandatory">*</b></label>
					<span ng-show="clietNameError" class="validation-error">Client name already exist</span>
					<span class="validation-error"
						ng-show="clientForm.clientName.$error.pattern">
						Enter valid name</span>
			</div>
			<div class="input-field col s6" align="center">
				<select placeholder="Select Location" ng-model="client.locations"
					ng-options="o as o for o in plocation" 
					class="form-control input-sm" required>
					<option value="" disabled="disabled">{{client.locations}}</option>
				</select> <label>Location<b class="mandatory">*</b></label>
			</div>
		</div>
		
		<div class="row" ng-show="client.locations=='Others'">
			<div class="input-field col s6">
				<label class="lbl"> <i
					class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Other
					Location<b class="mandatory">*</b>
				</label> <input type="text" name="olocation" id="olocation"
					style="top: 1px; height: 29px" 
					placeholder="Enter Location Name" ng-model="otherLocation" ng-pattern="/^[a-zA-Z _]*$/" ng-required="client.locations=='Others'"
					ng-minlength="3">

				<div class="validation-error"
					ng-show="(clientForm.olocation.$dirty || invalidSubmitAttempt) && clientForm.olocation.$error.minlength">
					Other Location must be at least 3 characters .</div>
				<div class="validation-error"
					ng-show="(clientForm.olocation.$dirty || invalidSubmitAttempt) && clientForm.olocation.$error.pattern">
					Other Location must be characters only.</div>		
			</div>
		</div>
		<br>
		<div align="center" class="row">
			<div align="center" class="input-field col s11">
				<button class="btn btn-primary" ng-disabled="clientForm.$invalid || clietNameError"
				 type="submit" ng-click="updateClient()">
					<span class="glyphicon glyphicon-ok-circle"></span> Save
				</button>
				<button class="btn btn-primary" ui-sref="admin.client.list">
					<span class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>
		</div>
	</form>
	<div class="col-md-2 col-sm-2 col-xs-2 "></div>
</div>
<br><br>