<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2"></div>
	<h5 class="col-md-8 col-sm-8 col-xs-8" align="left">Edit Job
		Description : {{deg.jobDescriptionName}}</h5>
</div>
<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 "></div>
	<form class="col s8" name="CreateRequisition" onvalidate
		style="background-color: #fff; border-radius: 10px; padding-top: 1%; border: 1px solid whitesmoke;">
		<div class="row">
			<div class="input-field col s6">
				<input type="text" style="height: 33px; margin-left: 0%;"
					ng-bind="deg.jobDescriptionName" ng-model="deg.jobDescriptionName"
					name="jobDescription" disabled="true"> 
					<label>Job Description Name<b class="mandatory">*</b></label>
			</div>

			<div class="input-field col s6">
				<ui-select multiple ng-model="deg.skills"
					ng-keypress="myFunct($event)" theme="select2" ui-select-required
					ng-change="validateSkills(deg.skills)" ng-disabled="disabled">
				<ui-select-match placeholder="Select Skills..">{{$item}}</ui-select-match>
				<ui-select-choices
					repeat="color in pskills | orderBy:'toString()' | filter:$select.search">
				{{color}} </ui-select-choices> </ui-select>
				<label  style="position: absolute; top: -22px;">Skills<b class="mandatory">*</b></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<select ng-options="o.clientName for o in clients" ng-disabled="true"
								ng-model="client"
								class="form-control input-sm" id="client" required>
								<option value='' disabled="disabled"></option>
					</select> <label>Client<b class="mandatory">*</b></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<label>Job Description Details<b class="mandatory">*</b>&nbsp;&nbsp;&nbsp;<small>(500 chars)</small></label>
			</div>
			<br>
			<div class="input-field col s12">
				<textarea id="textarea1" class="materialized-textarea" 
					ng-keyup="jdDetailsCharLimit(deg.jobDescriptionDetails)"
					ng-model="deg.jobDescriptionDetails"
					ng-change="validateJDDetails(deg.jobDescriptionDetails)"
					placeholder="Enter job description details..." required></textarea>
					<span class="validation-error" ng-show="jdDescritptionErr">Job Description Details exceeded 500 chars.</span>	
			</div>
		</div>

		<br>
		<div align="center">
			<button class="btn btn-primary" type="submit"
				ng-disabled="disableBtn || jdDescritptionErr" ng-click="submit()">
				<span class="glyphicon glyphicon-ok-circle"></span> Save
			</button>
			&nbsp;&nbsp;&nbsp;&nbsp; <a ui-sref="admin.jobDescription.list"
				class="btn btn-info active"> <span
				class="glyphicon glyphicon-remove"></span> Cancel
			</a>
		</div>
		<br>
	</form>
</div>